# Python cache
__pycache__/
*.pyc

# Virtual environment
env/

# PTVS analysis
.ptvs/

# Build results
bin/
obj/
dist/
MANIFEST

# Result of running python setup.py install/pip install -e
RECORD.txt
build/
*.egg-info/

# Test results
TestResults/

# Credentials 
testsettings_local.json
settings_real.py

# User-specific files
*.suo
*.user
*.sln.docstates
.vs/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

.idea
src/build
*.iml
/doc/_build
/.vs/config/applicationhost.config

# Azure deployment credentials
*.pubxml

# code coverage
.coverage
.cache/
