interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:49:27 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/share41961029?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D456CED3692ACB"']
      Last-Modified: ['Fri, 17 Feb 2017 00:49:27 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:49:27 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&prefix=share41961029
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>share41961029</Prefix><Shares><Share><Name>share41961029</Name><Properties><Last-Modified>Fri,
        17 Feb 2017 00:49:27 GMT</Last-Modified><Etag>\"0x8D456CED3692ACB\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
