interactions:
- request:
    body: '{"birthday": "1970-10-04T00:00:00Z", "Birthday": "1973-10-04T00:00:00Z",
      "sex": "male", "large@odata.type": "Edm.Int64", "PartitionKey": "pkabcb1791",
      "deceased": false, "birthday@odata.type": "Edm.DateTime", "optional": null,
      "large": "933311100", "other": 20, "age": "39", "married": true, "clsid@odata.type":
      "Edm.Guid", "Birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "RowKey":
      "rkabcb1791", "evenratio": 3.0, "ratio": 3.1, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "age@odata.type": "Edm.Int64", "binary@odata.type": "Edm.Binary"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 17 Feb 2017 00:56:16 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/uttableabcb1791
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttableabcb1791(PartitionKey=''pkabcb1791'',RowKey=''rkabcb1791'')']
      ETag: [W/"datetime'2017-02-17T00%3A56%3A16.6880636Z'"]
      Location: ['https://storagename.table.core.windows.net/uttableabcb1791(PartitionKey=''pkabcb1791'',RowKey=''rkabcb1791'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: '{"birthday": "1991-10-04T00:00:00Z", "age": "abc", "sex": "female", "RowKey":
      "rkabcb1791", "sign": "aquarius", "PartitionKey": "pkabcb1791", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: [W/"datetime'2012-06-15T22%3A51%3A44.9662825Z'"]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 17 Feb 2017 00:56:16 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.table.core.windows.net/uttableabcb1791(PartitionKey='pkabcb1791',RowKey='rkabcb1791')
  response:
    body: {string: '{"odata.error":{"code":"UpdateConditionNotSatisfied","message":{"lang":"en-US","value":"The
        update condition specified in the request was not satisfied.\nRequestId:4f8a1315-0002-0019-23b8-881280000000\nTime:2017-02-17T00:56:16.8020723Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2016-05-31']
    status: {code: 412, message: Precondition Failed}
version: 1
