interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:24 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "AIcXE4aVlZpYyOBUGKNpbYgux/PcUeTmYlAClFdUXAA=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "Qp92c8/wK91iyZd0NVGOeGPWiCFxjsLFIysi9u9GA6QOa4muFq/gzA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "7oRMT5ewlk/WJjs9fOlZbA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.1.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:25 GMT']
      x-ms-version: ['2017-07-29']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>46893191-033a-448d-8f4b-c921632a4210</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:31:24 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:31:24 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAhh0JcNme0wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 05 Feb 2018 23:31:24 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:25 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>46893191-033a-448d-8f4b-c921632a4210</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:31:24 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:31:24 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAATCrxgdme0wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 05 Feb 2018 23:31:54 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"AIcXE4aVlZpYyOBUGKNpbYgux/PcUeTmYlAClFdUXAA=\"\
        , \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\"\
        : \"Qp92c8/wK91iyZd0NVGOeGPWiCFxjsLFIysi9u9GA6QOa4muFq/gzA==\", \"Algorithm\"\
        : \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\"\
        : \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"7oRMT5ewlk/WJjs9fOlZbA==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 1.1.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "TOzcwSfzwZvGhInKyLO6eUjzd8NqPxN+LJQ8/vCPRhE=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "H1/4Xr/vXNJmwPkE4mTNBx2BrSOZjVwjQ1GB+1kbL1mmw/nOKskbWQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "YoTjYyK9OAN1plrzaa+/Zw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.1.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:25 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749/messages/46893191-033a-448d-8f4b-c921632a4210?popreceipt=AgAAAAMAAAAAAAAATCrxgdme0wE%3D&visibilitytimeout=0
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAD58XcNme0wEBAAAA]
      x-ms-time-next-visible: ['Mon, 05 Feb 2018 23:31:24 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:25 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>46893191-033a-448d-8f4b-c921632a4210</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:31:24 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:31:24 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAdQ//gdme0wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 05 Feb 2018 23:31:54 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"TOzcwSfzwZvGhInKyLO6eUjzd8NqPxN+LJQ8/vCPRhE=\"\
        , \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\"\
        : \"H1/4Xr/vXNJmwPkE4mTNBx2BrSOZjVwjQ1GB+1kbL1mmw/nOKskbWQ==\", \"Algorithm\"\
        : \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\"\
        : \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"YoTjYyK9OAN1plrzaa+/Zw==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 1.1.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
version: 1
