interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:46:11 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4CA1F6EDAAE6D"']
      Last-Modified: ['Thu, 13 Jul 2017 18:46:11 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2017-07-13T18:45:12Z</Start><Expiry>2017-07-13T19:46:12Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:46:12 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4CA1F6EDAAE6E"']
      Last-Modified: ['Thu, 13 Jul 2017 18:46:11 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:46:12 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2017-07-13T18:45:12.0000000Z</Start><Expiry>2017-07-13T19:46:12.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D4CA1F6EDAAE6E"']
      Last-Modified: ['Thu, 13 Jul 2017 18:46:11 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
