interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:25 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "hJMHaDR/zxcFKKObDj2KsQ==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "jny+CDtH71iMPA9s2YK5t0A59hOAfoGbuuhCgpgZTkCdrWVTDuQPHg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "U2CqmvljAFq7tHGPCrgl/A==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.1.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:26 GMT']
      x-ms-version: ['2017-07-29']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fba204c2-8bdc-48c5-977d-b59de5c7e436</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:31:25 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:31:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAjrmicNme0wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 05 Feb 2018 23:31:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:26 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fba204c2-8bdc-48c5-977d-b59de5c7e436</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:31:25 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:31:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA3gKKgtme0wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 05 Feb 2018 23:31:55 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"hJMHaDR/zxcFKKObDj2KsQ==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"jny+CDtH71iMPA9s2YK5t0A59hOAfoGbuuhCgpgZTkCdrWVTDuQPHg==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"U2CqmvljAFq7tHGPCrgl/A==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 1.1.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "qavBZ3N1xR2FPVme2MQfFQ==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "s11XVJBrf1w4yYRfj7riAvdiZFD833IgsfykkheifG6p7OhJMVec4Q==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "OnL1wBHvH333trG5+woCRA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.1.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:26 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages/fba204c2-8bdc-48c5-977d-b59de5c7e436?popreceipt=AgAAAAMAAAAAAAAA3gKKgtme0wE%3D&visibilitytimeout=0
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAA6T6vcNme0wEBAAAA]
      x-ms-time-next-visible: ['Mon, 05 Feb 2018 23:31:25 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:26 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fba204c2-8bdc-48c5-977d-b59de5c7e436</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:31:25 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:31:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABjqWgtme0wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 05 Feb 2018 23:31:55 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"qavBZ3N1xR2FPVme2MQfFQ==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"s11XVJBrf1w4yYRfj7riAvdiZFD833IgsfykkheifG6p7OhJMVec4Q==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"OnL1wBHvH333trG5+woCRA==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 1.1.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
version: 1
