interactions:
- request:
    body: '{"TableName": "querytable264f151d"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 17 Feb 2017 00:55:50 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''querytable264f151d'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''querytable264f151d'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: '--batch_d3910176-f4ab-11e6-b7f9-64510640cc62

      Content-Type: multipart/mixed; boundary=changeset_d3910177-f4ab-11e6-9c6c-64510640cc62


      --changeset_d3910177-f4ab-11e6-9c6c-64510640cc62

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytable264f151d HTTP/1.1

      Content-ID: 1

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Type: application/json

      Content-Length: 556


      {"birthday": "1970-10-04T00:00:00Z", "Birthday": "1973-10-04T00:00:00Z", "PartitionKey":
      "pk264f151d", "large@odata.type": "Edm.Int64", "sex": "male", "deceased": false,
      "birthday@odata.type": "Edm.DateTime", "optional": null, "large": "933311100",
      "other": 20, "age": "39", "married": true, "clsid@odata.type": "Edm.Guid", "Birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "RowKey": "rk264f151d1", "evenratio":
      3.0, "ratio": 3.1, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "age@odata.type":
      "Edm.Int64", "binary@odata.type": "Edm.Binary"}


      --changeset_d3910177-f4ab-11e6-9c6c-64510640cc62

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytable264f151d HTTP/1.1

      Content-ID: 2

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Type: application/json

      Content-Length: 557


      {"birthday": "1970-10-04T00:00:00Z", "Birthday": "1973-10-04T00:00:00Z", "PartitionKey":
      "pk264f151d", "large@odata.type[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 17 Feb 2017 00:55:50 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/querytable264f151d()
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable264f151d","value":[{"odata.type":"storagename.querytable264f151d","odata.id":"https://storagename.table.core.windows.net/querytable264f151d(PartitionKey=''pk264f151d'',RowKey=''rk264f151d1'')","odata.etag":"W/\"datetime''2017-02-17T00%3A55%3A50.5819356Z''\"","odata.editLink":"querytable264f151d(PartitionKey=''pk264f151d'',RowKey=''rk264f151d1'')","PartitionKey":"pk264f151d","RowKey":"rk264f151d1","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2017-02-17T00:55:50.5819356Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","sex":"male","deceased":false,"large@odata.type":"Edm.Int64","large":"933311100","other":20,"age@odata.type":"Edm.Int64","age":"39","married":true,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","evenratio":3.0,"ratio":3.1,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"},{"odata.type":"storag[...]
