interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:34:35 GMT']
      x-ms-version: ['2017-11-09']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queueb3920bee
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-11-09']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:34:36 GMT']
      x-ms-version: ['2017-11-09']
    method: POST
    uri: https://storagename.queue.core.windows.net/queueb3920bee/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>71c0f262-3e37-4a5d-82e3-fd9ae0c7eec7</MessageId><InsertionTime>Tue,
        22 May 2018 23:34:36 GMT</InsertionTime><ExpirationTime>Tue, 29 May 2018 23:34:36
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAIpvWcSXy0wE=</PopReceipt><TimeNextVisible>Tue,
        22 May 2018 23:34:36 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-11-09']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:34:36 GMT']
      x-ms-version: ['2017-11-09']
    method: GET
    uri: https://storagename.queue.core.windows.net/queueb3920bee/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>71c0f262-3e37-4a5d-82e3-fd9ae0c7eec7</MessageId><InsertionTime>Tue,
        22 May 2018 23:34:36 GMT</InsertionTime><ExpirationTime>Tue, 29 May 2018 23:34:36
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-11-09']
    status: {code: 200, message: OK}
version: 1
