interactions:
- request:
    body: !!python/unicode '{"sex": "wObPwQZObONgI4wQaH3XYw==", "birthday@odata.type":
      "Edm.DateTime", "evenratio": 3.0, "binary": "YmluYXJ5", "ratio": 3.1, "large@odata.type":
      "Edm.Int64", "Birthday@odata.type": "Edm.DateTime", "Birthday": "1973-10-04T00:00:00Z",
      "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "RowKey": "rk15071980", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "name@odata.type": "Edm.Binary", "birthday": "1970-10-04T00:00:00Z",
      "binary@odata.type": "Edm.Binary", "optional": null, "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"m+tIXhVAdNC+J6h5n+HuQrbIdO2UhtGfATfYUbjcRzibaStOHdVJTg==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"MV16aB6t2oOHhX/HNxkyHA==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.36.0\"}}", "_ClientEncryptionMetadata2":
      "rhJspuJBxTI9JdzGBasQ/A==", "sex@odata.type": "Edm.Binary", "age@odata.type":
      "Edm.Int64", "name": "Tf+l1kJ9wkrTW+0Dc5Xj8g==", "clsid@odata.type": "Edm.Guid",
      "married": true, "large": "933311100", "PartitionKey": "pk15071980", "other":
      20, "age": "39", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 18 Aug 2017 23:13:05 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable15071980
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttable15071980(PartitionKey=''pk15071980'',RowKey=''rk15071980'')']
      etag: [W/"datetime'2017-08-18T23%3A13%3A05.9274357Z'"]
      location: ['https://storagename.table.core.windows.net/uttable15071980(PartitionKey=''pk15071980'',RowKey=''rk15071980'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:13:05 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable15071980(PartitionKey='pk15071980',RowKey='rk15071980')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable15071980/@Element","odata.etag":"W/\"datetime''2017-08-18T23%3A13%3A05.9274357Z''\"","PartitionKey":"pk15071980","RowKey":"rk15071980","Timestamp":"2017-08-18T23:13:05.9274357Z","sex@odata.type":"Edm.Binary","sex":"wObPwQZObONgI4wQaH3XYw==","evenratio":3.0,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","ratio":3.1,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"m+tIXhVAdNC+J6h5n+HuQrbIdO2UhtGfATfYUbjcRzibaStOHdVJTg==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"MV16aB6t2oOHhX/HNxkyHA==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.36.0\"}}","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"rhJspuJBxTI9JdzGBasQ/A==","name@odata.type":"Edm.Binary","name":"Tf+l1kJ9wkrTW+0Dc5Xj8g==","married":true,"large@odata.type":"Edm.Int64","large":"933311100","other":20,"age@odata.type":"Edm.Int64","age":"39","deceased":false}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-08-18T23%3A13%3A05.9274357Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
