interactions:
- request:
    body: AAA
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:16:06 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer32b01530/blob32b01530?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: ''}
    headers:
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: BBB
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:16:07 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer32b01530/blob32b01530?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: ''}
    headers:
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: CCC
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:16:07 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer32b01530/blob32b01530?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: ''}
    headers:
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>NA==</Latest></BlockList>'
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:16:07 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer32b01530/blob32b01530?comp=blocklist
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidBlockList</Code><Message>The
        specified block list is invalid.\nRequestId:0a1fe6d1-701e-0023-501b-0808f8000000\nTime:2018-06-19T22:16:07.5663213Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [InvalidBlockList]
      x-ms-version: ['2018-03-28']
    status: {code: 400, message: The specified block list is invalid.}
version: 1
