interactions:
- request:
    body: '{"PartitionKey": "pkbe9d1303", "RowKey": "rkbe9d1303fullmetadata", "age":
      "39", "age@odata.type": "Edm.Int64", "sex": "oBVAL0ufVRRouR9vI/CvsA==", "sex@odata.type":
      "Edm.Binary", "name": "j3wi0OhunfkUI9WN/E9I2A==", "name@odata.type": "Edm.Binary",
      "married": true, "deceased": false, "optional": null, "evenratio": 3.0, "ratio":
      3.1, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid",
      "_ClientEncryptionMetadata2": "5rFtOfqQiuVbPkfWfMcJ/A==", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "_ClientEncryptionMetadata1": "{\"WrappedContentKey\": {\"KeyId\":
      \"key1\", \"EncryptedKey\": \"ceHPLow6Hpx+2NX9dJsJXlXVfZrLK6Z13UyrC8Jkjy1ZTgNIutwhHw==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"LBXjOLRsNRdPV54Wwfro8g==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.36.0\"}}"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 22 Aug 2017 22:09:00 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttablebe9d1303
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttablebe9d1303(PartitionKey=''pkbe9d1303'',RowKey=''rkbe9d1303fullmetadata'')']
      ETag: [W/"datetime'2017-08-22T22%3A09%3A00.3899838Z'"]
      Location: ['https://storagename.table.core.windows.net/uttablebe9d1303(PartitionKey=''pkbe9d1303'',RowKey=''rkbe9d1303fullmetadata'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 22 Aug 2017 22:09:00 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttablebe9d1303(PartitionKey='pkbe9d1303',RowKey='rkbe9d1303fullmetadata')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablebe9d1303/@Element","odata.type":"storagename.uttablebe9d1303","odata.id":"https://storagename.table.core.windows.net/uttablebe9d1303(PartitionKey=''pkbe9d1303'',RowKey=''rkbe9d1303fullmetadata'')","odata.etag":"W/\"datetime''2017-08-22T22%3A09%3A00.3899838Z''\"","odata.editLink":"uttablebe9d1303(PartitionKey=''pkbe9d1303'',RowKey=''rkbe9d1303fullmetadata'')","PartitionKey":"pkbe9d1303","RowKey":"rkbe9d1303fullmetadata","Timestamp@odata.type":"Edm.DateTime","Timestamp":"2017-08-22T22:09:00.3899838Z","age@odata.type":"Edm.Int64","age":"39","sex@odata.type":"Edm.Binary","sex":"oBVAL0ufVRRouR9vI/CvsA==","name@odata.type":"Edm.Binary","name":"j3wi0OhunfkUI9WN/E9I2A==","married":true,"deceased":false,"evenratio":3.0,"ratio":3.1,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"5rFtOfqQiuVbPkfWfMcJ/A==","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"ceHPLow6Hpx+2NX9dJsJXlXVfZrLK6Z13UyrC8Jkjy1ZTgNIutwhHw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"LBXjOLRsNRdPV54Wwfro8g==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.36.0\"}}"}'}
    headers:
      Content-Type: [application/json;odata=fullmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-08-22T22%3A09%3A00.3899838Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 22 Aug 2017 22:09:00 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttablebe9d1303(PartitionKey='pkbe9d1303',RowKey='rkbe9d1303minimalmetadata')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablebe9d1303/@Element","odata.etag":"W/\"dateti[...]
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 22 Aug 2017 22:09:00 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttablebe9d1303(PartitionKey='pkbe9d1303',RowKey='rkbe9d1303nometadata')
  response:
    body: {string: '{"PartitionKey":"pkbe9d1303","RowKey":"rkbe9d1303nometadata","Timestamp":"2017-08-22T22:09:00.5450914Z","age":"39","sex":"Eaqg4vG5k0dXfXEuLCDYQw==","name":"RXJMH9s7YOrouxk+gEE03w==","married":true,"deceased":false,"evenratio":3.0,"ratio":3.1,"large":"933311100","Birthday":"1973-10-04T00:00:00Z","birthday":"1970-10-04T00:00:00Z","binary":"YmluYXJ5","other":20,"clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","_ClientEncryptionMetadata2":"jXyQ9xjmYIq0t39FNBYZ+w==","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"CGaKPntUezDIjgZ/zrUvFZBFV7f+W9wzPzu6LSabBSdKtDkevXXRVQ==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"r+RhNXtIQCUYS8+QB/XnXQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.36.0\"}}"}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-08-22T22%3A09%3A00.5450914Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
