interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Nov 2017 23:03:29 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuebef712f8
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 17 Nov 2017 23:03:29 GMT']
      x-ms-version: ['2017-07-29']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuebef712f8/messages?messagettl=1073741824
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2eb9c008-c248-4d38-ae92-917efbd4960b</MessageId><InsertionTime>Fri,\
        \ 17 Nov 2017 23:03:30 GMT</InsertionTime><ExpirationTime>Mon, 27 Nov 2051\
        \ 12:40:34 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAOfrsSPhf0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 17 Nov 2017 23:03:30 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Nov 2017 23:03:30 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuebef712f8/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2eb9c008-c248-4d38-ae92-917efbd4960b</MessageId><InsertionTime>Fri,\
        \ 17 Nov 2017 23:03:30 GMT</InsertionTime><ExpirationTime>Mon, 27 Nov 2051\
        \ 12:40:34 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
version: 1
