interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:15:08 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptionData": {"WrappedContentKey": {"KeyId":
      "key1", "EncryptedKey": "U3uJOUNiR7xQl6jPSx9mgASOS8tc5idxteQAm8/cVS+9p041I6fUOw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "e7KTCmTLwJHCVqd83iLRTg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.33.0"}}, "EncryptedMessageContents": "yiBioHdUt0ZRtnIoBae6HljlG7krVuvc2QgR/7a26B0="}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:15:09 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:15:09 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>31de4d73-3e4f-4fa2-a992-89ce2e8bd081</MessageId><InsertionTime>Wed,\
        \ 10 Aug 2016 18:15:07 GMT</InsertionTime><ExpirationTime>Wed, 17 Aug 2016\
        \ 18:15:07 GMT</ExpirationTime><DequeueCount>1</DequeueCount><PopReceipt>AgAAAAMAAAAAAAAA/k7WMTPz0QE=</PopReceipt><TimeNextVisible>Wed,\
        \ 10 Aug 2016 18:15:37 GMT</TimeNextVisible><MessageText>{\"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"U3uJOUNiR7xQl6jPSx9mgASOS8tc5idxteQAm8/cVS+9p041I6fUOw==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"e7KTCmTLwJHCVqd83iLRTg==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.33.0\"}}, \"\
        EncryptedMessageContents\": \"yiBioHdUt0ZRtnIoBae6HljlG7krVuvc2QgR/7a26B0=\"\
        }</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
