interactions:
- request:
    body: '{"PartitionKey": "pkac7612b8", "RowKey": "rkac7612b8", "Description": "\ua015"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 14 Jun 2017 06:25:43 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/uttableac7612b8
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttableac7612b8(PartitionKey=''pkac7612b8'',RowKey=''rkac7612b8'')']
      ETag: [W/"datetime'2017-06-14T06%3A25%3A44.1778988Z'"]
      Location: ['https://storagename.table.core.windows.net/uttableac7612b8(PartitionKey=''pkac7612b8'',RowKey=''rkac7612b8'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 14 Jun 2017 06:25:44 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/uttableac7612b8()?%24filter=PartitionKey+eq+%27pkac7612b8%27
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableac7612b8","value":[{"odata.etag":"W/\"datetime''2017-06-14T06%3A25%3A44.1778988Z''\"","PartitionKey":"pkac7612b8","RowKey":"rkac7612b8","Timestamp":"2017-06-14T06:25:44.1778988Z","Description":"\ua015"},{"odata.etag":"W/\"datetime''2017-06-14T06%3A25%3A44.2059197Z''\"","PartitionKey":"pkac7612b8","RowKey":"test2","Timestamp":"2017-06-14T06:25:44.2059197Z","Description":"\ua015"}]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
