interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:20:33 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4B2ED76B0986D"']
      Last-Modified: ['Wed, 14 Jun 2017 06:20:33 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:20:33 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4B2ED76531E25"']
      Last-Modified: ['Wed, 14 Jun 2017 06:20:32 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Wed, 14 Jun 2017 06:20:33 GMT']
      x-ms-type: [file]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/file1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4B2ED765FA3A2"']
      Last-Modified: ['Wed, 14 Jun 2017 06:20:32 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:20:33 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/pref_dir3?restype=directory
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4B2ED76659834"']
      Last-Modified: ['Wed, 14 Jun 2017 06:20:32 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-content-length: ['1025']
      x-ms-date: ['Wed, 14 Jun 2017 06:20:33 GMT']
      x-ms-type: [file]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/pref_file2
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4B2ED766C7753"']
      Last-Modified: ['Wed, 14 Jun 2017 06:20:32 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-content-length: ['1025']
      x-ms-date: ['Wed, 14 Jun 2017 06:20:33 GMT']
      x-ms-type: [file]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/file3
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4B2ED767244CE"']
      Last-Modified: ['Wed, 14 Jun 2017 06:20:33 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:20:33 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.file.core.windows.net/share625f1644/dir1?restype=directory&comp=list&prefix=pref
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        share625f1644\" DirectoryPath=\"dir1\"><Prefix>pref</Prefix><Entries><Directory><Name>pref_dir3</Name><Properties\
        \ /></Directory><File><Name>pref_file2</Name><Properties><Content-Length>1025</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
