interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:20:38 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4B2ED79AC314C"']
      Last-Modified: ['Wed, 14 Jun 2017 06:20:38 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2017-06-14T06:19:38Z</Start><Expiry>2017-06-14T07:20:38Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:20:38 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4B2ED7A0F3CA4"']
      Last-Modified: ['Wed, 14 Jun 2017 06:20:39 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:20:39 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2017-06-14T06:19:38.0000000Z</Start><Expiry>2017-06-14T07:20:38.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D4B2ED7A0F3CA4"']
      Last-Modified: ['Wed, 14 Jun 2017 06:20:39 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
