interactions:
- request:
    body: !!python/unicode '{"sex": "4wwX61VJ7KBYYvWZ2TuwiQ==", "birthday@odata.type":
      "Edm.DateTime", "evenratio": 3.0, "binary": "YmluYXJ5", "ratio": 3.1, "large@odata.type":
      "Edm.Int64", "Birthday@odata.type": "Edm.DateTime", "Birthday": "1973-10-04T00:00:00Z",
      "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "RowKey": "rk24fb1d97", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "name@odata.type": "Edm.Binary", "birthday": "1970-10-04T00:00:00Z",
      "binary@odata.type": "Edm.Binary", "optional": null, "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"3BKnftiaEvCrNrgP2UcMq+yQ6xArD2bSznhnbhUADvIRw1uiYuTOSQ==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"miITb4FkPjmpZPgnhgBTjQ==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.36.0\"}}", "_ClientEncryptionMetadata2":
      "9rSWX3ZMib74b6dqYUlJPg==", "sex@odata.type": "Edm.Binary", "age@odata.type":
      "Edm.Int64", "name": "vxjmbs0co/TuapvDdAAeTQ==", "clsid@odata.type": "Edm.Guid",
      "married": true, "large": "933311100", "PartitionKey": "pk24fb1d97", "other":
      20, "age": "39", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 18 Aug 2017 23:12:59 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable24fb1d97
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttable24fb1d97(PartitionKey=''pk24fb1d97'',RowKey=''rk24fb1d97'')']
      etag: [W/"datetime'2017-08-18T23%3A13%3A00.2330757Z'"]
      location: ['https://storagename.table.core.windows.net/uttable24fb1d97(PartitionKey=''pk24fb1d97'',RowKey=''rk24fb1d97'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:13:00 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable24fb1d97(PartitionKey='pk24fb1d97',RowKey='rk24fb1d97')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable24fb1d97/@Element","odata.etag":"W/\"datetime''2017-08-18T23%3A13%3A00.2330757Z''\"","PartitionKey":"pk24fb1d97","RowKey":"rk24fb1d97","Timestamp":"2017-08-18T23:13:00.2330757Z","sex@odata.type":"Edm.Binary","sex":"4wwX61VJ7KBYYvWZ2TuwiQ==","evenratio":3.0,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","ratio":3.1,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"3BKnftiaEvCrNrgP2UcMq+yQ6xArD2bSznhnbhUADvIRw1uiYuTOSQ==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"miITb4FkPjmpZPgnhgBTjQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.36.0\"}}","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"9rSWX3ZMib74b6dqYUlJPg==","name@odata.type":"Edm.Binary","name":"vxjmbs0co/TuapvDdAAeTQ==","married":true,"large@odata.type":"Edm.Int64","large":"933311100","other":20,"age@odata.type":"Edm.Int64","age":"39","deceased":false}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-08-18T23%3A13%3A00.2330757Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
