interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:18:19 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container39251586?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14AB3A5E79D"']
      Last-Modified: ['Wed, 10 Aug 2016 18:18:17 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Wed, 10 Aug 2016 18:18:19 GMT']
      x-ms-meta-name: [bob]
      x-ms-meta-number: ['1']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container39251586/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D3C14AB3F9F642"']
      Last-Modified: ['Wed, 10 Aug 2016 18:18:18 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:18:19 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container39251586/blob1?comp=snapshot
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14AB3F9F642"']
      Last-Modified: ['Wed, 10 Aug 2016 18:18:18 GMT']
      x-ms-snapshot: ['2016-08-10T18:18:18.1345804Z']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:18:19 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.blob.core.windows.net/container39251586?restype=container&include=snapshots%2Cmetadata&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"\
        container39251586\"><Blobs><Blob><Name>blob1</Name><Snapshot>2016-08-10T18:18:18.1345804Z</Snapshot><Properties><Last-Modified>Wed,\
        \ 10 Aug 2016 18:18:18 GMT</Last-Modified><Etag>0x8D3C14AB3F9F642</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType></Properties><Metadata><number>1</number><name>bob</name></Metadata></Blob><Blob><Name>blob1</Name><Properties><Last-Modified>Wed,\
        \ 10 Aug 2016 18:18:18 GMT</Last-Modified><Etag>0x8D3C14AB3F9F642</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties><Metadata><number>1</number><name>bob</name></Metadata></Blob><Blob><Name>blob2</Name><Properties><Last-Modified>Wed,\
        \ 10 Aug 2016 18:18:18 GMT</Last-Modified><Etag>0x8D3C14AB3FFC2CA</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties><Metadata><number>2</number><name>car</name></Metadata></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
