interactions:
- request:
    body: '--batch_39e4ecb7-5f29-11e6-b216-0050b66b38e2

      Content-Type: multipart/mixed; boundary=changeset_39e4ecb8-5f29-11e6-8f20-0050b66b38e2


      --changeset_39e4ecb8-5f29-11e6-8f20-0050b66b38e2

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      MERGE /table4c11103b(PartitionKey=''001'',RowKey=''batch_insert_merge'') HTTP/1.1

      Content-ID: 1

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 261


      {"test5@odata.type": "Edm.DateTime", "test4": "1234567890", "RowKey": "batch_insert_merge",
      "test3": "3", "test2": "value", "test4@odata.type": "Edm.Int64", "test3@odata.type":
      "Edm.Int64", "test": "true", "PartitionKey": "001", "test5": "2016-08-10T18:35:35Z"}


      --changeset_39e4ecb8-5f29-11e6-8f20-0050b66b38e2--

      --batch_39e4ecb7-5f29-11e6-b216-0050b66b38e2--'
    headers:
      Content-Type: [multipart/mixed; boundary=batch_39e4ecb7-5f29-11e6-b216-0050b66b38e2]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:35:35 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: "--batchresponse_e83739e4-0ce1-47c8-85db-e32bf9734491\r\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_7ae11bdd-6d96-4076-bfdc-a49d5b0cd421\r\
        \n\r\n--changesetresponse_7ae11bdd-6d96-4076-bfdc-a49d5b0cd421\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2016-08-10T18%3A35%3A33.0443218Z'\"\
        \r\n\r\n\r\n--changesetresponse_7ae11bdd-6d96-4076-bfdc-a49d5b0cd421--\r\n\
        --batchresponse_e83739e4-0ce1-47c8-85db-e32bf9734491--\r\n"}
    headers:
      Content-Type: [multipart/mixed; boundary=batchresponse_e83739e4-0ce1-47c8-85db-e32bf9734491]
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:35:35 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.table.core.windows.net/table4c11103b(PartitionKey='001',RowKey='batch_insert_merge')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table4c11103b/@Element","odata.etag":"W/\"datetime''2016-08-10T18%3A35%3A33.0443218Z''\"","PartitionKey":"001","RowKey":"batch_insert_merge","Timestamp":"2016-08-10T18:35:33.0443218Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2016-08-10T18:35:35Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2016-08-10T18%3A35%3A33.0443218Z'"]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
