interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:15:31 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14A4FB4954D"']
      Last-Modified: ['Wed, 10 Aug 2016 18:15:29 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:15:31 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14A4FF342D5"']
      Last-Modified: ['Wed, 10 Aug 2016 18:15:30 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Wed, 10 Aug 2016 18:15:31 GMT']
      x-ms-type: [file]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1/filea1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14A4FF824CC"']
      Last-Modified: ['Wed, 10 Aug 2016 18:15:30 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Wed, 10 Aug 2016 18:15:31 GMT']
      x-ms-type: [file]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1/fileb1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14A50080396"']
      Last-Modified: ['Wed, 10 Aug 2016 18:15:30 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:15:31 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1?restype=directory&comp=list&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        shareffa41cea\" DirectoryPath=\"dir1\"><MaxResults>2</MaxResults><Entries><File><Name>filea1</Name><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>filea2</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEz</NextMarker></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:15:31 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1?restype=directory&comp=list&maxresults=2&marker=1%218%21ZmlsZWEz
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        shareffa41cea\" DirectoryPath=\"dir1\"><Marker>filea3</Marker><MaxResults>2</MaxResults><Entries><File><Name>filea3</Name><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>fileb1</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
