interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:31:01 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuefb421443
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:31:02 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuefb421443/messages?messagettl=-1
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>973da4f4-a844-44c6-adae-c64d6413704f</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:31:02 GMT</InsertionTime><ExpirationTime>Fri, 31 Dec 9999 23:59:59
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAZEI2NB0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:31:02 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:31:02 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuefb421443/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>973da4f4-a844-44c6-adae-c64d6413704f</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:31:02 GMT</InsertionTime><ExpirationTime>Fri, 31 Dec 9999 23:59:59
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
