interactions:
- request:
    body: '{"sex": "KZlbKorVBZENJS7xOzRNRA==", "large@odata.type": "Edm.Int64", "deceased":
      false, "binary": "YmluYXJ5", "name@odata.type": "Edm.Binary", "birthday@odata.type":
      "Edm.DateTime", "clsid@odata.type": "Edm.Guid", "large": "933311100", "other":
      20, "age": "39", "married": true, "Birthday@odata.type": "Edm.DateTime", "sex@odata.type":
      "Edm.Binary", "RowKey": "rkafe31baf", "evenratio": 3.0, "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "age@odata.type": "Edm.Int64", "binary@odata.type": "Edm.Binary",
      "birthday": "1970-10-04T00:00:00Z", "Birthday": "1973-10-04T00:00:00Z", "PartitionKey":
      "pkafe31baf", "_ClientEncryptionMetadata2": "F+fprtaE697PFDYbPeZZOQ==", "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"HSdOUygZ/2mO+IDzyXkh7xMgBxTztS/NJbDp7fXBEUNCex+ALCcwYw==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"21NHchtFEN59ol9UZiHLpA==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.34.0\"}}", "optional": null, "name": "cHWeCLpasAPJgLA+2P8Y/Q==",
      "ratio": 3.1, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 17 Feb 2017 00:52:03 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/uttableafe31baf
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttableafe31baf(PartitionKey=''pkafe31baf'',RowKey=''rkafe31baf'')']
      ETag: [W/"datetime'2017-02-17T00%3A52%3A03.840817Z'"]
      Location: ['https://storagename.table.core.windows.net/uttableafe31baf(PartitionKey=''pkafe31baf'',RowKey=''rkafe31baf'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
version: 1
