interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:01:28 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5?restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D50ABB0FA39799"']
      last-modified: ['Wed, 04 Oct 2017 00:01:28 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'AAA'
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:01:28 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5/blob1?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [4fr/s+YU5sL7p0KWliOGtw==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'BBB'
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:01:28 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5/blob1?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [K7Il8LqaWJMHV6ho7VfZow==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'CCC'
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:01:28 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5/blob1?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [3vuZ5pqfH24G8VAGsfFmrg==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'hello world'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Wed, 04 Oct 2017 00:01:28 GMT']
      x-ms-meta-name: [car]
      x-ms-meta-number: ['2']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5/blob2
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [XrY7u+Ae7tCTyyK7j1rNww==]
      etag: ['"0x8D50ABB0FD39B7B"']
      last-modified: ['Wed, 04 Oct 2017 00:01:28 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:01:28 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5?comp=list&include=uncommittedblobs&restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"\
        containerf3fe18d5\"><Blobs><Blob><Name>blob1</Name><Properties><Content-Length>0</Content-Length><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>false</ServerEncrypted></Properties></Blob><Blob><Name>blob2</Name><Properties><Last-Modified>Wed,\
        \ 04 Oct 2017 00:01:28 GMT</Last-Modified><Etag>0x8D50ABB0FD39B7B</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
