interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:41:50 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainera2741b59?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D4172006047E"']
      Last-Modified: ['Thu, 09 May 2019 00:41:50 GMT']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-content-length: ['2048']
      x-ms-blob-type: [PageBlob]
      x-ms-date: ['Thu, 09 May 2019 00:41:50 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainera2741b59/blob1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D41720650B57"']
      Last-Modified: ['Thu, 09 May 2019 00:41:51 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:41:51 GMT']
      x-ms-page-write: [update]
      x-ms-range: [bytes=0-511]
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainera2741b59/blob1?comp=page
  response:
    body: {string: ''}
    headers:
      Content-MD5: [pTsTLZHyQ+et6NksJ1OHxg==]
      ETag: ['"0x8D6D417206B003D"']
      Last-Modified: ['Thu, 09 May 2019 00:41:51 GMT']
      x-ms-blob-sequence-number: ['0']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:41:51 GMT']
      x-ms-version: ['2018-11-09']
    method: HEAD
    uri: https://storagename.blob.core.windows.net/utcontainera2741b59/blob1
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D6D41720961267"']
      Last-Modified: ['Thu, 09 May 2019 00:41:51 GMT']
      x-ms-access-tier: [Hot]
      x-ms-access-tier-inferred: ['true']
      x-ms-blob-sequence-number: ['0']
      x-ms-blob-type: [PageBlob]
      x-ms-creation-time: ['Thu, 09 May 2019 00:41:51 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-tag-count: ['0']
      x-ms-version: ['2018-11-09']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      If-Match: ['"0x8D6D41720961267"']
      x-ms-date: ['Thu, 09 May 2019 00:41:51 GMT']
      x-ms-version: ['2018-11-09']
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainera2741b59/blob1?comp=pagelist
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><PageRange><Start>0</Start><End>511</End></PageRange><PageRange><Start>1024</Start><End>1535</End></PageRange></PageList>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D6D41720961267"']
      Last-Modified: ['Thu, 09 May 2019 00:41:51 GMT']
      x-ms-blob-content-length: ['2048']
      x-ms-version: ['2018-11-09']
    status: {code: 200, message: OK}
version: 1
