interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:34:12 GMT']
      x-ms-version: ['2017-11-09']
    method: PUT
    uri: https://storagename.file.core.windows.net/sharef877141f?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D5C03C86601F83"']
      Last-Modified: ['Tue, 22 May 2018 23:34:12 GMT']
      x-ms-version: ['2017-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:34:12 GMT']
      x-ms-meta-hello: [world]
      x-ms-meta-number: ['42']
      x-ms-version: ['2017-11-09']
    method: PUT
    uri: https://storagename.file.core.windows.net/sharef877141f?restype=share&comp=metadata
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D5C03C86BA8D4D"']
      Last-Modified: ['Tue, 22 May 2018 23:34:13 GMT']
      x-ms-version: ['2017-11-09']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:34:13 GMT']
      x-ms-version: ['2017-11-09']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&prefix=sharef877141f&include=metadata
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>sharef877141f</Prefix><Shares><Share><Name>sharef877141f</Name><Properties><Last-Modified>Tue,
        22 May 2018 23:34:13 GMT</Last-Modified><Etag>\"0x8D5C03C86BA8D4D\"</Etag><Quota>5120</Quota></Properties><Metadata><hello>world</hello><number>42</number></Metadata></Share></Shares><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-11-09']
    status: {code: 200, message: OK}
version: 1
