interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:42:39 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D4173D80C8A4"']
      Last-Modified: ['Thu, 09 May 2019 00:42:40 GMT']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 09 May 2019 00:42:40 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [1B2M2Y8AsgTpgAmY7PhCfg==]
      ETag: ['"0x8D6D4173D87D181"']
      Last-Modified: ['Thu, 09 May 2019 00:42:40 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: AAA
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:42:40 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [4fr/s+YU5sL7p0KWliOGtw==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: BBB
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:42:40 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [K7Il8LqaWJMHV6ho7VfZow==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: CCC
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:42:40 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [3vuZ5pqfH24G8VAGsfFmrg==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      If-Unmodified-Since: ['Thu, 09 May 2019 00:27:40 GMT']
      x-ms-date: ['Thu, 09 May 2019 00:42:40 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1?comp=blocklist
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The\
        \ condition specified using HTTP conditional header(s) is not met.\nRequestId:f242d39d-101e-0031-7600-0694fc000000\n\
        Time:2019-05-09T00:42:40.2612180Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [ConditionNotMet]
      x-ms-version: ['2018-11-09']
    status: {code: 412, message: The condition specified using HTTP conditional header(s)
        is not met.}
version: 1
