interactions:
- request:
    body: '{"PartitionKey": "pk39e2157d", "RowKey": "rk39e2157d", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "optional":
      null, "evenratio": 3.0, "ratio": 3.1, "large": "933311100", "large@odata.type":
      "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime",
      "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime", "binary":
      "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Thu, 13 Jul 2017 18:57:11 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable39e2157d
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable39e2157d(PartitionKey=''pk39e2157d'',RowKey=''rk39e2157d'')']
      ETag: [W/"datetime'2017-07-13T18%3A57%3A11.9101365Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable39e2157d(PartitionKey=''pk39e2157d'',RowKey=''rk39e2157d'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: '{"PartitionKey": "pk39e2157d", "RowKey": "rk39e2157d", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: [W/"datetime'2017-07-13T18%3A57%3A11.9101365Z'"]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 13 Jul 2017 18:57:12 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.table.core.windows.net/uttable39e2157d(PartitionKey='pk39e2157d',RowKey='rk39e2157d')
  response:
    body: {string: ''}
    headers:
      ETag: [W/"datetime'2017-07-13T18%3A57%3A11.9111365Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 13 Jul 2017 18:57:12 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable39e2157d(PartitionKey='pk39e2157d',RowKey='rk39e2157d')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable39e2157d/@Element","odata.etag":"W/\"datetime''2017-07-13T18%3A57%3A11.9111365Z''\"","PartitionKey":"pk39e2157d","RowKey":"rk39e2157d","Timestamp":"2017-07-13T18:57:11.9111365Z","age":"abc","birthday@odata.type":"Edm.DateTime","birthday":"1991-10-04T00:00:00Z","sex":"female","sign":"aquarius"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-07-13T18%3A57%3A11.9111365Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
