interactions:
- request:
    body: !!python/unicode '{"TableName": "querytable978a175d"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 13 Sep 2017 00:55:57 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/Tables(''querytable978a175d'')']
      location: ['https://storagename.table.core.windows.net/Tables(''querytable978a175d'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: !!python/unicode '--batch_4d8ef99e-981e-11e7-b132-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_4d8efa02-981e-11e7-ac3b-b8e8564491f6


      --changeset_4d8efa02-981e-11e7-ac3b-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytable978a175d HTTP/1.1

      Content-ID: 1

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 1189


      {"sex": "xg/ZKTx4CgFqJGwKfYZNpQ==", "birthday@odata.type": "Edm.DateTime", "evenratio":
      3.0, "binary": "YmluYXJ5", "ratio": 3.1, "large@odata.type": "Edm.Int64", "Birthday@odata.type":
      "Edm.DateTime", "Birthday": "1973-10-04T00:00:00Z", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "RowKey": "rk978a175d1", "_ClientEncryptionMetadata2@odata.type": "Edm.Binary",
      "name@odata.type": "Edm.Binary", "birthday": "1970-10-04T00:00:00Z", "binary@odata.type":
      "Edm.Binary", "optional": null, "_ClientEncryptionMetadata1": "{\"WrappedContentKey\":
      {\"KeyId\": \"key1\", \"EncryptedKey\": \"EY+sUefTdaUKrTrlUwda0i6q6BsjybJ+os8SbS6O5N27S5tnaHttUQ==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"ToGxNyZD5k04aJQ5HUzZSA==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.36.0\"}}", "_ClientEncryptionMetadata2":
      "m1TUu7e00ZciiPV02wS8kg==", "sex@odata.type": "Edm.Binary", "age@odata.type":
      "Edm.Int64", "name": "XDJXH+m4jre72DLkZShItw==", "clsid@odata.type": "Edm.Guid",
      "married": true, "large": "933311100", "PartitionKey": "pk978a175d", "other":
      20, "age": "39", "deceased": false}


      --changeset_4d8efa02-981e-11e7-ac3b-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytable978a175d HTTP/1.1

      Content-ID: 2

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 1190


      {"sex": "CALNudWY6EWLUGPKmJkKdQ==", "birthday@odata.type": "Edm.DateTime", "evenratio":
      3.0, "binary": "YmluYXJ5", "ratio": 3.[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 13 Sep 2017 00:55:57 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/querytable978a175d()?%24top=5
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable978a175d","value":[{"odata.etag":"W/\"datetime''2017-09-13T00%3A55%3A57.4377147Z''\"","PartitionKey":"pk978a175d","RowKey":"rk978a175d1","Timestamp":"2017-09-13T00:55:57.4377147Z","sex@odata.type":"Edm.Binary","sex":"xg/ZKTx4CgFqJGwKfYZNpQ==","evenratio":3.0,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","ratio":3.1,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"EY[...]
