interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 13 Sep 2017 00:48:53 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container8f051b31?restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4FA4134DBC035"']
      last-modified: ['Wed, 13 Sep 2017 00:48:53 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>empty</Id><AccessPolicy /></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Wed, 13 Sep 2017 00:48:53 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container8f051b31?comp=acl&restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4FA4134E45B81"']
      last-modified: ['Wed, 13 Sep 2017 00:48:53 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 13 Sep 2017 00:48:53 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/container8f051b31?comp=acl&restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>empty</Id></SignedIdentifier></SignedIdentifiers>"}
    headers:
      content-type: [application/xml]
      etag: ['"0x8D4FA4134E45B81"']
      last-modified: ['Wed, 13 Sep 2017 00:48:53 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
