interactions:
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\x01\
      </MessageText></QueueMessage>"
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:02 GMT']
      x-ms-version: ['2017-07-29']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue093de171a/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML\
        \ specified is not syntactically valid.\nRequestId:d1bf0f7a-0003-001f-5bd9-9e8fc4000000\n\
        Time:2018-02-05T23:31:02.5608316Z</Message><LineNumber>2</LineNumber><LinePosition>28</LinePosition><Reason>Error\
        \ parsing Xml content</Reason></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [InvalidXmlDocument]
      x-ms-version: ['2017-07-29']
    status: {code: 400, message: XML specified is not syntactically valid.}
version: 1
