interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:52 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "G/fM8mRbaDP25M/gJuI6hw==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "9GW/07OnIRcwmBajINUv48luDDUkMJm1nDJCNvM63WB7yx5TPmvlMQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "SIm6VlMvLVpsmZfM45WIqA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.3.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:53 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9cdbdd8f-60fd-4c40-baf3-28a6838f28d1</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:32:53 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:32:53
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAwt5Kdh0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:32:53 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:53 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9cdbdd8f-60fd-4c40-baf3-28a6838f28d1</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:32:53 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:32:53
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"G/fM8mRbaDP25M/gJuI6hw==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"9GW/07OnIRcwmBajINUv48luDDUkMJm1nDJCNvM63WB7yx5TPmvlMQ==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"SIm6VlMvLVpsmZfM45WIqA==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.3.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:53 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9cdbdd8f-60fd-4c40-baf3-28a6838f28d1</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:32:53 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:32:53
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"G/fM8mRbaDP25M/gJuI6hw==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"9GW/07OnIRcwmBajINUv48luDDUkMJm1nDJCNvM63WB7yx5TPmvlMQ==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"SIm6VlMvLVpsmZfM45WIqA==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.3.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
