interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:29:41 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.file.core.windows.net/sharebd7817d1?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D56CF054B7D353"']
      Last-Modified: ['Mon, 05 Feb 2018 23:29:41 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>empty</Id><AccessPolicy /></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:29:41 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.file.core.windows.net/sharebd7817d1?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D56CF054BDAC9E"']
      Last-Modified: ['Mon, 05 Feb 2018 23:29:41 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:29:41 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.file.core.windows.net/sharebd7817d1?restype=share&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>empty</Id></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D56CF054BDAC9E"']
      Last-Modified: ['Mon, 05 Feb 2018 23:29:41 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
version: 1
