interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:49:56 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue6405110f
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:49:57 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue6405110f/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4673d0bf-54fd-4ae0-8fdc-774f25d0a644</MessageId><InsertionTime>Thu,\
        \ 13 Jul 2017 18:49:57 GMT</InsertionTime><ExpirationTime>Thu, 20 Jul 2017\
        \ 18:49:57 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAATVuZ0gj80gE=</PopReceipt><TimeNextVisible>Thu,\
        \ 13 Jul 2017 18:49:57 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:49:57 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue6405110f/messages?numofmessages=4&visibilitytimeout=20
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4673d0bf-54fd-4ae0-8fdc-774f25d0a644</MessageId><InsertionTime>Thu,\
        \ 13 Jul 2017 18:49:57 GMT</InsertionTime><ExpirationTime>Thu, 20 Jul 2017\
        \ 18:49:57 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAsmSd3gj80gE=</PopReceipt><TimeNextVisible>Thu,\
        \ 13 Jul 2017 18:50:17 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>6b49e4f3-5c90-4f25-a046-44609df9cad0</MessageId><InsertionTime>Thu,\
        \ 13 Jul 2017 18:49:57 GMT</InsertionTime><ExpirationTime>Thu, 20 Jul 2017\
        \ 18:49:57 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAsmSd3gj80gE=</PopReceipt><TimeNextVisible>Thu,\
        \ 13 Jul 2017 18:50:17 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>0e0bb457-a6f4-40cd-b260-46722e031cdf</MessageId><InsertionTime>Thu,\
        \ 13 Jul 2017 18:49:57 GMT</InsertionTime><ExpirationTime>Thu, 20 Jul 2017\
        \ 18:49:57 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAsmSd3gj80gE=</PopReceipt><TimeNextVisible>Thu,\
        \ 13 Jul 2017 18:50:17 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>80695b65-3856-4e89-8532-bc1342b03c54</MessageId><InsertionTime>Thu,\
        \ 13 Jul 2017 18:49:57 GMT</InsertionTime><ExpirationTime>Thu, 20 Jul 2017\
        \ 18:49:57 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAsmSd3gj80gE=</PopReceipt><TimeNextVisible>Thu,\
        \ 13 Jul 2017 18:50:17 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
