interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:52:03 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec34e1330
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "Ie6iXpSEX+6TsDqtx84X8A==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "BS99tfP+CEqSIQcKmMuXd64gbEG0aTD5KrbgGoiN7mIFC5lBCfm5eg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "dPSBVOXmuCvq61WcpBoa3A==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.35.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:52:03 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuec34e1330/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2d8acf6f-3f74-4dd6-a165-03311840d631</MessageId><InsertionTime>Thu,\
        \ 13 Jul 2017 18:52:03 GMT</InsertionTime><ExpirationTime>Thu, 20 Jul 2017\
        \ 18:52:03 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAbfMOHgn80gE=</PopReceipt><TimeNextVisible>Thu,\
        \ 13 Jul 2017 18:52:03 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:52:03 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuec34e1330/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2d8acf6f-3f74-4dd6-a165-03311840d631</MessageId><InsertionTime>Thu,\
        \ 13 Jul 2017 18:52:03 GMT</InsertionTime><ExpirationTime>Thu, 20 Jul 2017\
        \ 18:52:03 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"Ie6iXpSEX+6TsDqtx84X8A==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"BS99tfP+CEqSIQcKmMuXd64gbEG0aTD5KrbgGoiN7mIFC5lBCfm5eg==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"dPSBVOXmuCvq61WcpBoa3A==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.35.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
