interactions:
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 14 Jun 2017 06:20:43 GMT']
      x-ms-version: ['2016-05-31']
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('table31901545')
  response:
    body: {string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:e168f91d-0002-0077-21d6-e4d195000000\nTime:2017-06-14T06:20:43.1339681Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2016-05-31']
    status: {code: 404, message: Not Found}
version: 1
