interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:42:31 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D41738C23BC3"']
      Last-Modified: ['Thu, 09 May 2019 00:42:32 GMT']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 09 May 2019 00:42:32 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [1B2M2Y8AsgTpgAmY7PhCfg==]
      ETag: ['"0x8D6D41738C80DDF"']
      Last-Modified: ['Thu, 09 May 2019 00:42:32 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: AAA
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:42:32 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [4fr/s+YU5sL7p0KWliOGtw==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: BBB
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:42:32 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [K7Il8LqaWJMHV6ho7VfZow==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: CCC
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:42:32 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [3vuZ5pqfH24G8VAGsfFmrg==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:42:32 GMT']
      x-ms-version: ['2018-11-09']
    method: HEAD
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [1B2M2Y8AsgTpgAmY7PhCfg==]
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D6D41738C80DDF"']
      Last-Modified: ['Thu, 09 May 2019 00:42:32 GMT']
      x-ms-access-tier: [Hot]
      x-ms-access-tier-inferred: ['true']
      x-ms-blob-type: [BlockBlob]
      x-ms-creation-time: ['Thu, 09 May 2019 00:42:32 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-tag-count: ['0']
      x-ms-version: ['2018-11-09']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      If-None-Match: ['"0x8D6D41738C80DDF"']
      x-ms-date: ['Thu, 09 May 2019 00:42:32 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1?comp=blocklist
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The\
        \ condition specified using HTTP conditional header(s) is not met.\nRequestId:3b6193ef-101e-005c-1e00-063ed2000000\n\
        Time:2019-05-09T00:42:32.3375737Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [ConditionNotMet]
      x-ms-version: ['2018-11-09']
    status: {code: 412, message: The condition specified using HTTP conditional header(s)
        is not met.}
version: 1
