interactions:
- request:
    body: !!python/unicode '--batch_c039543d-846a-11e7-8fe4-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_c0395505-846a-11e7-8a61-b8e8564491f6


      --changeset_c0395505-846a-11e7-8a61-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      MERGE /table4c11103b(PartitionKey=''001'',RowKey=''batch_insert_merge'') HTTP/1.1

      Content-ID: 1

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 261


      {"test3": "3", "test2": "value", "test5": "2017-08-18T23:12:48Z", "test4": "1234567890",
      "PartitionKey": "001", "test5@odata.type": "Edm.DateTime", "test3@odata.type":
      "Edm.Int64", "RowKey": "batch_insert_merge", "test": "true", "test4@odata.type":
      "Edm.Int64"}


      --changeset_c0395505-846a-11e7-8a61-b8e8564491f6--

      --batch_c039543d-846a-11e7-8fe4-b8e8564491f6--'
    headers:
      Content-Type: [!!python/unicode 'multipart/mixed; boundary=batch_c039543d-846a-11e7-8fe4-b8e8564491f6']
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:12:48 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: !!python/unicode "--batchresponse_6fbe8f44-277b-4d20-b50f-c23a80abbb90\r\
        \nContent-Type: multipart/mixed; boundary=changesetresponse_6c106f96-ec65-4b61-8e02-5931a2fe7120\r\
        \n\r\n--changesetresponse_6c106f96-ec65-4b61-8e02-5931a2fe7120\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2017-08-18T23%3A12%3A48.0614316Z'\"\
        \r\n\r\n\r\n--changesetresponse_6c106f96-ec65-4b61-8e02-5931a2fe7120--\r\n\
        --batchresponse_6fbe8f44-277b-4d20-b50f-c23a80abbb90--\r\n"}
    headers:
      content-type: [multipart/mixed; boundary=batchresponse_6fbe8f44-277b-4d20-b50f-c23a80abbb90]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:12:48 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/table4c11103b(PartitionKey='001',RowKey='batch_insert_merge')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table4c11103b/@Element","odata.etag":"W/\"datetime''2017-08-18T23%3A12%3A48.0614316Z''\"","PartitionKey":"001","RowKey":"batch_insert_merge","Timestamp":"2017-08-18T23:12:48.0614316Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-08-18T23:12:48Z"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-08-18T23%3A12%3A48.0614316Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
