interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:58:13 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D4196A2D0175"']
      Last-Modified: ['Thu, 09 May 2019 00:58:14 GMT']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-05-09T00:57:14Z</Start><Expiry>2019-05-09T01:58:14Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:58:14 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D4196A32B59E"']
      Last-Modified: ['Thu, 09 May 2019 00:58:14 GMT']
      x-ms-version: ['2018-11-09']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:58:14 GMT']
      x-ms-version: ['2018-11-09']
    method: GET
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2019-05-09T00:57:14.0000000Z</Start><Expiry>2019-05-09T01:58:14.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D6D4196A32B59E"']
      Last-Modified: ['Thu, 09 May 2019 00:58:14 GMT']
      x-ms-version: ['2018-11-09']
    status: {code: 200, message: OK}
version: 1
