interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:22:59 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D5D6333744FE5D"']
      Last-Modified: ['Tue, 19 Jun 2018 22:23:00 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2018-06-19T22:22:00Z</Start><Expiry>2018-06-19T23:23:00Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:23:00 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D5D6333756929B"']
      Last-Modified: ['Tue, 19 Jun 2018 22:23:00 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:23:00 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2018-06-19T22:22:00.0000000Z</Start><Expiry>2018-06-19T23:23:00.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D5D6333756929B"']
      Last-Modified: ['Tue, 19 Jun 2018 22:23:00 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
