interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:30:22 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.file.core.windows.net/share41961029?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D5D6343EE795F6"']
      Last-Modified: ['Tue, 19 Jun 2018 22:30:22 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:30:22 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&prefix=share41961029
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>share41961029</Prefix><Shares><Share><Name>share41961029</Name><Properties><Last-Modified>Tue,
        19 Jun 2018 22:30:22 GMT</Last-Modified><Etag>\"0x8D5D6343EE795F6\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 16 Jul 2018 22:48:24 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&prefix=share41961029
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>share41961029</Prefix><Shares><Share><Name>share41961029</Name><Properties><Last-Modified>Mon,
        16 Jul 2018 22:48:24 GMT</Last-Modified><Etag>\"0x8D5EB6E3D3E0C8D\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
