interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:14:12 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue29f01530
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "W3H///K/Bb4C65xfE/ZjUQ==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "ucwn0kjAZOp8ZMdXG3j6c+lSjSS6daMBae/lm2mTggHZ8VBCZTumtw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "o2jt40+VzWc/lpqK1DcFzA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.37.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:14:22 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue29f01530/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3ed57794-bd43-4343-837c-23998b459ffd</MessageId><InsertionTime>Wed,\
        \ 04 Oct 2017 00:14:22 GMT</InsertionTime><ExpirationTime>Wed, 11 Oct 2017\
        \ 00:14:22 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAnVTluqU80wE=</PopReceipt><TimeNextVisible>Wed,\
        \ 04 Oct 2017 00:14:22 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:14:22 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue29f01530/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3ed57794-bd43-4343-837c-23998b459ffd</MessageId><InsertionTime>Wed,\
        \ 04 Oct 2017 00:14:22 GMT</InsertionTime><ExpirationTime>Wed, 11 Oct 2017\
        \ 00:14:22 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAOhPNzKU80wE=</PopReceipt><TimeNextVisible>Wed,\
        \ 04 Oct 2017 00:14:52 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"W3H///K/Bb4C65xfE/ZjUQ==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"ucwn0kjAZOp8ZMdXG3j6c+lSjSS6daMBae/lm2mTggHZ8VBCZTumtw==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"o2jt40+VzWc/lpqK1DcFzA==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.37.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "J4Oi5DYlcAVBtcwssSXFcQ==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "hH4YIWLtzzMjtNlWp9P/6VMQtAMgH0JT+iCYQ896z83xZFUj8Im2aQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "VN9rFnVfED+rJeQzF4k4qg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.37.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:14:22 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue29f01530/messages/3ed57794-bd43-4343-837c-23998b459ffd?popreceipt=AgAAAAMAAAAAAAAAOhPNzKU80wE%3D&visibilitytimeout=0
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAzuf0uqU80wEBAAAA]
      x-ms-time-next-visible: ['Wed, 04 Oct 2017 00:14:22 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:14:23 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue29f01530/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3ed57794-bd43-4343-837c-23998b459ffd</MessageId><InsertionTime>Wed,\
        \ 04 Oct 2017 00:14:22 GMT</InsertionTime><ExpirationTime>Wed, 11 Oct 2017\
        \ 00:14:22 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAPVjczKU80wE=</PopReceipt><TimeNextVisible>Wed,\
        \ 04 Oct 2017 00:14:52 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"J4Oi5DYlcAVBtcwssSXFcQ==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"hH4YIWLtzzMjtNlWp9P/6VMQtAMgH0JT+iCYQ896z83xZFUj8Im2aQ==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"VN9rFnVfED+rJeQzF4k4qg==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.37.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
