interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:17:44 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14A9F4D9FA8"']
      Last-Modified: ['Wed, 10 Aug 2016 18:17:43 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: AAA
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:17:45 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5/blob1?blockid=MQ%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      Content-MD5: [4fr/s+YU5sL7p0KWliOGtw==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: BBB
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:17:45 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5/blob1?blockid=Mg%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      Content-MD5: [K7Il8LqaWJMHV6ho7VfZow==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: CCC
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:17:45 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5/blob1?blockid=Mw%3D%3D&comp=block
  response:
    body: {string: ''}
    headers:
      Content-MD5: [3vuZ5pqfH24G8VAGsfFmrg==]
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Wed, 10 Aug 2016 18:17:45 GMT']
      x-ms-meta-name: [car]
      x-ms-meta-number: ['2']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5/blob2
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D3C14A9F6D8828"']
      Last-Modified: ['Wed, 10 Aug 2016 18:17:43 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:17:45 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.blob.core.windows.net/containerf3fe18d5?comp=list&restype=container&include=uncommittedblobs
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"\
        containerf3fe18d5\"><Blobs><Blob><Name>blob1</Name><Properties><Content-Length>0</Content-Length><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Blob><Blob><Name>blob2</Name><Properties><Last-Modified>Wed,\
        \ 10 Aug 2016 18:17:43 GMT</Last-Modified><Etag>0x8D3C14A9F6D8828</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
