interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:40:55 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue6405110f
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:40:55 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue6405110f/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>dcd91c16-0fad-4446-8269-23a50d4059cd</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:40:56 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:40:56 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAhrtjBQP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:40:56 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:40:55 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue6405110f/messages?numofmessages=4&visibilitytimeout=20
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>dcd91c16-0fad-4446-8269-23a50d4059cd</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:40:56 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:40:56 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAawFnEQP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:41:16 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>e87c48f9-2cba-400a-92d9-355d3f601d8f</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:40:56 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:40:56 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAawFnEQP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:41:16 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>4883e160-dcc5-471f-b872-ee3d69ecd686</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:40:56 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:40:56 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAawFnEQP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:41:16 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>52809e6a-ac5e-4f03-ab0e-8a1fd75a949f</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:40:56 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:40:56 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAawFnEQP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:41:16 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
