interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:51:33 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue0bdb1127a
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>eHl6</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:51:33 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue0bdb1127a/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c29e769f-fdd7-41df-bafe-1447328befe6</MessageId><InsertionTime>Thu,\
        \ 13 Jul 2017 18:51:33 GMT</InsertionTime><ExpirationTime>Thu, 20 Jul 2017\
        \ 18:51:33 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAbNj6Cwn80gE=</PopReceipt><TimeNextVisible>Thu,\
        \ 13 Jul 2017 18:51:33 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:51:33 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue0bdb1127a/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c29e769f-fdd7-41df-bafe-1447328befe6</MessageId><InsertionTime>Thu,\
        \ 13 Jul 2017 18:51:33 GMT</InsertionTime><ExpirationTime>Thu, 20 Jul 2017\
        \ 18:51:33 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAgKzhHQn80gE=</PopReceipt><TimeNextVisible>Thu,\
        \ 13 Jul 2017 18:52:03 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>eHl6</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
