interactions:
- request:
    body: !!python/unicode 'AAA'
    headers:
      x-ms-date: ['Wed, 13 Sep 2017 00:45:53 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer5d301620/blob5d301620?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [4fr/s+YU5sL7p0KWliOGtw==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'BBB'
    headers:
      x-ms-date: ['Wed, 13 Sep 2017 00:45:53 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer5d301620/blob5d301620?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [K7Il8LqaWJMHV6ho7VfZow==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'CCC'
    headers:
      x-ms-date: ['Wed, 13 Sep 2017 00:45:53 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer5d301620/blob5d301620?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [3vuZ5pqfH24G8VAGsfFmrg==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 13 Sep 2017 00:45:53 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainer5d301620/blob5d301620?comp=blocklist&blocklisttype=uncommitted
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><UncommittedBlocks><Block><Name>MQ==</Name><Size>3</Size></Block><Block><Name>Mg==</Name><Size>3</Size></Block><Block><Name>Mw==</Name><Size>3</Size></Block></UncommittedBlocks></BlockList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
