interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:25 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "3D9/qB4m1E8AkDyduvf3Iw==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "Sn5swDMI+e90wxoIqjUZn+da1ygEUgyxN62PzsSWsBjj2/3iRI1j2w==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "flaIzOkTOVCY+vIF48qUwA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.36.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:25 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0914fc2d-8cde-47c0-99b1-c3236920fec0</MessageId><InsertionTime>Tue,\
        \ 22 Aug 2017 22:07:25 GMT</InsertionTime><ExpirationTime>Tue, 29 Aug 2017\
        \ 22:07:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAwLRKCZMb0wE=</PopReceipt><TimeNextVisible>Tue,\
        \ 22 Aug 2017 22:07:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:25 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0914fc2d-8cde-47c0-99b1-c3236920fec0</MessageId><InsertionTime>Tue,\
        \ 22 Aug 2017 22:07:25 GMT</InsertionTime><ExpirationTime>Tue, 29 Aug 2017\
        \ 22:07:25 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"3D9/qB4m1E8AkDyduvf3Iw==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"Sn5swDMI+e90wxoIqjUZn+da1ygEUgyxN62PzsSWsBjj2/3iRI1j2w==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"flaIzOkTOVCY+vIF48qUwA==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.36.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:25 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0914fc2d-8cde-47c0-99b1-c3236920fec0</MessageId><InsertionTime>Tue,\
        \ 22 Aug 2017 22:07:25 GMT</InsertionTime><ExpirationTime>Tue, 29 Aug 2017\
        \ 22:07:25 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"3D9/qB4m1E8AkDyduvf3Iw==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"Sn5swDMI+e90wxoIqjUZn+da1ygEUgyxN62PzsSWsBjj2/3iRI1j2w==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"flaIzOkTOVCY+vIF48qUwA==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.36.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
