interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:25:45 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/retry7a5d119a?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D5D63399CD1DFA"']
      Last-Modified: ['Tue, 19 Jun 2018 22:25:45 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:25:45 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&prefix=retry
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>retry</Prefix><Containers><Container><Name>retry7a5d119a</Name><Properties><Last-Modified>Tue,
        19 Jun 2018 22:25:45 GMT</Last-Modified><Etag>\"0x8D5D63399CD1DFA\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:25:48 GMT']
      x-ms-version: ['2018-03-28']
    method: DELETE
    uri: https://storagename.blob.core.windows.net/retry7a5d119a?restype=container
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 202, message: Accepted}
version: 1
