interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:08:54 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38?restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D509D168F9C47C"']
      last-modified: ['Mon, 02 Oct 2017 20:08:55 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Mon, 02 Oct 2017 20:08:54 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [1B2M2Y8AsgTpgAmY7PhCfg==]
      etag: ['"0x8D509D1690CBA77"']
      last-modified: ['Mon, 02 Oct 2017 20:08:55 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'AAA'
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:08:54 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [4fr/s+YU5sL7p0KWliOGtw==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'BBB'
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:08:54 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [K7Il8LqaWJMHV6ho7VfZow==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'CCC'
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:08:54 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [3vuZ5pqfH24G8VAGsfFmrg==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      If-Modified-Since: ['Mon, 02 Oct 2017 20:23:54 GMT']
      x-ms-date: ['Mon, 02 Oct 2017 20:08:54 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1?comp=blocklist
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The\
        \ condition specified using HTTP conditional header(s) is not met.\nRequestId:ae967959-001e-00e8-7fba-3ba92f000000\n\
        Time:2017-10-02T20:08:55.8998727Z</Message></Error>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 412, message: The condition specified using HTTP conditional header(s)
        is not met.}
version: 1
