interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:33:00 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "9tMclYdpkJ1iQBs1BlaCUA==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "HmpZba3yRLV8m3mUiiJ31h0GcpHbY9QKwiZRthD7CBTmRha8ojXecA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "OEw2cXDTrodVS2gQ+23agw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.3.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:33:00 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2511ddcb-a1cb-4e57-9bb0-e19421a75f9f</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:33:01 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:33:01
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAfKnueh0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:33:01 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:33:01 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2511ddcb-a1cb-4e57-9bb0-e19421a75f9f</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:33:01 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:33:01
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAbvXejB0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:33:31 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"9tMclYdpkJ1iQBs1BlaCUA==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"HmpZba3yRLV8m3mUiiJ31h0GcpHbY9QKwiZRthD7CBTmRha8ojXecA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"OEw2cXDTrodVS2gQ+23agw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.3.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "Sbw4+eJCvPIKXylXKE7iVA==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "EGUNdnNR7rQ5WwcFn6Hyd3j27ZrQkUbOpOHSSC/TOg001ufKv9NiFg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "aNZKwkktVnifKeZveol3vQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.3.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:33:01 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages/2511ddcb-a1cb-4e57-9bb0-e19421a75f9f?popreceipt=AgAAAAMAAAAAAAAAbvXejB0I1AE%3D&visibilitytimeout=0
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAX3IMex0I1AEBAAAA]
      x-ms-time-next-visible: ['Tue, 19 Jun 2018 22:33:01 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "AVNcHzDQAdaNKOZhZue83A==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "spM8NEay7M0xqC5rfUbgfdSZgLgpLwRdCkhhVU25HvqYsLUJhUP3Ag==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "Fk79Hqs6bFdPV4naQY3CGQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.3.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 16 Jul 2018 22:50:57 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages/baab4301-bf8e-4187-86ee-6e7a6a456e0e?popreceipt=AgAAAAMAAAAAAAAAqkq6h1cd1AE%3D&visibilitytimeout=0
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAB+nndVcd1AEBAAAA]
      x-ms-time-next-visible: ['Mon, 16 Jul 2018 22:50:57 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 16 Jul 2018 22:50:57 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>baab4301-bf8e-4187-86ee-6e7a6a456e0e</MessageId><InsertionTime>Mon,
        16 Jul 2018 22:50:57 GMT</InsertionTime><ExpirationTime>Mon, 23 Jul 2018 22:50:57
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABDLYh1cd1AE=</PopReceipt><TimeNextVisible>Mon,
        16 Jul 2018 22:51:27 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"AVNcHzDQAdaNKOZhZue83A==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"spM8NEay7M0xqC5rfUbgfdSZgLgpLwRdCkhhVU25HvqYsLUJhUP3Ag==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"Fk79Hqs6bFdPV4naQY3CGQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.3.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
