interactions:
- request:
    body: !!python/unicode '{"binary": "YmluYXJ5", "age@odata.type": "Edm.Int64",
      "PartitionKey": "pk61d51ac3", "ratio": 3.1, "large@odata.type": "Edm.Int64",
      "age": "39", "married": true, "Birthday@odata.type": "Edm.DateTime", "sex":
      "male", "large": "933311100", "birthday@odata.type": "Edm.DateTime", "birthday":
      "1970-10-04T00:00:00Z", "evenratio": 3.0, "RowKey": "rk61d51ac3", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "binary@odata.type": "Edm.Binary", "Birthday": "1973-10-04T00:00:00Z", "other":
      20, "optional": null, "clsid@odata.type": "Edm.Guid", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Mon, 02 Oct 2017 20:21:57 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable61d51ac3
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttable61d51ac3(PartitionKey=''pk61d51ac3'',RowKey=''rk61d51ac3'')']
      etag: [W/"datetime'2017-10-02T20%3A21%3A58.2690909Z'"]
      location: ['https://storagename.table.core.windows.net/uttable61d51ac3(PartitionKey=''pk61d51ac3'',RowKey=''rk61d51ac3'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Mon, 02 Oct 2017 20:21:57 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable61d51ac3(PartitionKey='pk61d51ac3',RowKey='rk61d51ac3')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable61d51ac3/@Element","odata.etag":"W/\"datetime''2017-10-02T20%3A21%3A58.2690909Z''\"","PartitionKey":"pk61d51ac3","RowKey":"rk61d51ac3","Timestamp":"2017-10-02T20:21:58.2690909Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","ratio":3.1,"age@odata.type":"Edm.Int64","age":"39","married":true,"sex":"male","large@odata.type":"Edm.Int64","large":"933311100","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","evenratio":3.0,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","other":20,"deceased":false}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-10-02T20%3A21%3A58.2690909Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Mon, 02 Oct 2017 20:22:54 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable61d51ac3(PartitionKey='pk61d51ac3',RowKey='rk61d51ac3')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable61d51ac3/@Element","odata.etag":"W/\"datetime''2017-10-02T20%3A21%3A58.2690909Z''\"","PartitionKey":"pk61d51ac3","RowKey":"rk61d51ac3","Timestamp":"2017-10-02T20:21:58.2690909Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","ratio":3.1,"age@odata.type":"Edm.Int64","age":"39","married":true,"sex":"male","large@odata.type":"Edm.Int64","large":"933311100","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","evenratio":3.0,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","other":20,"deceased":false}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-10-02T20%3A21%3A58.2690909Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
