interactions:
- request:
    body: '{"PartitionKey": "pk95af1b7d", "RowKey": "rk95af1b7d", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "hAXId1LrV4izA5VQxq48vQ==", "sex@odata.type": "Edm.Binary",
      "name": "t0rC9xS6QkRRlw+VwNi9Dg==", "name@odata.type": "Edm.Binary", "married":
      true, "deceased": false, "optional": null, "evenratio": 3.0, "ratio": 3.1, "large":
      "933311100", "large@odata.type": "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid",
      "_ClientEncryptionMetadata2": "awpmR6zjj7h3Wy6jsZGcRA==", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "_ClientEncryptionMetadata1": "{\"WrappedContentKey\": {\"KeyId\":
      \"key1\", \"EncryptedKey\": \"uhigncqhT0pHGWmWOHAROOFeHcALejFYtfOK19r7EecNCZ3XOZAIKg==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"aRZt34/OpIpOwffRaoDnVQ==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.35.1\"}}"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Sat, 15 Jul 2017 00:44:31 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable95af1b7d
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable95af1b7d(PartitionKey=''pk95af1b7d'',RowKey=''rk95af1b7d'')']
      ETag: [W/"datetime'2017-07-15T00%3A44%3A32.7463502Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable95af1b7d(PartitionKey=''pk95af1b7d'',RowKey=''rk95af1b7d'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Sat, 15 Jul 2017 00:44:32 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable95af1b7d(PartitionKey='pk95af1b7d',RowKey='rk95af1b7d')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable95af1b7d/@Element","odata.etag":"W/\"datetime''2017-07-15T00%3A44%3A32.7463502Z''\"","PartitionKey":"pk95af1b7d","RowKey":"rk95af1b7d","Timestamp":"2017-07-15T00:44:32.7463502Z","age@odata.type":"Edm.Int64","age":"39","sex@odata.type":"Edm.Binary","sex":"hAXId1LrV4izA5VQxq48vQ==","name@odata.type":"Edm.Binary","name":"t0rC9xS6QkRRlw+VwNi9Dg==","married":true,"deceased":false,"evenratio":3.0,"ratio":3.1,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"awpmR6zjj7h3Wy6jsZGcRA==","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"uhigncqhT0pHGWmWOHAROOFeHcALejFYtfOK19r7EecNCZ3XOZAIKg==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"aRZt34/OpIpOwffRaoDnVQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.35.1\"}}"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-07-15T00%3A44%3A32.7463502Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
