interactions:
- request:
    body: '{"PartitionKey": "pk9990123c", "RowKey": "rk9990123c", "\u554a\u9f44\u4e02\u72db\u72dc":
      "\ua015"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 14 Jun 2017 06:25:43 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable9990123c
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable9990123c(PartitionKey=''pk9990123c'',RowKey=''rk9990123c'')']
      ETag: [W/"datetime'2017-06-14T06%3A25%3A43.0410657Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable9990123c(PartitionKey=''pk9990123c'',RowKey=''rk9990123c'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 14 Jun 2017 06:25:43 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable9990123c()?%24filter=PartitionKey+eq+%27pk9990123c%27
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable9990123c","value":[{"odata.etag":"W/\"datetime''2017-06-14T06%3A25%3A43.0410657Z''\"","PartitionKey":"pk9990123c","RowKey":"rk9990123c","Timestamp":"2017-06-14T06:25:43.0410657Z","\u554a\u9f44\u4e02\u72db\u72dc":"\ua015"},{"odata.etag":"W/\"datetime''2017-06-14T06%3A25%3A43.0690856Z''\"","PartitionKey":"pk9990123c","RowKey":"test2","Timestamp":"2017-06-14T06:25:43.0690856Z","\u554a\u9f44\u4e02\u72db\u72dc":"hello"}]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
