interactions:
- request:
    body: '{"PartitionKey": "pkf00194b", "RowKey": "entity1", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "zQR892iTtlnHzZY1rtpV0w==", "sex@odata.type": "Edm.Binary",
      "name": "qfLMHRcuBNcF1uusEfH2DA==", "name@odata.type": "Edm.Binary", "married":
      true, "deceased": false, "optional": null, "evenratio": 3.0, "ratio": 3.1, "large":
      "933311100", "large@odata.type": "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid",
      "_ClientEncryptionMetadata2": "vS0xet1T2ohwGbIRiwEEEA==", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "_ClientEncryptionMetadata1": "{\"WrappedContentKey\": {\"KeyId\":
      \"key1\", \"EncryptedKey\": \"F03zgH7pvBPP+GKwkgk1PL0bsbL9RYz05kf1hGcXIzkZAIEOhVurAQ==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"NbzMdjNfyKB4ZwU6iITlpw==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.35.0\"}}"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Thu, 13 Jul 2017 18:53:47 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttablef00194b
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttablef00194b(PartitionKey=''pkf00194b'',RowKey=''entity1'')']
      ETag: [W/"datetime'2017-07-13T18%3A53%3A47.6295692Z'"]
      Location: ['https://storagename.table.core.windows.net/uttablef00194b(PartitionKey=''pkf00194b'',RowKey=''entity1'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 13 Jul 2017 18:53:48 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttablef00194b(PartitionKey='pkf00194b',RowKey='entity1')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablef00194b/@Element","odata.etag":"W/\"datetime''2017-07-13T18%3A53%3A47.6295692Z''\"","PartitionKey":"pkf00194b","RowKey":"entity1","Timestamp":"2017-07-13T18:53:47.6295692Z","age@odata.type":"Edm.Int64","age":"39","sex@odata.type":"Edm.Binary","sex":"zQR892iTtlnHzZY1rtpV0w==","name@odata.type":"Edm.Binary","name":"qfLMHRcuBNcF1uusEfH2DA==","married":true,"deceased":false,"evenratio":3.0,"ratio":3.1,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"vS0xet1T2ohwGbIRiwEEEA==","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"F03zgH7pvBPP+GKwkgk1PL0bsbL9RYz05kf1hGcXIzkZAIEOhVurAQ==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"NbzMdjNfyKB4ZwU6iITlpw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.35.0\"}}"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-07-13T18%3A53%3A47.6295692Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: '{"PartitionKey": "pkf00194b", "RowKey": "entity2", "Timestamp": "2017-07-13T18:53:47Z",
      "Timestamp@odata.type": "Edm.DateTime", "age": "39", "age@odata.type": "Edm.Int64",
      "sex": "zQR892iTtlnHzZY1rtpV0w==", "sex@odata.type": "Edm.Binary", "name": "qfLMHRcuBNcF1uusEfH2DA==",
      "name@odata.type": "Edm.Binary", "married": true, "deceased": false, "evenratio":
      3.0, "ratio": 3.1, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid", "_ClientEncryptionMetadata2": "vS0xet1T2ohwGbIRiwEEEA==",
      "_ClientEncryptionMetadata2@odata.type": "Edm.Binary", "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"F03zgH7pvBPP+GKwkgk1PL0bsbL9RYz05kf1hGcXIzkZAIEOhVurAQ==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"NbzMdjNfyKB4ZwU6iITlpw==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.35.0\"}}", "etag": "W/\"datetime''2017-07-13T18%3A53%3A47.6295692Z''\""}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: ['*']
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 13 Jul 2017 18:53:48 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.table.core.windows.net/uttablef00194b(PartitionKey='pkf00194b',RowKey='entity2')
  response:
    body: {string: ''}
    headers:
      ETag: [W/"datetime'2017-07-13T18%3A53%3A47.7685576Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
