interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 17 Feb 2016 20:04:50 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerd3041389?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D337D597F4D629"']
      Last-Modified: ['Wed, 17 Feb 2016 20:04:50 GMT']
      x-ms-version: ['2015-04-05']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 17 Feb 2016 20:04:50 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&prefix=containerd3041389
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>containerd3041389</Prefix><Containers><Container><Name>containerd3041389</Name><Properties><Last-Modified>Wed,\
        \ 17 Feb 2016 20:04:50 GMT</Last-Modified><Etag>\"0x8D337D597F4D629\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container></Containers><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
version: 1
