interactions:
- request:
    body: !!python/unicode '{"test3": "3", "test2": "value", "test5": "2017-08-18T23:12:50Z",
      "test4": "1234567890", "PartitionKey": "001", "test5@odata.type": "Edm.DateTime",
      "test3@odata.type": "Edm.Int64", "RowKey": "batch_merge", "test": "true", "test4@odata.type":
      "Edm.Int64"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 18 Aug 2017 23:12:50 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/tablee2da0d47
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'')']
      etag: [W/"datetime'2017-08-18T23%3A12%3A50.3853635Z'"]
      location: ['https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:12:50 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey='001',RowKey='batch_merge')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablee2da0d47/@Element","odata.etag":"W/\"datetime''2017-08-18T23%3A12%3A50.3853635Z''\"","PartitionKey":"001","RowKey":"batch_merge","Timestamp":"2017-08-18T23:12:50.3853635Z","test3@odata.type":"Edm.Int64","test3":"3","test2":"value","test5@odata.type":"Edm.DateTime","test5":"2017-08-18T23:12:50Z","test4@odata.type":"Edm.Int64","test4":"1234567890","test":"true"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-08-18T23%3A12%3A50.3853635Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '--batch_c185e0d1-846a-11e7-94a9-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_c185e199-846a-11e7-b9ed-b8e8564491f6


      --changeset_c185e199-846a-11e7-b9ed-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      MERGE /tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'') HTTP/1.1

      Content-ID: 1

      Accept: application/json;odata=minimalmetadata

      If-Match: *

      Content-Type: application/json

      Content-Length: 67


      {"PartitionKey": "001", "test2": "value1", "RowKey": "batch_merge"}


      --changeset_c185e199-846a-11e7-b9ed-b8e8564491f6--

      --batch_c185e0d1-846a-11e7-94a9-b8e8564491f6--'
    headers:
      Content-Type: [!!python/unicode 'multipart/mixed; boundary=batch_c185e0d1-846a-11e7-94a9-b8e8564491f6']
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:12:50 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: !!python/unicode "--batchresponse_6f3fec75-5568-4ab6-987b-cd32d31deac9\r\
        \nContent-Type: multipart/mixed; boundary=changesetresponse_cfe93cbb-f335-423c-9fe1-560db7d0ec5c\r\
        \n\r\n--changesetresponse_cfe93cbb-f335-423c-9fe1-560db7d0ec5c\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2017-08-18T23%3A12%3A50.3863635Z'\"\
        \r\n\r\n\r\n--changesetresponse_cfe93cbb-f335-423c-9fe1-560db7d0ec5c--\r\n\
        --batchresponse_6f3fec75-5568-4ab6-987b-cd32d31deac9--\r\n"}
    headers:
      content-type: [multipart/mixed; boundary=batchresponse_6f3fec75-5568-4ab6-987b-cd32d31deac9]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:12:50 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey='001',RowKey='batch_merge')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablee2da0d47/@Element","odata.etag":"W/\"datetime''2017-08-18T23%3A12%3A50.3863635Z''\"","PartitionKey":"001","RowKey":"batch_merge","Timestamp":"2017-08-18T23:12:50.3863635Z","test":"true","test2":"value1","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-08-18T23:12:50Z"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-08-18T23%3A12%3A50.3863635Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
