interactions:
- request:
    body: '{"TableName": "querytablec12a1338"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 17 Feb 2017 00:56:04 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''querytablec12a1338'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''querytablec12a1338'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: '--batch_dc180609-f4ab-11e6-b9a5-64510640cc62

      Content-Type: multipart/mixed; boundary=changeset_dc18060a-f4ab-11e6-a027-64510640cc62


      --changeset_dc18060a-f4ab-11e6-a027-64510640cc62

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytablec12a1338 HTTP/1.1

      Content-ID: 1

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Type: application/json

      Content-Length: 556


      {"birthday": "1970-10-04T00:00:00Z", "Birthday": "1973-10-04T00:00:00Z", "PartitionKey":
      "pkc12a1338", "large@odata.type": "Edm.Int64", "sex": "male", "deceased": false,
      "birthday@odata.type": "Edm.DateTime", "optional": null, "large": "933311100",
      "other": 20, "age": "39", "married": true, "clsid@odata.type": "Edm.Guid", "Birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "RowKey": "rkc12a13381", "evenratio":
      3.0, "ratio": 3.1, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "age@odata.type":
      "Edm.Int64", "binary@odata.type": "Edm.Binary"}


      --changeset_dc18060a-f4ab-11e6-a027-64510640cc62

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytablec12a1338 HTTP/1.1

      Content-ID: 2

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Type: application/json

      Content-Length: 557


      {"birthday": "1970-10-04T00:00:00Z", "Birthday": "1973-10-04T00:00:00Z", "PartitionKey":
      "pkc12a1338", "large@odata.type[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 17 Feb 2017 00:56:05 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/querytablec12a1338()?%24top=2
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytablec12a1338","value":[{"odata.etag":"W/\"datetime''2017-02-17T00%3A56%3A04.8900892Z''\"","PartitionKey":"pkc12a1338","RowKey":"rkc12a13381","Timestamp":"2017-02-17T00:56:04.8900892Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","sex":"male","deceased":false,"large@odata.type":"Edm.Int64","large":"933311100","other":20,"age@odata.type":"Edm.Int64","age":"39","married":true,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","evenratio":3.0,"ratio":3.1,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"},{"odata.etag":"W/\"datetime''2017-02-17T00%3A56%3A04.8900892Z''\"","PartitionKey":"pkc12a1338","RowKey":"rkc12a133812","Timestamp":"2017-02-17T00:56:04.8900892Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","sex":"male","deceased":false,"large@odata.type":"Edm.Int64","large":"933311100","other":20,"age@odata.type":"Edm.Int64","age":"39","married":true,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","evenratio":3.0,"ratio":3.1,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-continuation-NextPartitionKey: [1!16!cGtjMTJhMTMzOA--]
      x-ms-continuation-NextRowKey: [1!20!cmtjMTJhMTMzODEyMw--]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
