interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:20:53 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:20:53 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8a001cee-9908-42a5-85d2-fb2600a931bf</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:20:55 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:20:55 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAGbtS87s70wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 02 Oct 2017 20:20:55 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:20:54 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8a001cee-9908-42a5-85d2-fb2600a931bf</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:20:55 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:20:55 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAQrY5Bbw70wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 02 Oct 2017 20:21:25 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
