interactions:
- request:
    body: !!python/unicode '{"binary": "YmluYXJ5", "age@odata.type": "Edm.Int64",
      "PartitionKey": "pkab3d1289", "ratio": 3.1, "large@odata.type": "Edm.Int64",
      "age": "39", "married": true, "Birthday@odata.type": "Edm.DateTime", "sex":
      "male", "large": "933311100", "birthday@odata.type": "Edm.DateTime", "birthday":
      "1970-10-04T00:00:00Z", "evenratio": 3.0, "RowKey": "rkab3d1289", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "binary@odata.type": "Edm.Binary", "Birthday": "1973-10-04T00:00:00Z", "other":
      20, "optional": null, "clsid@odata.type": "Edm.Guid", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 18 Aug 2017 23:13:15 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttableab3d1289
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttableab3d1289(PartitionKey=''pkab3d1289'',RowKey=''rkab3d1289'')']
      etag: [W/"datetime'2017-08-18T23%3A13%3A15.0490856Z'"]
      location: ['https://storagename.table.core.windows.net/uttableab3d1289(PartitionKey=''pkab3d1289'',RowKey=''rkab3d1289'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:13:15 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttableab3d1289(PartitionKey='pkab3d1289',RowKey='rkab3d1289')
  response:
    body: {string: !!python/unicode '{"PartitionKey":"pkab3d1289","RowKey":"rkab3d1289","Timestamp":"2017-08-18T23:13:15.0490856Z","binary":"YmluYXJ5","ratio":3.1,"age":"39","married":true,"sex":"male","large":"933311100","birthday":"1970-10-04T00:00:00Z","evenratio":3.0,"clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Birthday":"1973-10-04T00:00:00Z","other":20,"deceased":false}'}
    headers:
      content-type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-08-18T23%3A13%3A15.0490856Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
