interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:25 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue29f01530
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "QCOwS2JZdlOTnSlPUoUxLA==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "t5iEnZTbCHHQr0YCsMJidPR8yyxF3Tj5fDQMQ3Cf0/nAdAWjGf2Hqg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "tjAZaeIREp7V834fCNJ04w==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.1.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:25 GMT']
      x-ms-version: ['2017-07-29']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue29f01530/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6b5a1911-44a8-46fb-8864-e7e262d7dfb8</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:31:25 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:31:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAj3hecNme0wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 05 Feb 2018 23:31:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:25 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue29f01530/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6b5a1911-44a8-46fb-8864-e7e262d7dfb8</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:31:25 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:31:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAxppFgtme0wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 05 Feb 2018 23:31:55 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"QCOwS2JZdlOTnSlPUoUxLA==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"t5iEnZTbCHHQr0YCsMJidPR8yyxF3Tj5fDQMQ3Cf0/nAdAWjGf2Hqg==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"tjAZaeIREp7V834fCNJ04w==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 1.1.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "t14/5qnJApMr3Qvh5XI8Cg==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "gnvz6ftjuagzhiPjiphoEsq+egWN9/liC7DtloYd42gU/aUoIhdfkg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "yu+c5JnBMqAicqJJ01w8Xg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.1.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:25 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue29f01530/messages/6b5a1911-44a8-46fb-8864-e7e262d7dfb8?popreceipt=AgAAAAMAAAAAAAAAxppFgtme0wE%3D&visibilitytimeout=0
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAGp5pcNme0wEBAAAA]
      x-ms-time-next-visible: ['Mon, 05 Feb 2018 23:31:25 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:25 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue29f01530/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6b5a1911-44a8-46fb-8864-e7e262d7dfb8</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:31:25 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:31:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAIHJQgtme0wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 05 Feb 2018 23:31:55 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"t14/5qnJApMr3Qvh5XI8Cg==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"gnvz6ftjuagzhiPjiphoEsq+egWN9/liC7DtloYd42gU/aUoIhdfkg==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"yu+c5JnBMqAicqJJ01w8Xg==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 1.1.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
version: 1
