interactions:
- request:
    body: !!python/unicode '{"TableName": "querytablefc361447"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Mon, 02 Oct 2017 20:24:17 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/Tables(''querytablefc361447'')']
      location: ['https://storagename.table.core.windows.net/Tables(''querytablefc361447'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: !!python/unicode '--batch_aa2dfb63-a7af-11e7-8d1c-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_aa2dfc02-a7af-11e7-a7b2-b8e8564491f6


      --changeset_aa2dfc02-a7af-11e7-a7b2-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytablefc361447 HTTP/1.1

      Content-ID: 1

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 556


      {"binary": "YmluYXJ5", "age@odata.type": "Edm.Int64", "PartitionKey": "pkfc361447",
      "ratio": 3.1, "large@odata.type": "Edm.Int64", "age": "39", "married": true,
      "Birthday@odata.type": "Edm.DateTime", "sex": "male", "large": "933311100",
      "birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "evenratio":
      3.0, "RowKey": "rkfc3614471", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "binary@odata.type": "Edm.Binary", "Birthday": "1973-10-04T00:00:00Z", "other":
      20, "optional": null, "clsid@odata.type": "Edm.Guid", "deceased": false}


      --changeset_aa2dfc02-a7af-11e7-a7b2-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytablefc361447 HTTP/1.1

      Content-ID: 2

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 557


      {"binary": "YmluYXJ5", "age@odata.type": "Edm.Int64", "PartitionKey": "pkfc361447",
      "ratio": 3.1, "large@odata.type": "Edm.Int6[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Mon, 02 Oct 2017 20:24:17 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/querytablefc361447()
  response:
    body: {string: !!python/unicode '{"value":[{"PartitionKey":"pkfc361447","RowKey":"rkfc3614471","Timestamp":"2017-10-02T20:24:18.5850315Z","binary":"YmluYXJ5","ratio":3.1,"age":"39","married":true,"sex":"male","large":"933311100","birthday":"1970-10-04T00:00:00Z","evenratio":3.0,"clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Birthday":"1973-10-04T00:00:00Z","other":20,"deceased":false},{"PartitionKey":"pkfc361447","RowKey":"rkfc36144712","Timestamp":"2017-10-02T20:24:18.5850315Z","binary":"YmluYXJ5","ratio":3.1,"age":"39","married":true,"sex":"male","large":"933311100","birthday":"1970-10-04T00:00:00Z","evenratio":3.0,"clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Birthday":"1973-10-04T00:00:00Z","other":20,"deceased":false}]}'}
    headers:
      content-type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
