interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:43:27 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/sharebd7817d1?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D522EAC5DB7979"']
      Last-Modified: ['Fri, 03 Nov 2017 18:43:27 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>empty</Id><AccessPolicy /></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:43:27 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/sharebd7817d1?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D522EAC5DB797A"']
      Last-Modified: ['Fri, 03 Nov 2017 18:43:27 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:43:27 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/sharebd7817d1?restype=share&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>empty</Id></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D522EAC5DB797A"']
      Last-Modified: ['Fri, 03 Nov 2017 18:43:27 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
