interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:35:30 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4CB19661D277A"']
      Last-Modified: ['Sat, 15 Jul 2017 00:35:31 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2017-07-15T00:34:30Z</Start><Expiry>2017-07-15T01:35:30Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:35:30 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4CB1966227D67"']
      Last-Modified: ['Sat, 15 Jul 2017 00:35:31 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:35:30 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2017-07-15T00:34:30.0000000Z</Start><Expiry>2017-07-15T01:35:30.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D4CB1966227D67"']
      Last-Modified: ['Sat, 15 Jul 2017 00:35:31 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
