interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:16:58 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue9d3c0b2f
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:16:58 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue9d3c0b2f/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>11bc5a13-5235-40cb-bc05-f999f268186f</MessageId><InsertionTime>Wed,\
        \ 14 Jun 2017 06:16:58 GMT</InsertionTime><ExpirationTime>Wed, 21 Jun 2017\
        \ 06:16:58 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAFTII1NXk0gE=</PopReceipt><TimeNextVisible>Wed,\
        \ 14 Jun 2017 06:16:58 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message4</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:16:58 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue9d3c0b2f/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>16e8d916-3c01-4c21-84ea-f824bd518191</MessageId><InsertionTime>Wed,\
        \ 14 Jun 2017 06:16:58 GMT</InsertionTime><ExpirationTime>Wed, 21 Jun 2017\
        \ 06:16:58 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAnt4U1NXk0gE=</PopReceipt><TimeNextVisible>Wed,\
        \ 14 Jun 2017 06:16:58 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
version: 1
