interactions:
- request:
    body: '{"TableName": "table2e3140d5b"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 17 Feb 2017 00:50:09 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''table2e3140d5b'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''table2e3140d5b'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: '--batch_0857409f-f4ab-11e6-9800-64510640cc62

      Content-Type: multipart/mixed; boundary=changeset_085740a0-f4ab-11e6-b4fd-64510640cc62


      --changeset_085740a0-f4ab-11e6-b4fd-64510640cc62

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /tablee3140d5b HTTP/1.1

      Content-ID: 1

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Type: application/json

      Content-Length: 274


      {"RowKey": "batch_all_operations_together-1", "test2": "value", "test4": "1234567890",
      "test3": "3", "test3@odata.type": "Edm.Int64", "PartitionKey": "003", "test5@odata.type":
      "Edm.DateTime", "test5": "2017-02-17T00:50:09Z", "test4@odata.type": "Edm.Int64",
      "test": "true"}


      --changeset_085740a0-f4ab-11e6-b4fd-64510640cc62

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /tablee3140d5b HTTP/1.1

      Content-ID: 2

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Type: application/json

      Content-Length: 274


      {"RowKey": "batch_all_operations_together-2", "test2": "value", "test4": "1234567890",
      "test3": "3", "test3@odata.type": "Edm.Int64[...]
[...]
- request:
    body: '--batch_088a026a-f4ab-11e6-a8ba-64510640cc62

      Content-Type: multipart/mixed; boundary=changeset_088a026b-f4ab-11e6-85ce-64510640cc62


      --changeset_088a026b-f4ab-11e6-85ce-64510640cc62

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /tablee3140d5b HTTP/1.1

      Content-ID: 1

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Type: application/json

      Content-Length: 272


      {"RowKey": "batch_all_operations_together", "test2": "value", "test4": "1234567890",
      "test3": "3", "test3@odata.type": "Edm.Int64", "PartitionKey": "003", "test5@odata.type":
      "Edm.DateTime", "test5": "2017-02-17T00:50:09Z", "test4@odata.type": "Edm.Int64",
      "test": "true"}


      --changeset_088a026b-f4ab-11e6-85ce-64510640cc62

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      DELETE /tablee3140d5b(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')
      HTTP/1.1

      Content-ID: 2

      If-Match: *

      Accept: application/json;odata=minimalmetadata


      --changeset_088a026b-f4ab-11e6-85ce-64510640cc62

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /tablee3140d5b(PartitionKey=''003'',RowKey=''batch_all_operations_together-2'')
      HTTP/1.1

      Content-ID: 3

      Content-Type: application/json

      If-Match: *

      Accept: application/json;odata=minimalmetadata

      Content-Length: 275


      {"RowKey": "batch_all_operations_[...]
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 17 Feb 2017 00:50:10 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/tablee3140d5b()?%24select=&%24filter=PartitionKey+eq+%27003%27
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablee3140d5b&$select=","value":[{"odata.etag":"W/\"datetime''2017-02-17T00%3A50%3A09.8731253Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together","Timestamp":"2017-02-17T00:50:09.8731253Z","test2":"value","test4@odata.type":"Edm.Int64","test4":"1234567890","test3@odata.type":"Edm.Int64","test3":"3","test5@odata.type":"Edm.DateTime","test5":"2017-02-17T00:50:09Z","test":"true"},{"odata.etag":"W/\"datetime''2017-02-17T00%3A50%3A09.910196Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together-2","Timestamp":"2017-02-17T00:50:09.910196Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"10","test4@odata.type":"Edm.Int64","[...]
