interactions:
- request:
    body: '{"PartitionKey": "pk3cc81593", "RowKey": "unencryptedunencrypted", "age":
      "39", "age@odata.type": "Edm.Int64", "sex": "male", "name": "John Doe", "married":
      true, "deceased": false, "optional": null, "evenratio": 3.0, "ratio": 3.1, "large":
      "933311100", "large@odata.type": "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Sat, 15 Jul 2017 00:44:38 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable3cc81593
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable3cc81593(PartitionKey=''pk3cc81593'',RowKey=''unencryptedunencrypted'')']
      ETag: [W/"datetime'2017-07-15T00%3A44%3A39.6287559Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable3cc81593(PartitionKey=''pk3cc81593'',RowKey=''unencryptedunencrypted'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: '{"PartitionKey": "pk3cc81593", "RowKey": "rk3cc81593", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "I2KsnqxAUTz33oHdRvA4dw==", "sex@odata.type": "Edm.Binary",
      "name": "uQKK5nwpibW7Cspw7GydPg==", "name@odata.type": "Edm.Binary", "married":
      true, "deceased": false, "optional": null, "evenratio": 3.0, "ratio": 3.1, "large":
      "933311100", "large@odata.type": "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid",
      "_ClientEncryptionMetadata2": "jDayRy7apQrGhH2/kTopsg==", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "_ClientEncryptionMetadata1": "{\"WrappedContentKey\": {\"KeyId\":
      \"key1\", \"EncryptedKey\": \"oRCU/bm8/Bw4DieaqWaNAqmqpe0FeNZiJc+H4f3m2O77sSOP3toNDg==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"LN86Yyy4qZBdYyu5e65q9w==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.35.1\"}}"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Sat, 15 Jul 2017 00:44:39 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable3cc81593
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable3cc81593(PartitionKey=''pk3cc81593'',RowKey=''rk3cc81593'')']
      ETag: [W/"datetime'2017-07-15T00%3A44%3A39.6667816Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable3cc81593(PartitionKey=''pk3cc81593'',RowKey=''rk3cc81593'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Sat, 15 Jul 2017 00:44:39 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable3cc81593()
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable3cc81593","value":[{"odata.etag":"W/\"datetime''2017-07-15T00%3A44%3A39.6667816Z''\"","PartitionKey":"pk3cc81593","RowKey":"rk3cc81593","Timestamp":"2017-07-15T00:44:39.6667816Z","age@odata.type":"Edm.Int64","age":"39","sex@odata.type":"Edm.Binary","sex":"I2KsnqxAUTz33oHdRvA4dw==","name@odata.type":"Edm.Binary","name":"uQKK5nwpibW7Cspw7GydPg==","married":true,"deceased":false,"evenratio":3.0,"ratio":3.1,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluY[...]
[...]
