interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:32 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue0bdb1127a
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>eHl6</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:32 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue0bdb1127a/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a4487730-8f07-44a8-b219-433999d62b49</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:42:33 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:42:33 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAM5l2PwP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:42:33 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:33 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue0bdb1127a/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a4487730-8f07-44a8-b219-433999d62b49</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:42:33 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:42:33 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAo95fUQP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:43:03 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>eHl6</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
