interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Sep 2017 07:40:12 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share41961029?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5018D28C50022"']
      last-modified: ['Fri, 22 Sep 2017 07:40:12 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Sep 2017 07:40:12 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&prefix=share41961029
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>share41961029</Prefix><Shares><Share><Name>share41961029</Name><Properties><Last-Modified>Fri,\
        \ 22 Sep 2017 07:40:12 GMT</Last-Modified><Etag>\"0x8D5018D28C50022\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
