interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:20:24 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename-secondary.blob.core.windows.net/?restype=service&comp=stats
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Wed,\
        \ 14 Jun 2017 06:18:17 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
