interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:30:09 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue223e14de
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:30:09 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue223e14de/messages
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:30:09 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue223e14de/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>13541dc8-d27e-4914-9545-8eddd4fa89ca</MessageId><InsertionTime>Wed,\
        \ 10 Aug 2016 18:30:07 GMT</InsertionTime><ExpirationTime>Wed, 17 Aug 2016\
        \ 18:30:07 GMT</ExpirationTime><DequeueCount>1</DequeueCount><PopReceipt>AgAAAAMAAAAAAAAA3OaASjXz0QE=</PopReceipt><TimeNextVisible>Wed,\
        \ 10 Aug 2016 18:30:37 GMT</TimeNextVisible><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\
      \u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:30:09 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue223e14de/messages/13541dc8-d27e-4914-9545-8eddd4fa89ca?visibilitytimeout=0&popreceipt=AgAAAAMAAAAAAAAA3OaASjXz0QE%3D
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAIZukODXz0QEBAAAA]
      x-ms-time-next-visible: ['Wed, 10 Aug 2016 18:30:07 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:30:09 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue223e14de/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>13541dc8-d27e-4914-9545-8eddd4fa89ca</MessageId><InsertionTime>Wed,\
        \ 10 Aug 2016 18:30:07 GMT</InsertionTime><ExpirationTime>Wed, 17 Aug 2016\
        \ 18:30:07 GMT</ExpirationTime><DequeueCount>2</DequeueCount><PopReceipt>AgAAAAMAAAAAAAAAVyCLSjXz0QE=</PopReceipt><TimeNextVisible>Wed,\
        \ 10 Aug 2016 18:30:37 GMT</TimeNextVisible><MessageText>\u554A\u9F44\u4E02\
        \u72DB\u72DC</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
