interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:46:07 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueued7de1393
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:46:07 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueued7de1393/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0fa8be93-e454-42df-9adb-138146cdd8b1</MessageId><InsertionTime>Fri,
        17 Feb 2017 00:46:07 GMT</InsertionTime><ExpirationTime>Fri, 24 Feb 2017 00:46:07
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAfYiyObeI0gE=</PopReceipt><TimeNextVisible>Fri,
        17 Feb 2017 00:46:07 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:46:07 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueued7de1393/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0fa8be93-e454-42df-9adb-138146cdd8b1</MessageId><InsertionTime>Fri,
        17 Feb 2017 00:46:07 GMT</InsertionTime><ExpirationTime>Fri, 24 Feb 2017 00:46:07
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAj4OiS7eI0gE=</PopReceipt><TimeNextVisible>Fri,
        17 Feb 2017 00:46:37 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:46:25 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueued7de1393/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList
        />"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
