interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:44:27 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuef853140e
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>message1\u3688</MessageText></QueueMessage>"
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:44:27 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuef853140e/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ff96f58c-fefc-4fac-9f63-a9d612b50008</MessageId><InsertionTime>Fri,
        17 Feb 2017 00:44:27 GMT</InsertionTime><ExpirationTime>Fri, 24 Feb 2017 00:44:27
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA+vn9/baI0gE=</PopReceipt><TimeNextVisible>Fri,
        17 Feb 2017 00:44:27 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:44:27 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuef853140e/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ff96f58c-fefc-4fac-9f63-a9d612b50008</MessageId><InsertionTime>Fri,
        17 Feb 2017 00:44:27 GMT</InsertionTime><ExpirationTime>Fri, 24 Feb 2017 00:44:27
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAT5HuD7eI0gE=</PopReceipt><TimeNextVisible>Fri,
        17 Feb 2017 00:44:57 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1\u3688</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
