interactions:
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      If-Match: ['*']
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 13 Jul 2017 18:53:49 GMT']
      x-ms-version: ['2017-04-17']
    method: DELETE
    uri: https://storagename.table.core.windows.net/uttablef9b6145a(PartitionKey='pkf9b6145a',RowKey='rkf9b6145a')
  response:
    body: {string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:050b755d-0002-011e-0509-fcc86c000000\nTime:2017-07-13T18:53:49.7261390Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 404, message: Not Found}
version: 1
