interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:58 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueued9c213ac
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "pRuKCW9USLP86tHKMQYr6g==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "YTkcQI+nXsMDTr2EOnHX3vAdcP04iTnevwr+dxz5+NMpcIGYCPH+GA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "KEmFaETGIJwiLGUSVIcePw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.35.1"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:58 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueued9c213ac/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>11629d4a-af71-4993-8d4e-4adc6bd00d2f</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:42:59 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:42:59 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAAArTTgP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:42:59 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
version: 1
