interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:44:31 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue0453d1525
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>xyz</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:44:31 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue0453d1525/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fc0f98a6-cedf-4dc1-9a00-52de89e17582</MessageId><InsertionTime>Fri,
        17 Feb 2017 00:44:32 GMT</InsertionTime><ExpirationTime>Fri, 24 Feb 2017 00:44:32
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAPau+ALeI0gE=</PopReceipt><TimeNextVisible>Fri,
        17 Feb 2017 00:44:32 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:44:32 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue0453d1525/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fc0f98a6-cedf-4dc1-9a00-52de89e17582</MessageId><InsertionTime>Fri,
        17 Feb 2017 00:44:32 GMT</InsertionTime><ExpirationTime>Fri, 24 Feb 2017 00:44:32
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>xyz</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:45:56 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue0453d1525/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fc0f98a6-cedf-4dc1-9a00-52de89e17582</MessageId><InsertionTime>Fri,
        17 Feb 2017 00:44:32 GMT</InsertionTime><ExpirationTime>Fri, 24 Feb 2017 00:44:32
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>xyz</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
