interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:43:49 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queueb3920bee
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:43:49 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/queueb3920bee/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>47a20f04-30cc-44ae-8937-c5180e74da68</MessageId><InsertionTime>Fri,\
        \ 03 Nov 2017 18:43:54 GMT</InsertionTime><ExpirationTime>Fri, 10 Nov 2017\
        \ 18:43:54 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA7uoNs9NU0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 03 Nov 2017 18:43:54 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:43:50 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/queueb3920bee/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>47a20f04-30cc-44ae-8937-c5180e74da68</MessageId><InsertionTime>Fri,\
        \ 03 Nov 2017 18:43:54 GMT</InsertionTime><ExpirationTime>Fri, 10 Nov 2017\
        \ 18:43:54 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
