interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:10:41 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue74f61174
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:10:41 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue74f61174/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2a8e787f-ff41-451e-a7a0-51bc76d0de4f</MessageId><InsertionTime>Fri,\
        \ 18 Aug 2017 23:10:41 GMT</InsertionTime><ExpirationTime>Fri, 25 Aug 2017\
        \ 23:10:41 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAxUAdNncY0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 18 Aug 2017 23:10:41 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:10:41 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue74f61174/messages?peekonly=true&numofmessages=4
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2a8e787f-ff41-451e-a7a0-51bc76d0de4f</MessageId><InsertionTime>Fri,\
        \ 18 Aug 2017 23:10:41 GMT</InsertionTime><ExpirationTime>Fri, 25 Aug 2017\
        \ 23:10:41 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>5bd2224e-26f8-4bfe-90d9-0450b6b9dd07</MessageId><InsertionTime>Fri,\
        \ 18 Aug 2017 23:10:41 GMT</InsertionTime><ExpirationTime>Fri, 25 Aug 2017\
        \ 23:10:41 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>1fc12a66-af8f-4b44-93ec-6a7795f5d94d</MessageId><InsertionTime>Fri,\
        \ 18 Aug 2017 23:10:41 GMT</InsertionTime><ExpirationTime>Fri, 25 Aug 2017\
        \ 23:10:41 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>e85004e1-5fc2-407b-91b1-ce870b8aedff</MessageId><InsertionTime>Fri,\
        \ 18 Aug 2017 23:10:41 GMT</InsertionTime><ExpirationTime>Fri, 25 Aug 2017\
        \ 23:10:41 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
