interactions:
- request:
    body: !!python/unicode '{"binary": "YmluYXJ5", "age@odata.type": "Edm.Int64",
      "PartitionKey": "pk9316171e", "ratio": 3.1, "large@odata.type": "Edm.Int64",
      "age": "39", "married": true, "Birthday@odata.type": "Edm.DateTime", "sex":
      "male", "large": "933311100", "birthday@odata.type": "Edm.DateTime", "birthday":
      "1970-10-04T00:00:00Z", "evenratio": 3.0, "RowKey": "rk9316171e", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "binary@odata.type": "Edm.Binary", "Birthday": "1973-10-04T00:00:00Z", "other":
      20, "optional": null, "clsid@odata.type": "Edm.Guid", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Mon, 02 Oct 2017 20:24:04 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable9316171e
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttable9316171e(PartitionKey=''pk9316171e'',RowKey=''rk9316171e'')']
      etag: [W/"datetime'2017-10-02T20%3A24%3A05.5493946Z'"]
      location: ['https://storagename.table.core.windows.net/uttable9316171e(PartitionKey=''pk9316171e'',RowKey=''rk9316171e'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: !!python/unicode '{"age": "abc", "birthday": "1991-10-04T00:00:00Z", "sex":
      "female", "birthday@odata.type": "Edm.DateTime", "PartitionKey": "pk9316171e",
      "RowKey": "rk9316171e", "sign": "aquarius"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: [W/"datetime'2012-06-15T22%3A51%3A44.9662825Z'"]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Mon, 02 Oct 2017 20:24:04 GMT']
      x-ms-version: ['2017-04-17']
    method: MERGE
    uri: https://storagename.table.core.windows.net/uttable9316171e(PartitionKey='pk9316171e',RowKey='rk9316171e')
  response:
    body: {string: !!python/unicode '{"odata.error":{"code":"UpdateConditionNotSatisfied","message":{"lang":"en-US","value":"The
        update condition specified in the request was not satisfied.\nRequestId:016db714-0002-00d1-5dbc-3be98b000000\nTime:2017-10-02T20:24:05.5914233Z"}}}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 412, message: Precondition Failed}
version: 1
