interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:31:59 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965?restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The\
        \ specified container already exists.\nRequestId:2a120b0c-001e-008f-17d2-5464ff000000\n\
        Time:2017-11-03T18:31:59.9411772Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 409, message: The specified container already exists.}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Fri, 03 Nov 2017 18:32:00 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D522E92C18F3A7"']
      Last-Modified: ['Fri, 03 Nov 2017 18:32:00 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:32:00 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D522E92C18F3A7"']
      Last-Modified: ['Fri, 03 Nov 2017 18:32:00 GMT']
      x-ms-access-tier: [Hot]
      x-ms-access-tier-inferred: ['true']
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:32:00 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"\
        utcontainer21831965\"><Blobs><Blob><Name>blob21831965</Name><Properties><Last-Modified>Fri,\
        \ 03 Nov 2017 18:32:00 GMT</Last-Modified><Etag>0x8D522E92C18F3A7</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-access-tier: [Archive]
      x-ms-date: ['Fri, 03 Nov 2017 18:32:00 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965?comp=tier
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:32:00 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D522E92C18F3A7"']
      Last-Modified: ['Fri, 03 Nov 2017 18:32:00 GMT']
      x-ms-access-tier: [Archive]
      x-ms-access-tier-change-time: ['Fri, 03 Nov 2017 18:32:00 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:32:00 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"\
        utcontainer21831965\"><Blobs><Blob><Name>blob21831965</Name><Properties><Last-Modified>Fri,\
        \ 03 Nov 2017 18:32:00 GMT</Last-Modified><Etag>0x8D522E92C18F3A7</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Archive</AccessTier><AccessTierChangeTime>Fri,\
        \ 03 Nov 2017 18:32:00 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:32:02 GMT']
      x-ms-version: ['2017-04-17']
    method: DELETE
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
version: 1
