interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:21:13 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "i0zHgSY7JrlEZMxGxWOMWw==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "vJkRA+aQ9lz4aaCNfNfE/QPemeGNenC4Fydan+/fHzxmRu4+4J5W7A==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "vaqcMypvQRyO82/BHYRZng==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.37.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:21:13 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>192177b8-111b-431a-825d-86e84eca368c</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:21:14 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:21:14 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAw+r//rs70wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 02 Oct 2017 20:21:14 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:21:13 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>192177b8-111b-431a-825d-86e84eca368c</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:21:14 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:21:14 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"i0zHgSY7JrlEZMxGxWOMWw==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"vJkRA+aQ9lz4aaCNfNfE/QPemeGNenC4Fydan+/fHzxmRu4+4J5W7A==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"vaqcMypvQRyO82/BHYRZng==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.37.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:21:13 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>192177b8-111b-431a-825d-86e84eca368c</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:21:14 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:21:14 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"i0zHgSY7JrlEZMxGxWOMWw==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"vJkRA+aQ9lz4aaCNfNfE/QPemeGNenC4Fydan+/fHzxmRu4+4J5W7A==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"vaqcMypvQRyO82/BHYRZng==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.37.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
