interactions:
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Tue, 19 Jun 2018 22:15:31 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainerf9461458/rehydration_test_blob_1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D5D6322BD3C6C8"']
      Last-Modified: ['Tue, 19 Jun 2018 22:15:31 GMT']
      x-ms-content-crc64: [vo7q9sPVKY0=]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-access-tier: [Archive]
      x-ms-date: ['Tue, 19 Jun 2018 22:15:31 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainerf9461458/rehydration_test_blob_1?comp=tier
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:15:32 GMT']
      x-ms-version: ['2018-03-28']
    method: HEAD
    uri: https://blobstoragename.blob.core.windows.net/utcontainerf9461458/rehydration_test_blob_1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D5D6322BD3C6C8"']
      Last-Modified: ['Tue, 19 Jun 2018 22:15:31 GMT']
      x-ms-access-tier: [Archive]
      x-ms-access-tier-change-time: ['Tue, 19 Jun 2018 22:15:32 GMT']
      x-ms-archive-status: [rehydrate-pending-to-cool]
      x-ms-blob-type: [BlockBlob]
      x-ms-content-crc64: [vo7q9sPVKY0=]
      x-ms-creation-time: ['Tue, 19 Jun 2018 22:15:31 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:15:32 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainerf9461458?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"utcontainerf9461458\"><Blobs><Blob><Name>rehydration_test_blob_1</Name><Properties><Creation-Time>Tue,
        19 Jun 2018 22:15:31 GMT</Creation-Time><Last-Modified>Tue, 19 Jun 2018 22:15:31
        GMT</Last-Modified><Etag>0x8D5D6322BD3C6C8</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Archive</AccessTier><ArchiveStatus>rehydrate-pending-to-cool</ArchiveStatus><AccessTierChangeTime>Tue,
        19 Jun 2018 22:15:32 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:15:32 GMT']
      x-ms-version: ['2018-03-28']
    method: DELETE
    uri: https://blobstoragename.blob.core.windows.net/utcontainerf9461458/rehydration_test_blob_1
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 16 Jul 2018 22:34:23 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainerf9461458?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"utcontainerf9461458\"><Blobs><Blob><Name>rehydration_test_blob_2</Name><Properties><Creation-Time>Mon,
        16 Jul 2018 22:34:23 GMT</Creation-Time><Last-Modified>Mon, 16 Jul 2018 22:34:23
        GMT</Last-Modified><Etag>0x8D5EB6C4772D763</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Archive</AccessTier><ArchiveStatus>rehydrate-pending-to-hot</ArchiveStatus><AccessTierChangeTime>Mon,
        16 Jul 2018 22:34:23 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
