interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:45:20 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "qZNpWp38GNiG+GWJeW7MhwaK4j6aF8StjmRzGxSlN+c=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "eo1B1LTc3v2SWGMneqZ+qDEkiAdQiKTn9daSMJy9e7SPRyg1EOHsfQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "y87FKrtRlznulFEV5BWO7Q==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.37.1"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:45:20 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>30db77a1-c48b-4fd2-9152-948488aeba5e</MessageId><InsertionTime>Fri,\
        \ 03 Nov 2017 18:45:24 GMT</InsertionTime><ExpirationTime>Fri, 10 Nov 2017\
        \ 18:45:24 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAaiP06NNU0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 03 Nov 2017 18:45:24 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:45:20 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>30db77a1-c48b-4fd2-9152-948488aeba5e</MessageId><InsertionTime>Fri,\
        \ 03 Nov 2017 18:45:24 GMT</InsertionTime><ExpirationTime>Fri, 10 Nov 2017\
        \ 18:45:24 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"qZNpWp38GNiG+GWJeW7MhwaK4j6aF8StjmRzGxSlN+c=\"\
        , \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\"\
        : \"eo1B1LTc3v2SWGMneqZ+qDEkiAdQiKTn9daSMJy9e7SPRyg1EOHsfQ==\", \"Algorithm\"\
        : \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\"\
        : \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"y87FKrtRlznulFEV5BWO7Q==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.37.1\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
