interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:21:15 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "GojgU/joxctGDWT1XrSazZhbKh8wOMcxpUdHa/wXsDo=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "BnolIBekD2L95VxDzKYtX6cGgrl8SyQSY6HNTbMbT+O0IBT3u22WhA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "Mvk3esSiIgnKt70/IZQIYw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.37.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:21:15 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d9608ab0-3681-4d88-9214-b53b5cd2914e</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:21:16 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:21:16 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAADI9NALw70wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 02 Oct 2017 20:21:16 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:21:15 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d9608ab0-3681-4d88-9214-b53b5cd2914e</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:21:16 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:21:16 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA9BQ0Erw70wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 02 Oct 2017 20:21:46 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"GojgU/joxctGDWT1XrSazZhbKh8wOMcxpUdHa/wXsDo=\"\
        , \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\"\
        : \"BnolIBekD2L95VxDzKYtX6cGgrl8SyQSY6HNTbMbT+O0IBT3u22WhA==\", \"Algorithm\"\
        : \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\"\
        : \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"Mvk3esSiIgnKt70/IZQIYw==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.37.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "AySIP6BYDxIrjJGGgK/8WmpBRdGvskgdzG/u8t1R21k=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "wpXlhGG2UyAO7d3gMC48Ly8y5sj9vs+Zzt45SqRn7rgpOdNRb33J+A==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "klV7u/IWftUFAwxX5BWcBg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.37.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:21:15 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749/messages/d9608ab0-3681-4d88-9214-b53b5cd2914e?popreceipt=AgAAAAMAAAAAAAAA9BQ0Erw70wE%3D&visibilitytimeout=0
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAo7RYALw70wEBAAAA]
      x-ms-time-next-visible: ['Mon, 02 Oct 2017 20:21:16 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:21:15 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d9608ab0-3681-4d88-9214-b53b5cd2914e</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:21:16 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:21:16 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAzK8/Erw70wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 02 Oct 2017 20:21:46 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"AySIP6BYDxIrjJGGgK/8WmpBRdGvskgdzG/u8t1R21k=\"\
        , \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\"\
        : \"wpXlhGG2UyAO7d3gMC48Ly8y5sj9vs+Zzt45SqRn7rgpOdNRb33J+A==\", \"Algorithm\"\
        : \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\"\
        : \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"klV7u/IWftUFAwxX5BWcBg==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.37.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
