interactions:
- request:
    body: !!python/unicode '{"binary": "YmluYXJ5", "age@odata.type": "Edm.Int64",
      "PartitionKey": "pk3741440", "ratio": 3.1, "large@odata.type": "Edm.Int64",
      "age": "39", "married": true, "Birthday@odata.type": "Edm.DateTime", "sex":
      "male", "large": "933311100", "birthday@odata.type": "Edm.DateTime", "birthday":
      "1970-10-04T00:00:00Z", "evenratio": 3.0, "RowKey": "rk3741440", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "binary@odata.type": "Edm.Binary", "Birthday": "1973-10-04T00:00:00Z", "other":
      20, "optional": null, "clsid@odata.type": "Edm.Guid", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 13 Sep 2017 00:55:44 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/table3741440
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/table3741440(PartitionKey=''pk3741440'',RowKey=''rk3741440'')']
      etag: [W/"datetime'2017-09-13T00%3A55%3A44.7199813Z'"]
      location: ['https://storagename.table.core.windows.net/table3741440(PartitionKey=''pk3741440'',RowKey=''rk3741440'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: !!python/unicode '--batch_46028c70-981e-11e7-8c86-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_46028d3a-981e-11e7-9935-b8e8564491f6


      --changeset_46028d3a-981e-11e7-9935-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /table3741440(PartitionKey=''pk3741440'',RowKey=''rk3741440'') HTTP/1.1

      Content-ID: 1

      Accept: application/json;odata=minimalmetadata

      If-Match: W/"datetime''2012-06-15T22%3A51%3A44.9662825Z''"

      Content-Type: application/json

      Content-Length: 178


      {"age": "abc", "birthday": "1991-10-04T00:00:00Z", "sex": "female", "birthday@odata.type":
      "Edm.DateTime", "PartitionKey": "pk3741440", "RowKey": "rk3741440", "sign":
      "aquarius"}


      --changeset_46028d3a-981e-11e7-9935-b8e8564491f6--

      --batch_46028c70-981e-11e7-8c86-b8e8564491f6--'
    headers:
      Content-Type: [!!python/unicode 'multipart/mixed; boundary=batch_46028c70-981e-11e7-8c86-b8e8564491f6']
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 13 Sep 2017 00:55:44 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: !!python/unicode "--batchresponse_eb1f75df-a164-456e-9a30-01def8f5a92e\r\
        \nContent-Type: multipart/mixed; boundary=changesetresponse_d1d158cf-7430-4651-bcc7-3bba21a13112\r\
        \n\r\n--changesetresponse_d1d158cf-7430-4651-bcc7-3bba21a13112\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 412\
        \ Precondition Failed\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\
        \nCache-Control: no-cache\r\nDataServiceVersion: 3.0;\r\nContent-Type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8\r\
        \n\r\n{\"odata.error\":{\"code\":\"UpdateConditionNotSatisfied\",\"message\"\
        :{\"lang\":\"en-US\",\"value\":\"The update condition specified in the request\
        \ was not satisfied.\\nRequestId:0498c2f1-0002-0010-6e2b-2c6232000000\\nTime:2017-09-13T00:55:44.7620132Z\"\
        }}}\r\n--changesetresponse_d1d158cf-7430-4651-bcc7-3bba21a13112--\r\n--batchresponse_eb1f75df-a164-456e-9a30-01def8f5a92e--\r\
        \n"}
    headers:
      content-type: [multipart/mixed; boundary=batchresponse_eb1f75df-a164-456e-9a30-01def8f5a92e]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 13 Sep 2017 00:55:47 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/table3741440(PartitionKey='pk3741440',RowKey='rk3741440')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table3741440/@Element","odata.etag":"W/\"datetime''2017-09-13T00%3A55%3A44.7199813Z''\"","PartitionKey":"pk3741440","RowKey":"rk3741440","Timestamp":"2017-09-13T00:55:44.7199813Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","ratio":3.1,"age@odata.type":"Edm.Int64","age":"39","married":true,"sex":"male","large@odata.type":"Edm.Int64","large":"933311100","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","evenratio":3.0,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","other":20,"deceased":false}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-09-13T00%3A55%3A44.7199813Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
