interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:20:37 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/sharebd7817d1?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4B2ED799BE27F"']
      Last-Modified: ['Wed, 14 Jun 2017 06:20:38 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>empty</Id><AccessPolicy /></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:20:37 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/sharebd7817d1?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4B2ED799BE280"']
      Last-Modified: ['Wed, 14 Jun 2017 06:20:38 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 14 Jun 2017 06:20:37 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.file.core.windows.net/sharebd7817d1?restype=share&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>empty</Id></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D4B2ED799BE280"']
      Last-Modified: ['Wed, 14 Jun 2017 06:20:38 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
