interactions:
- request:
    body: !!python/unicode '{"binary": "YmluYXJ5", "age@odata.type": "Edm.Int64",
      "PartitionKey": "001", "ratio": 3.1, "large@odata.type": "Edm.Int64", "age":
      "39", "married": true, "Birthday@odata.type": "Edm.DateTime", "sex": "male",
      "large": "933311100", "birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "evenratio": 3.0, "RowKey": "batch_negative_1", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "binary@odata.type": "Edm.Binary", "Birthday": "1973-10-04T00:00:00Z", "other":
      20, "optional": null, "clsid@odata.type": "Edm.Guid", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 18 Aug 2017 23:12:51 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/table2efa1532
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/table2efa1532(PartitionKey=''001'',RowKey=''batch_negative_1'')']
      etag: [W/"datetime'2017-08-18T23%3A12%3A51.4663645Z'"]
      location: ['https://storagename.table.core.windows.net/table2efa1532(PartitionKey=''001'',RowKey=''batch_negative_1'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
version: 1
