interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:21:12 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:21:12 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4e08c318-d190-4abb-82ea-3be32bdc23d8</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:21:12 GMT</InsertionTime><ExpirationTime>Thu, 16 May 2019\
        \ 01:21:12 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAcPtpfQUG1QE=</PopReceipt><TimeNextVisible>Thu,\
        \ 09 May 2019 01:21:12 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:21:12 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4e08c318-d190-4abb-82ea-3be32bdc23d8</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:21:12 GMT</InsertionTime><ExpirationTime>Thu, 16 May 2019\
        \ 01:21:12 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAALEVRjwUG1QE=</PopReceipt><TimeNextVisible>Thu,\
        \ 09 May 2019 01:21:42 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
