interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:57 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9ae1814
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "TYwBpqszVYluzCTL3SpeTt7kgU4C9S3VKo+a7PRSpQT5fDuv8t+TSMZC+utopyJJ4X9TBz6DNVSFbiEK+4RmiFOLYaiMWBdggKRbKZSQp5+UooX4MhZ5dLSEjCXAXZ2FOjCVGhcPxCwtPu5u5t19YYIiRQcoyJZCt9L48d8uA2Rlsjh0u1I1R1BbTvrepfi2",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "Z/RFt6/qB7sZgd/DnNaAWX9+agcjRuuyB2zFfQd2cKSPY0Fm9eSvfA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "NOnJzW2/MfNI4RgT5u79uQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.3.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:57 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9ae1814/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4f3a77ae-e3e0-4f0c-a794-e014e1d61b03</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:32:57 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:32:57
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAdaLteB0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:32:57 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:57 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9ae1814/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4f3a77ae-e3e0-4f0c-a794-e014e1d61b03</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:32:57 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:32:57
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAexXeih0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:33:27 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"TYwBpqszVYluzCTL3SpeTt7kgU4C9S3VKo+a7PRSpQT5fDuv8t+TSMZC+utopyJJ4X9TBz6DNVSFbiEK+4RmiFOLYaiMWBdggKRbKZSQp5+UooX4MhZ5dLSEjCXAXZ2FOjCVGhcPxCwtPu5u5t19YYIiRQcoyJZCt9L48d8uA2Rlsjh0u1I1R1BbTvrepfi2\",
        \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\":
        \"Z/RFt6/qB7sZgd/DnNaAWX9+agcjRuuyB2zFfQd2cKSPY0Fm9eSvfA==\", \"Algorithm\":
        \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"NOnJzW2/MfNI4RgT5u79uQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.3.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "puTWb1f9zoerQwNQPawQmemyny3UjDQaYwHeaRDf/tZgMJMzc2dnsjRyy4FSCm7BrATaGvvLWZwTxXS/hSncZWOiKQlGfti9Lc1cmztTzkfRdkBfDhuXH+3p0KPF+WXyYkXswl6kuduyJivIBfJYK+dQN5ynohDOnsOPxnkImNCndb5RpMVtdekIWgQrhVBK",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "vZXBW/OKPJC0esgUwnLCh2aA6IFnggkHeGNmI1BjB5/+nu++GhIXhw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "4+jF7ZrjBlt6rACWCFd2zQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.3.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:57 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9ae1814/messages/4f3a77ae-e3e0-4f0c-a794-e014e1d61b03?popreceipt=AgAAAAMAAAAAAAAAexXeih0I1AE%3D&visibilitytimeout=0
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAA4pILeR0I1AEBAAAA]
      x-ms-time-next-visible: ['Tue, 19 Jun 2018 22:32:57 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 204, message: No Content}
[...]
