interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:10:30 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4E68E520209E5"']
      last-modified: ['Fri, 18 Aug 2017 23:10:30 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2017-08-18T23:09:30Z</Start><Expiry>2017-08-19T00:10:30Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:10:30 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?comp=acl&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4E68E520209E6"']
      last-modified: ['Fri, 18 Aug 2017 23:10:30 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:10:30 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/share492a15b6?comp=acl&restype=share
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2017-08-18T23:09:30.0000000Z</Start><Expiry>2017-08-19T00:10:30.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"}
    headers:
      content-type: [application/xml]
      etag: ['"0x8D4E68E520209E6"']
      last-modified: ['Fri, 18 Aug 2017 23:10:30 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
