interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:56 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue29091535
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "teofIJwfj7y/DxwONfcYig==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "Lke7sGqIcdzaSnsx4PDW1uLFhZGCszgxfmUTgQ06FCnDH4m6HqZDsA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "dvD7u+Lm0NROi2EIwzuldg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.35.1"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:56 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue29091535/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>17159298-ee52-43db-82f1-4a76b7a9c9dd</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:42:57 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:42:57 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAvU2RTQP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:42:57 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:56 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue29091535/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>17159298-ee52-43db-82f1-4a76b7a9c9dd</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:42:57 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:42:57 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"teofIJwfj7y/DxwONfcYig==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"Lke7sGqIcdzaSnsx4PDW1uLFhZGCszgxfmUTgQ06FCnDH4m6HqZDsA==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"dvD7u+Lm0NROi2EIwzuldg==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.35.1\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:56 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue29091535/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>17159298-ee52-43db-82f1-4a76b7a9c9dd</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:42:57 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:42:57 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"teofIJwfj7y/DxwONfcYig==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"Lke7sGqIcdzaSnsx4PDW1uLFhZGCszgxfmUTgQ06FCnDH4m6HqZDsA==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"dvD7u+Lm0NROi2EIwzuldg==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.35.1\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
