interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:41:07 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuec0820c59
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:41:07 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuec0820c59/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>22e526b7-992e-4cf5-8280-437999458e48</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:41:08 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:41:08 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAACatWDAP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:41:08 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:41:07 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuec0820c59/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>22e526b7-992e-4cf5-8280-437999458e48</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:41:08 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:41:08 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAUs09HgP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:41:38 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:41:07 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuec0820c59/messages/22e526b7-992e-4cf5-8280-437999458e48?popreceipt=AgAAAAMAAAAAAAAAUs09HgP90gE%3D&visibilitytimeout=0
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAezBjDAP90gEBAAAA]
      x-ms-time-next-visible: ['Sat, 15 Jul 2017 00:41:08 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:41:07 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuec0820c59/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>22e526b7-992e-4cf5-8280-437999458e48</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:41:08 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:41:08 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAyFJKHgP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:41:38 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
