interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:10:07 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue0bdb1127a
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>eHl6</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:10:07 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue0bdb1127a/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e9948a43-f0af-4b07-a0e4-95871a73f608</MessageId><InsertionTime>Thu,
        18 Jan 2018 22:10:08 GMT</InsertionTime><ExpirationTime>Thu, 25 Jan 2018 22:10:08
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAuycnGqmQ0wE=</PopReceipt><TimeNextVisible>Thu,
        18 Jan 2018 22:10:08 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:10:07 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue0bdb1127a/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e9948a43-f0af-4b07-a0e4-95871a73f608</MessageId><InsertionTime>Thu,
        18 Jan 2018 22:10:08 GMT</InsertionTime><ExpirationTime>Thu, 25 Jan 2018 22:10:08
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAIx8QLKmQ0wE=</PopReceipt><TimeNextVisible>Thu,
        18 Jan 2018 22:10:38 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>eHl6</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
