interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:30:07 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue6405110f
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:30:08 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue6405110f/messages
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:30:08 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue6405110f/messages?visibilitytimeout=20&numofmessages=4
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a5008f36-6152-4375-99f9-206f047b00fe</MessageId><InsertionTime>Wed,\
        \ 10 Aug 2016 18:30:06 GMT</InsertionTime><ExpirationTime>Wed, 17 Aug 2016\
        \ 18:30:06 GMT</ExpirationTime><DequeueCount>1</DequeueCount><PopReceipt>AgAAAAMAAAAAAAAAnVzLQzXz0QE=</PopReceipt><TimeNextVisible>Wed,\
        \ 10 Aug 2016 18:30:26 GMT</TimeNextVisible><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>5d213962-d9cc-4c5b-96b1-40094f6f2d04</MessageId><InsertionTime>Wed,\
        \ 10 Aug 2016 18:30:06 GMT</InsertionTime><ExpirationTime>Wed, 17 Aug 2016\
        \ 18:30:06 GMT</ExpirationTime><DequeueCount>1</DequeueCount><PopReceipt>AgAAAAMAAAAAAAAAnVzLQzXz0QE=</PopReceipt><TimeNextVisible>Wed,\
        \ 10 Aug 2016 18:30:26 GMT</TimeNextVisible><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>407a5dec-8314-4aa4-8da5-0842a4f7deac</MessageId><InsertionTime>Wed,\
        \ 10 Aug 2016 18:30:06 GMT</InsertionTime><ExpirationTime>Wed, 17 Aug 2016\
        \ 18:30:06 GMT</ExpirationTime><DequeueCount>1</DequeueCount><PopReceipt>AgAAAAMAAAAAAAAAnVzLQzXz0QE=</PopReceipt><TimeNextVisible>Wed,\
        \ 10 Aug 2016 18:30:26 GMT</TimeNextVisible><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>13d06688-dbba-4be0-a7d4-e23af842e463</MessageId><InsertionTime>Wed,\
        \ 10 Aug 2016 18:30:06 GMT</InsertionTime><ExpirationTime>Wed, 17 Aug 2016\
        \ 18:30:06 GMT</ExpirationTime><DequeueCount>1</DequeueCount><PopReceipt>AgAAAAMAAAAAAAAAnVzLQzXz0QE=</PopReceipt><TimeNextVisible>Wed,\
        \ 10 Aug 2016 18:30:26 GMT</TimeNextVisible><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
