interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:36:02 GMT']
      x-ms-version: ['2017-11-09']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue577f1613
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-11-09']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "9x8F5t45eqbWZ01ZjPW7SQ==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "IBNFXbWQ216/R1OFntR0oM76dgGWMGY2lHFni2BrwwNWSq4nYpPCZQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "yAQVrFGVeSkBLf2Npbg0nw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.2.0rc1"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:36:02 GMT']
      x-ms-version: ['2017-11-09']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue577f1613/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d00a30ee-9965-495d-b079-d899929d2484</MessageId><InsertionTime>Tue,
        22 May 2018 23:36:03 GMT</InsertionTime><ExpirationTime>Tue, 29 May 2018 23:36:03
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAAY2bpSXy0wE=</PopReceipt><TimeNextVisible>Tue,
        22 May 2018 23:36:03 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:36:03 GMT']
      x-ms-version: ['2017-11-09']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue577f1613/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d00a30ee-9965-495d-b079-d899929d2484</MessageId><InsertionTime>Tue,
        22 May 2018 23:36:03 GMT</InsertionTime><ExpirationTime>Tue, 29 May 2018 23:36:03
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAUtaCtyXy0wE=</PopReceipt><TimeNextVisible>Tue,
        22 May 2018 23:36:33 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"9x8F5t45eqbWZ01ZjPW7SQ==\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"IBNFXbWQ216/R1OFntR0oM76dgGWMGY2lHFni2BrwwNWSq4nYpPCZQ==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"yAQVrFGVeSkBLf2Npbg0nw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.2.0rc1\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-11-09']
    status: {code: 200, message: OK}
version: 1
