interactions:
- request:
    body: '{"TableName": "\u554a\u9f44\u4e02\u72db\u72dc"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 17 Feb 2017 00:49:56 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: '{"odata.error":{"code":"InvalidResourceName","message":{"lang":"en-US","value":"The
        specifed resource name contains invalid characters.\nRequestId:4d66cc2d-0002-0017-40b7-883b30000000\nTime:2017-02-17T00:49:56.3445814Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 400, message: Bad Request}
version: 1
