interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:08:47 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:08:49 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>008b7291-ef9f-4ba6-b32a-f9aaf18e5fac</MessageId><InsertionTime>Wed,\
        \ 04 Oct 2017 00:08:48 GMT</InsertionTime><ExpirationTime>Wed, 11 Oct 2017\
        \ 00:08:48 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAh8Xr86Q80wE=</PopReceipt><TimeNextVisible>Wed,\
        \ 04 Oct 2017 00:08:48 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:08:49 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>008b7291-ef9f-4ba6-b32a-f9aaf18e5fac</MessageId><InsertionTime>Wed,\
        \ 04 Oct 2017 00:08:48 GMT</InsertionTime><ExpirationTime>Wed, 11 Oct 2017\
        \ 00:08:48 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAACF3TBaU80wE=</PopReceipt><TimeNextVisible>Wed,\
        \ 04 Oct 2017 00:09:18 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
