interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:20:53 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue0ab101218
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>AQ==</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:20:53 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue0ab101218/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>bb8c1cfd-7d71-4b11-9677-e7de58075c0d</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:20:54 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:20:54 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAqkgJ87s70wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 02 Oct 2017 20:20:54 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:20:53 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue0ab101218/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>bb8c1cfd-7d71-4b11-9677-e7de58075c0d</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:20:54 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:20:54 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA00PwBLw70wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 02 Oct 2017 20:21:24 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>AQ==</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
