interactions:
- request:
    body: !!python/unicode 'AAA'
    headers:
      x-ms-date: ['Tue, 03 Oct 2017 23:58:02 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer32b01530/blob32b01530?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [4fr/s+YU5sL7p0KWliOGtw==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'BBB'
    headers:
      x-ms-date: ['Tue, 03 Oct 2017 23:58:02 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer32b01530/blob32b01530?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [K7Il8LqaWJMHV6ho7VfZow==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'CCC'
    headers:
      x-ms-date: ['Tue, 03 Oct 2017 23:58:02 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer32b01530/blob32b01530?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [3vuZ5pqfH24G8VAGsfFmrg==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>NA==</Latest></BlockList>'
    headers:
      x-ms-date: ['Tue, 03 Oct 2017 23:58:02 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer32b01530/blob32b01530?comp=blocklist
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidBlockList</Code><Message>The\
        \ specified block list is invalid.\nRequestId:4c160026-001e-0002-02a3-3c562e000000\n\
        Time:2017-10-03T23:58:02.1812203Z</Message></Error>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 400, message: The specified block list is invalid.}
version: 1
