interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:10:25 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4E68E4F5A2A36"']
      last-modified: ['Fri, 18 Aug 2017 23:10:25 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:10:25 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1?restype=directory
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4E68E4F6A7090"']
      last-modified: ['Fri, 18 Aug 2017 23:10:25 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Fri, 18 Aug 2017 23:10:25 GMT']
      x-ms-type: [file]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/file1
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4E68E4F782EC6"']
      last-modified: ['Fri, 18 Aug 2017 23:10:25 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:10:26 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/pref_dir3?restype=directory
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4E68E4F7F5BEB"']
      last-modified: ['Fri, 18 Aug 2017 23:10:25 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-content-length: ['1025']
      x-ms-date: ['Fri, 18 Aug 2017 23:10:26 GMT']
      x-ms-type: [file]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/pref_file2
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4E68E4F852956"']
      last-modified: ['Fri, 18 Aug 2017 23:10:25 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-content-length: ['1025']
      x-ms-date: ['Fri, 18 Aug 2017 23:10:26 GMT']
      x-ms-type: [file]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share625f1644/dir1/file3
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4E68E4F8B6C0E"']
      last-modified: ['Fri, 18 Aug 2017 23:10:26 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:10:26 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/share625f1644/dir1?comp=list&restype=directory&prefix=pref
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        share625f1644\" DirectoryPath=\"dir1\"><Prefix>pref</Prefix><Entries><Directory><Name>pref_dir3</Name><Properties\
        \ /></Directory><File><Name>pref_file2</Name><Properties><Content-Length>1025</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
