interactions:
- request:
    body: null
    headers:
      x-ms-blob-content-length: ['8796093022209']
      x-ms-blob-type: [PageBlob]
      x-ms-date: ['Tue, 22 May 2018 23:30:43 GMT']
      x-ms-version: ['2017-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer2aa214c8/blob2aa214c8
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The
        value for one of the HTTP headers is not in the correct format.\nRequestId:83f0f681-c01e-00c4-3f24-f22b12000000\nTime:2018-05-22T23:30:43.2751436Z</Message><HeaderName>x-ms-blob-content-length</HeaderName><HeaderValue>8796093022209</HeaderValue></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [InvalidHeaderValue]
      x-ms-version: ['2017-11-09']
    status: {code: 400, message: The value for one of the HTTP headers is not in the
        correct format.}
version: 1
