interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:37 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "oa1z7kPTH9i4spciH5cMKMN/ma55ArzoBBg6RbdDUdE=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "itOUoTGTxlySSNVGm7gwXRo2ycX5B0J7AyKkYciRwL5Kg5q+4HyzfQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "RR5pJz1PoBB2czcUSHuPrA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.35.1"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:37 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f60dc5bb-de54-4082-b02e-34b4aedccbda</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:42:38 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:42:38 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA2jpVQgP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:42:38 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:37 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f60dc5bb-de54-4082-b02e-34b4aedccbda</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:42:38 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:42:38 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAZ4pDVAP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:43:08 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"oa1z7kPTH9i4spciH5cMKMN/ma55ArzoBBg6RbdDUdE=\"\
        , \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\"\
        : \"itOUoTGTxlySSNVGm7gwXRo2ycX5B0J7AyKkYciRwL5Kg5q+4HyzfQ==\", \"Algorithm\"\
        : \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\"\
        : \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"RR5pJz1PoBB2czcUSHuPrA==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.35.1\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
