interactions:
- request:
    body: '{"sex": "male", "PartitionKey": "pk12440ee0", "large": "933311100", "binary":
      "YmluYXJ5", "RowKey": "rk12440ee0", "binary@odata.type": "Edm.Binary", "birthday":
      "1970-10-04T00:00:00Z", "age": "39", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "Birthday@odata.type": "Edm.DateTime", "large@odata.type": "Edm.Int64", "deceased":
      false, "clsid@odata.type": "Edm.Guid", "age@odata.type": "Edm.Int64", "birthday@odata.type":
      "Edm.DateTime", "married": true, "other": 20, "Birthday": "1973-10-04T00:00:00Z",
      "optional": null, "ratio": 3.1, "evenratio": 3.0}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 10 Aug 2016 18:33:36 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable12440ee0
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable12440ee0(PartitionKey=''pk12440ee0'',RowKey=''rk12440ee0'')']
      ETag: [W/"datetime'2016-08-10T18%3A33%3A35.5472005Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable12440ee0(PartitionKey=''pk12440ee0'',RowKey=''rk12440ee0'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      If-Match: ['*']
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:33:36 GMT']
      x-ms-version: ['2015-07-08']
    method: DELETE
    uri: https://storagename.table.core.windows.net/uttable12440ee0(PartitionKey='pk12440ee0',RowKey='rk12440ee0')
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:33:36 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable12440ee0(PartitionKey='pk12440ee0',RowKey='rk12440ee0')
  response:
    body: {string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:69eb6149-0002-0084-1d35-f3a922000000\nTime:2016-08-10T18:33:35.6122045Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2015-07-08']
    status: {code: 404, message: Not Found}
version: 1
