interactions:
- request:
    body: '{"TableName": "tablef3d21ca0"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 17 Feb 2017 00:49:39 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''tablef3d21ca0'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''tablef3d21ca0'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: '{"TableName": "tablef3d21ca0"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 17 Feb 2017 00:49:39 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: '{"odata.error":{"code":"TableAlreadyExists","message":{"lang":"en-US","value":"The
        table specified already exists.\nRequestId:cc168293-0002-0048-5eb7-888f0c000000\nTime:2017-02-17T00:49:39.5671740Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 409, message: Conflict}
version: 1
