interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:28:05 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename-secondary.queue.core.windows.net/?restype=service&comp=stats
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Thu,\
        \ 09 May 2019 01:25:46 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
