interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Jan 2016 19:05:36 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://storagename.blob.core.windows.net/listcontainer02a7c19c6?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D325BA82A96783"']
      Last-Modified: ['Mon, 25 Jan 2016 19:05:37 GMT']
      x-ms-version: ['2015-04-05']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Jan 2016 19:05:37 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&prefix=listcontainer&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>listcontainer</Prefix><MaxResults>2</MaxResults><Containers><Container><Name>listcontainer02a7c19c6</Name><Properties><Last-Modified>Mon,\
        \ 25 Jan 2016 19:05:37 GMT</Last-Modified><Etag>\"0x8D325BA82A96783\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container><Container><Name>listcontainer12a7c19c6</Name><Properties><Last-Modified>Mon,\
        \ 25 Jan 2016 19:05:37 GMT</Last-Modified><Etag>\"0x8D325BA82B0BACA\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container></Containers><NextMarker>/storagename/listcontainer22a7c19c6</NextMarker></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Jan 2016 19:05:37 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&prefix=listcontainer&marker=%2Fstoragename%2Flistcontainer22a7c19c6&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>listcontainer</Prefix><Marker>/storagename/listcontainer22a7c19c6</Marker><MaxResults>2</MaxResults><Containers><Container><Name>listcontainer22a7c19c6</Name><Properties><Last-Modified>Mon,\
        \ 25 Jan 2016 19:05:37 GMT</Last-Modified><Etag>\"0x8D325BA82B74AA6\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container><Container><Name>listcontainer32a7c19c6</Name><Properties><Last-Modified>Mon,\
        \ 25 Jan 2016 19:05:37 GMT</Last-Modified><Etag>\"0x8D325BA82BE28B9\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container></Containers><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Jan 2016 19:30:16 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&prefix=listcontainer&marker=%2Fstoragename%2Flistcontainer22a7c19c6&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>listcontainer</Prefix><Marker>/storagename/listcontainer22a7c19c6</Marker><MaxResults>2</MaxResults><Containers><Container><Name>listcontainer22a7c19c6</Name><Properties><Last-Modified>Mon,\
        \ 25 Jan 2016 19:30:16 GMT</Last-Modified><Etag>\"0x8D325BDF472B4D1\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container><Container><Name>listcontainer32a7c19c6</Name><Properties><Last-Modified>Mon,\
        \ 25 Jan 2016 19:30:16 GMT</Last-Modified><Etag>\"0x8D325BDF478A8A4\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container></Containers><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
version: 1
