interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:41:06 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue223e14de
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:41:06 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue223e14de/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a53f8fa5-3140-4df6-9cc0-a3b7343c02f8</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:41:07 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:41:07 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAni/KCwP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:41:07 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:41:06 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue223e14de/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a53f8fa5-3140-4df6-9cc0-a3b7343c02f8</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:41:07 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:41:07 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAr1+0HQP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:41:37 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\
      \u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:41:06 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue223e14de/messages/a53f8fa5-3140-4df6-9cc0-a3b7343c02f8?popreceipt=AgAAAAMAAAAAAAAAr1%2B0HQP90gE%3D&visibilitytimeout=0
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAJc0RDAP90gEBAAAA]
      x-ms-time-next-visible: ['Sat, 15 Jul 2017 00:41:07 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:41:06 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue223e14de/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a53f8fa5-3140-4df6-9cc0-a3b7343c02f8</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:41:07 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:41:07 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAn9QGHgP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:41:37 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>\u554A\
        \u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
