interactions:
- request:
    body: !!python/unicode '{"TableName": "table2e3140d5b"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 18 Aug 2017 23:12:51 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/Tables(''table2e3140d5b'')']
      location: ['https://storagename.table.core.windows.net/Tables(''table2e3140d5b'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: !!python/unicode '--batch_c1d59fe6-846a-11e7-babf-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_c1d5a07a-846a-11e7-8be5-b8e8564491f6


      --changeset_c1d5a07a-846a-11e7-8be5-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /tablee3140d5b HTTP/1.1

      Content-ID: 1

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 274


      {"test3": "3", "test2": "value", "test5": "2017-08-18T23:12:51Z", "test4": "1234567890",
      "PartitionKey": "003", "test5@odata.type": "Edm.DateTime", "test3@odata.type":
      "Edm.Int64", "RowKey": "batch_all_operations_together-1", "test": "true", "test4@odata.type":
      "Edm.Int64"}


      --changeset_c1d5a07a-846a-11e7-8be5-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /tablee3140d5b HTTP/1.1

      Content-ID: 2

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 274


      {"test3": "3", "test2": "value", "test5": "2017-08-18T23:12:51Z", "test4": "1234567890",
      "PartitionKey": "003", "test5@o[...]
[...]
- request:
    body: !!python/unicode '--batch_c1e9b347-846a-11e7-9996-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_c1e9b3f8-846a-11e7-9517-b8e8564491f6


      --changeset_c1e9b3f8-846a-11e7-9517-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /tablee3140d5b HTTP/1.1

      Content-ID: 1

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 272


      {"test3": "3", "test2": "value", "test5": "2017-08-18T23:12:51Z", "test4": "1234567890",
      "PartitionKey": "003", "test5@odata.type": "Edm.DateTime", "test3@odata.type":
      "Edm.Int64", "RowKey": "batch_all_operations_together", "test": "true", "test4@odata.type":
      "Edm.Int64"}


      --changeset_c1e9b3f8-846a-11e7-9517-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      DELETE /tablee3140d5b(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')
      HTTP/1.1

      Content-ID: 2

      If-Match: *

      Accept: application/json;odata=minimalmetadata


      --changeset_c1e9b3f8-846a-11e7-9517-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /tablee3140d5b(PartitionKey=''003'',RowKey=''batch_all_operations_together-2'')
      HTTP/1.1

      Content-ID: 3

      Accept: application/json;odata=minimalmetadata

      If-Match: *

      Content-Type: application/json

      Content-Length: 275


      {"test3": "10", "test2": "value",[...]
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:12:51 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/tablee3140d5b()?%24filter=PartitionKey+eq+%27003%27&%24select=
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablee3140d5b&$select=","value":[{"odata.etag":"W/\"datetime''2017-08-18T23%3A12%3A51.5517826Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together","Timestamp":"2017-08-18T23:12:51.5517826Z","test3@odata.type":"Edm.Int64","test3":"3","test2":"value","test5@odata.type":"Edm.DateTime","test5":"2017-08-18T23:12:51Z","test4@odata.type":"Edm.Int64","test4":"1234567890","test":"true"},{"odata.etag":"W/\"datetime''2017-08-18T23%3A12%3A51.4176839Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together-2","Timestamp":"2017-08-18T23:12:51.4176839Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"10","test4@odata.type":"Edm.Int64"[...]
