interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:12:14 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueued7de1393
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:12:15 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueued7de1393/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a3687587-981d-4fb2-82bd-86f0e412caa6</MessageId><InsertionTime>Fri,\
        \ 18 Aug 2017 23:12:15 GMT</InsertionTime><ExpirationTime>Fri, 25 Aug 2017\
        \ 23:12:15 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA3cUdbncY0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 18 Aug 2017 23:12:15 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:12:15 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueued7de1393/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a3687587-981d-4fb2-82bd-86f0e412caa6</MessageId><InsertionTime>Fri,\
        \ 18 Aug 2017 23:12:15 GMT</InsertionTime><ExpirationTime>Fri, 25 Aug 2017\
        \ 23:12:15 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAawsHgHcY0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 18 Aug 2017 23:12:45 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:12:33 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueued7de1393/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList\
        \ />"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
