interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:26 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue0ab101218
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>AQ==</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:26 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue0ab101218/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>86541676-979a-48ea-9be0-e2a5d62a8409</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:32:27 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:32:27
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAonfAZh0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:32:27 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:27 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue0ab101218/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>86541676-979a-48ea-9be0-e2a5d62a8409</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:32:27 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:32:27
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAWZmweB0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:32:57 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>AQ==</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
