interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:07:18 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/listshare07d2b16cf?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D50ABBE0A28D87"']
      last-modified: ['Wed, 04 Oct 2017 00:07:18 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:07:19 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&maxresults=2&prefix=listshare
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>listshare</Prefix><MaxResults>2</MaxResults><Shares><Share><Name>listshare07d2b16cf</Name><Properties><Last-Modified>Wed,\
        \ 04 Oct 2017 00:07:18 GMT</Last-Modified><Etag>\"0x8D50ABBE0A28D87\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare17d2b16cf</Name><Properties><Last-Modified>Wed,\
        \ 04 Oct 2017 00:07:18 GMT</Last-Modified><Etag>\"0x8D50ABBE0A8820C\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker>/storagename/listshare27d2b16cf</NextMarker></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:07:19 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&maxresults=2&prefix=listshare&marker=%2Fstoragename%2Flistshare27d2b16cf
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>listshare</Prefix><Marker>/storagename/listshare27d2b16cf</Marker><MaxResults>2</MaxResults><Shares><Share><Name>listshare27d2b16cf</Name><Properties><Last-Modified>Wed,\
        \ 04 Oct 2017 00:07:18 GMT</Last-Modified><Etag>\"0x8D50ABBE0AE7692\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare37d2b16cf</Name><Properties><Last-Modified>Wed,\
        \ 04 Oct 2017 00:07:18 GMT</Last-Modified><Etag>\"0x8D50ABBE0B4B941\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
