interactions:
- request:
    body: '{"PartitionKey": "pk3741440", "RowKey": "rk3741440", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "optional":
      null, "ratio": 3.1, "evenratio": 3.0, "large": "933311100", "large@odata.type":
      "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime",
      "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime", "binary":
      "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 14 Jun 2017 06:20:59 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/table3741440
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/table3741440(PartitionKey=''pk3741440'',RowKey=''rk3741440'')']
      ETag: [W/"datetime'2017-06-14T06%3A21%3A00.2364655Z'"]
      Location: ['https://storagename.table.core.windows.net/table3741440(PartitionKey=''pk3741440'',RowKey=''rk3741440'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: '--batch_a251cdc1-50c9-11e7-873d-705a0f3d3f8d

      Content-Type: multipart/mixed; boundary=changeset_a251cdc2-50c9-11e7-b718-705a0f3d3f8d


      --changeset_a251cdc2-50c9-11e7-b718-705a0f3d3f8d

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /table3741440(PartitionKey=''pk3741440'',RowKey=''rk3741440'') HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      If-Match: W/"datetime''2012-06-15T22%3A51%3A44.9662825Z''"

      Content-Length: 178


      {"PartitionKey": "pk3741440", "RowKey": "rk3741440", "age": "abc", "sex": "female",
      "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}


      --changeset_a251cdc2-50c9-11e7-b718-705a0f3d3f8d--

      --batch_a251cdc1-50c9-11e7-873d-705a0f3d3f8d--'
    headers:
      Content-Type: [multipart/mixed; boundary=batch_a251cdc1-50c9-11e7-873d-705a0f3d3f8d]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 14 Jun 2017 06:21:00 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: "--batchresponse_7e6e4daa-39d0-4184-bcb1-f4d2e61c475f\r\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_48b186e0-8e64-4e24-92ca-110e5954019f\r\
        \n\r\n--changesetresponse_48b186e0-8e64-4e24-92ca-110e5954019f\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 412\
        \ Precondition Failed\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\
        \nCache-Control: no-cache\r\nDataServiceVersion: 3.0;\r\nContent-Type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8\r\
        \n\r\n{\"odata.error\":{\"code\":\"UpdateConditionNotSatisfied\",\"message\"\
        :{\"lang\":\"en-US\",\"value\":\"The update condition specified in the request\
        \ was not satisfied.\\nRequestId:6b9e0564-0002-003f-46d6-e4e308000000\\nTime:2017-06-14T06:21:00.2774885Z\"\
        }}}\r\n--changesetresponse_48b186e0-8e64-4e24-92ca-110e5954019f--\r\n--batchresponse_7e6e4daa-39d0-4184-bcb1-f4d2e61c475f--\r\
        \n"}
    headers:
      Content-Type: [multipart/mixed; boundary=batchresponse_7e6e4daa-39d0-4184-bcb1-f4d2e61c475f]
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 14 Jun 2017 06:22:24 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/table3741440(PartitionKey='pk3741440',RowKey='rk3741440')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table3741440/@Element","odata.etag":"W/\"datetime''2017-06-14T06%3A21%3A00.2364655Z''\"","PartitionKey":"pk3741440","RowKey":"rk3741440","Timestamp":"2017-06-14T06:21:00.2364655Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-06-14T06%3A21%3A00.2364655Z'"]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
