interactions:
- request:
    body: '{"TableName": "listtable3f561007"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 10 Aug 2016 18:37:23 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''listtable3f561007'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''listtable3f561007'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: '{"TableName": "listtable3f561007"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 10 Aug 2016 18:37:23 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: '{"odata.error":{"code":"TableAlreadyExists","message":{"lang":"en-US","value":"The
        table specified already exists.\nRequestId:37b7cd11-0002-0050-5f36-f3e002000000\nTime:2016-08-10T18:37:21.6443370Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 409, message: Conflict}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:37:23 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables?%24top=2
  response:
    body: {string: '{"value":[{"TableName":"benchmark"},{"TableName":"c26dd787ad5064978881d05c202f65aab"}]}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-continuation-NextTableName: [1!68!YzJmZDcxMzFiZWZjNjQ3NmZiYzkxMDE2ZTNhNzQ2NDNhATAxZDE4ZjgxMzdjYmY4MGQ-]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:37:23 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables?%24top=2&NextTableName=1%2168%21YzJmZDcxMzFiZWZjNjQ3NmZiYzkxMDE2ZTNhNzQ2NDNhATAxZDE4ZjgxMzdjYmY4MGQ-
  response:
    body: {string: '{"value":[{"TableName":"c2fd7131befc6476fbc91016e3a74643a"},{"TableName":"c3442699134c742e5945d5b87bcc9ba51"}]}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-continuation-NextTableName: [1!68!YzQ0ODdlZjBjNDc5ODQ1NjA5NTQ4NTZhYjkxN2FjYzY0ATAxZDE4Zjc3ZjEzYzU5NTU-]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
