interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:45:20 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueued9c213ac
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "TzEBCN3QFnsiBTll7abhDA==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "FZHB3389lTvdSkmD2TvLxWE8xXYrT6dsbNIagFGIcOh4Oq0h0YCoFw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "vata2DzL8K4w4yux7Lz/lQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.37.1"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:45:21 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueued9c213ac/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>203b810a-a945-4a45-9eaa-4843567c8de6</MessageId><InsertionTime>Fri,\
        \ 03 Nov 2017 18:45:25 GMT</InsertionTime><ExpirationTime>Fri, 10 Nov 2017\
        \ 18:45:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAHdhk6dNU0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 03 Nov 2017 18:45:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
version: 1
