interactions:
- request:
    body: '{"PartitionKey": "001", "RowKey": "batch_delete", "test": "true", "test2":
      "value", "test3": "3", "test3@odata.type": "Edm.Int64", "test4": "1234567890",
      "test4@odata.type": "Edm.Int64", "test5": "2017-07-13T18:53:23Z", "test5@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Thu, 13 Jul 2017 18:53:23 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/tablef0500daa
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/tablef0500daa(PartitionKey=''001'',RowKey=''batch_delete'')']
      ETag: [W/"datetime'2017-07-13T18%3A53%3A22.3898287Z'"]
      Location: ['https://storagename.table.core.windows.net/tablef0500daa(PartitionKey=''001'',RowKey=''batch_delete'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 13 Jul 2017 18:53:23 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/tablef0500daa(PartitionKey='001',RowKey='batch_delete')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablef0500daa/@Element","odata.etag":"W/\"datetime''2017-07-13T18%3A53%3A22.3898287Z''\"","PartitionKey":"001","RowKey":"batch_delete","Timestamp":"2017-07-13T18:53:22.3898287Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-07-13T18:53:23Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-07-13T18%3A53%3A22.3898287Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: '--batch_8c0d3f02-67fc-11e7-a5d1-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_8c0d3fb6-67fc-11e7-a9c0-b8e8564491f6


      --changeset_8c0d3fb6-67fc-11e7-a9c0-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      DELETE /tablef0500daa(PartitionKey=''001'',RowKey=''batch_delete'') HTTP/1.1

      Content-ID: 1

      Accept: application/json;odata=minimalmetadata

      If-Match: *


      --changeset_8c0d3fb6-67fc-11e7-a9c0-b8e8564491f6--

      --batch_8c0d3f02-67fc-11e7-a5d1-b8e8564491f6--'
    headers:
      Content-Type: [multipart/mixed; boundary=batch_8c0d3f02-67fc-11e7-a5d1-b8e8564491f6]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 13 Jul 2017 18:53:23 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: "--batchresponse_11b132a8-000f-489b-a17b-2bb296f590cf\r\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_f7540ffc-17f6-4500-9cf1-72ca409500a8\r\
        \n\r\n--changesetresponse_f7540ffc-17f6-4500-9cf1-72ca409500a8\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\n\r\n\r\n--changesetresponse_f7540ffc-17f6-4500-9cf1-72ca409500a8--\r\
        \n--batchresponse_11b132a8-000f-489b-a17b-2bb296f590cf--\r\n"}
    headers:
      Content-Type: [multipart/mixed; boundary=batchresponse_11b132a8-000f-489b-a17b-2bb296f590cf]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
version: 1
