interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Sep 2017 07:40:02 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5018D22C07D8B"']
      last-modified: ['Fri, 22 Sep 2017 07:40:02 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Sep 2017 07:40:03 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1?restype=directory
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5018D2300F44B"']
      last-modified: ['Fri, 22 Sep 2017 07:40:03 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Fri, 22 Sep 2017 07:40:03 GMT']
      x-ms-type: [file]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1/filea1
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5018D231084F5"']
      last-modified: ['Fri, 22 Sep 2017 07:40:03 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Fri, 22 Sep 2017 07:40:03 GMT']
      x-ms-type: [file]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1/fileb1
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5018D2342B95B"']
      last-modified: ['Fri, 22 Sep 2017 07:40:03 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Sep 2017 07:40:03 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1?comp=list&restype=directory&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        shareffa41cea\" DirectoryPath=\"dir1\"><MaxResults>2</MaxResults><Entries><File><Name>filea1</Name><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>filea2</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEz</NextMarker></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Sep 2017 07:40:03 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1?comp=list&restype=directory&maxresults=2&marker=1%218%21ZmlsZWEz
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        shareffa41cea\" DirectoryPath=\"dir1\"><Marker>1!8!ZmlsZWEz</Marker><MaxResults>2</MaxResults><Entries><File><Name>filea3</Name><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>fileb1</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
