interactions:
- request:
    body: !!python/unicode '--batch_433127a6-981e-11e7-a117-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_4331290c-981e-11e7-a48e-b8e8564491f6


      --changeset_4331290c-981e-11e7-a48e-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      MERGE /table4c11103b(PartitionKey=''001'',RowKey=''batch_insert_merge'') HTTP/1.1

      Content-ID: 1

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 261


      {"test3": "3", "test2": "value", "test5": "2017-09-13T00:55:40Z", "test4": "1234567890",
      "PartitionKey": "001", "test5@odata.type": "Edm.DateTime", "test3@odata.type":
      "Edm.Int64", "RowKey": "batch_insert_merge", "test": "true", "test4@odata.type":
      "Edm.Int64"}


      --changeset_4331290c-981e-11e7-a48e-b8e8564491f6--

      --batch_433127a6-981e-11e7-a117-b8e8564491f6--'
    headers:
      Content-Type: [!!python/unicode 'multipart/mixed; boundary=batch_433127a6-981e-11e7-a117-b8e8564491f6']
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 13 Sep 2017 00:55:40 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: !!python/unicode "--batchresponse_1aa1b488-45f4-49af-a795-09517fa31d46\r\
        \nContent-Type: multipart/mixed; boundary=changesetresponse_c81c4b7b-268a-461c-98e4-3f4ea465bf3d\r\
        \n\r\n--changesetresponse_c81c4b7b-268a-461c-98e4-3f4ea465bf3d\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2017-09-13T00%3A55%3A40.1105318Z'\"\
        \r\n\r\n\r\n--changesetresponse_c81c4b7b-268a-461c-98e4-3f4ea465bf3d--\r\n\
        --batchresponse_1aa1b488-45f4-49af-a795-09517fa31d46--\r\n"}
    headers:
      content-type: [multipart/mixed; boundary=batchresponse_1aa1b488-45f4-49af-a795-09517fa31d46]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 13 Sep 2017 00:55:40 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/table4c11103b(PartitionKey='001',RowKey='batch_insert_merge')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table4c11103b/@Element","odata.etag":"W/\"datetime''2017-09-13T00%3A55%3A40.1105318Z''\"","PartitionKey":"001","RowKey":"batch_insert_merge","Timestamp":"2017-09-13T00:55:40.1105318Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-09-13T00:55:40Z"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-09-13T00%3A55%3A40.1105318Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
