interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:13:57 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container75091165?restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D509D21D84E0EA"']
      last-modified: ['Mon, 02 Oct 2017 20:13:58 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'hello world'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Mon, 02 Oct 2017 20:13:57 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container75091165/bloba1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [XrY7u+Ae7tCTyyK7j1rNww==]
      etag: ['"0x8D509D21D8C1BA7"']
      last-modified: ['Mon, 02 Oct 2017 20:13:58 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode 'hello world'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Mon, 02 Oct 2017 20:13:57 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container75091165/blobb1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [XrY7u+Ae7tCTyyK7j1rNww==]
      etag: ['"0x8D509D21D9852EC"']
      last-modified: ['Mon, 02 Oct 2017 20:13:58 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:13:57 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/container75091165?prefix=bloba&comp=list&restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"\
        container75091165\"><Prefix>bloba</Prefix><Blobs><Blob><Name>bloba1</Name><Properties><Last-Modified>Mon,\
        \ 02 Oct 2017 20:13:58 GMT</Last-Modified><Etag>0x8D509D21D8C1BA7</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>bloba2</Name><Properties><Last-Modified>Mon,\
        \ 02 Oct 2017 20:13:58 GMT</Last-Modified><Etag>0x8D509D21D9173D7</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
