interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:43:29 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D522EAC7589DC1"']
      Last-Modified: ['Fri, 03 Nov 2017 18:43:30 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2017-11-03T18:42:29Z</Start><Expiry>2017-11-03T19:43:29Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:43:29 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D522EAC7589DC2"']
      Last-Modified: ['Fri, 03 Nov 2017 18:43:30 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:43:29 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2017-11-03T18:42:29.0000000Z</Start><Expiry>2017-11-03T19:43:29.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D522EAC7589DC2"']
      Last-Modified: ['Fri, 03 Nov 2017 18:43:30 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
