interactions:
- request:
    body: '{"PartitionKey": "001", "RowKey": "batch_merge", "test": "true", "test2":
      "value", "test3": "3", "test3@odata.type": "Edm.Int64", "test4": "1234567890",
      "test4@odata.type": "Edm.Int64", "test5": "2017-07-15T00:44:19Z", "test5@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Sat, 15 Jul 2017 00:44:19 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/tablee2da0d47
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'')']
      ETag: [W/"datetime'2017-07-15T00%3A44%3A20.6147203Z'"]
      Location: ['https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Sat, 15 Jul 2017 00:44:19 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey='001',RowKey='batch_merge')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablee2da0d47/@Element","odata.etag":"W/\"datetime''2017-07-15T00%3A44%3A20.6147203Z''\"","PartitionKey":"001","RowKey":"batch_merge","Timestamp":"2017-07-15T00:44:20.6147203Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-07-15T00:44:19Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-07-15T00%3A44%3A20.6147203Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: '--batch_bca22774-68f6-11e7-baf7-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_bca22826-68f6-11e7-9d9b-b8e8564491f6


      --changeset_bca22826-68f6-11e7-9d9b-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      MERGE /tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'') HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      If-Match: *

      Content-Length: 67


      {"PartitionKey": "001", "RowKey": "batch_merge", "test2": "value1"}


      --changeset_bca22826-68f6-11e7-9d9b-b8e8564491f6--

      --batch_bca22774-68f6-11e7-baf7-b8e8564491f6--'
    headers:
      Content-Type: [multipart/mixed; boundary=batch_bca22774-68f6-11e7-baf7-b8e8564491f6]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Sat, 15 Jul 2017 00:44:19 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: "--batchresponse_880a6cca-b503-4a9f-a97c-50de8663b3ab\r\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_b3e50f7d-35bf-4bf3-af35-0f2be6fa9809\r\
        \n\r\n--changesetresponse_b3e50f7d-35bf-4bf3-af35-0f2be6fa9809\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2017-07-15T00%3A44%3A20.6157203Z'\"\
        \r\n\r\n\r\n--changesetresponse_b3e50f7d-35bf-4bf3-af35-0f2be6fa9809--\r\n\
        --batchresponse_880a6cca-b503-4a9f-a97c-50de8663b3ab--\r\n"}
    headers:
      Content-Type: [multipart/mixed; boundary=batchresponse_880a6cca-b503-4a9f-a97c-50de8663b3ab]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Sat, 15 Jul 2017 00:44:19 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey='001',RowKey='batch_merge')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablee2da0d47/@Element","odata.etag":"W/\"datetime''2017-07-15T00%3A44%3A20.6157203Z''\"","PartitionKey":"001","RowKey":"batch_merge","Timestamp":"2017-07-15T00:44:20.6157203Z","test":"true","test2":"value1","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-07-15T00:44:19Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-07-15T00%3A44%3A20.6157203Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
