interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:50 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue74f61174
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:50 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue74f61174/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ec13ecfe-d10f-437e-9e6d-c45d53c3af5c</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:19:50 GMT</InsertionTime><ExpirationTime>Thu, 16 May 2019\
        \ 01:19:50 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAASfNGTAUG1QE=</PopReceipt><TimeNextVisible>Thu,\
        \ 09 May 2019 01:19:50 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:50 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue74f61174/messages?peekonly=true&numofmessages=4
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ec13ecfe-d10f-437e-9e6d-c45d53c3af5c</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:19:50 GMT</InsertionTime><ExpirationTime>Thu, 16 May 2019\
        \ 01:19:50 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>368d63c4-ab27-49da-88bf-3b3230bcfa10</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:19:50 GMT</InsertionTime><ExpirationTime>Thu, 16 May 2019\
        \ 01:19:50 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>ff7cf2d6-01ff-4c66-92b1-b8798323d45d</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:19:50 GMT</InsertionTime><ExpirationTime>Thu, 16 May 2019\
        \ 01:19:50 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>87209a67-ed64-42da-abc5-70b817354e47</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:19:50 GMT</InsertionTime><ExpirationTime>Thu, 16 May 2019\
        \ 01:19:50 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
