interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 07 Apr 2016 21:07:35 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D35F28A516F494"']
      Last-Modified: ['Thu, 07 Apr 2016 21:07:36 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 07 Apr 2016 21:07:36 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D35F28A4FFA229"']
      Last-Modified: ['Thu, 07 Apr 2016 21:07:36 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Thu, 07 Apr 2016 21:07:36 GMT']
      x-ms-type: [file]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/filea1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D35F28A504F971"']
      Last-Modified: ['Thu, 07 Apr 2016 21:07:36 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Thu, 07 Apr 2016 21:07:36 GMT']
      x-ms-type: [file]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/fileb1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D35F28A5185B19"']
      Last-Modified: ['Thu, 07 Apr 2016 21:07:36 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 07 Apr 2016 21:07:36 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.file.core.windows.net/shared84a1877?restype=directory&comp=list&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        shared84a1877\" DirectoryPath=\"\"><MaxResults>2</MaxResults><Entries><Directory><Name>dir1</Name><Properties\
        \ /></Directory><File><Name>filea1</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEy</NextMarker></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
