interactions:
- request:
    body: '{"optional": null, "age@odata.type": "Edm.Int64", "birthday@odata.type":
      "Edm.DateTime", "other": 20, "birthday": "1970-10-04T00:00:00Z", "sex": "male",
      "clsid@odata.type": "Edm.Guid", "evenratio": 3.0, "PartitionKey": "pkabfa12a7",
      "Birthday": "1973-10-04T00:00:00Z", "large@odata.type": "Edm.Int64", "deceased":
      false, "age": "39", "binary@odata.type": "Edm.Binary", "Birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "RowKey": "rkabfa12a7", "large": "933311100",
      "ratio": 3.1, "married": true, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 10 Aug 2016 18:33:30 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/uttableabfa12a7
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttableabfa12a7(PartitionKey=''pkabfa12a7'',RowKey=''rkabfa12a7'')']
      ETag: [W/"datetime'2016-08-10T18%3A33%3A28.8685105Z'"]
      Location: ['https://storagename.table.core.windows.net/uttableabfa12a7(PartitionKey=''pkabfa12a7'',RowKey=''rkabfa12a7'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:33:30 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.table.core.windows.net/uttableabfa12a7(PartitionKey='pkabfa12a7',RowKey='rkabfa12a7')?%24select=age%2Csex%2Cxyz
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableabfa12a7/@Element&$select=age,sex,xyz","odata.etag":"W/\"datetime''2016-08-10T18%3A33%3A28.8685105Z''\"","age@odata.type":"Edm.Int64","age":"39","sex":"male","xyz":null}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2016-08-10T18%3A33%3A28.8685105Z'"]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
