interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:50 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuefb421443
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:51 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuefb421443/messages?messagettl=-1
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>02221328-e09d-4907-9021-3a31ed3d5c22</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:19:51 GMT</InsertionTime><ExpirationTime>Fri, 31 Dec 9999\
        \ 23:59:59 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAHqTlTAUG1QE=</PopReceipt><TimeNextVisible>Thu,\
        \ 09 May 2019 01:19:51 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:51 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuefb421443/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>02221328-e09d-4907-9021-3a31ed3d5c22</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:19:51 GMT</InsertionTime><ExpirationTime>Fri, 31 Dec 9999\
        \ 23:59:59 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
