interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:46:30 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuee12a1896
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "M/tl45Rz/22JWzgyYwKTMercisYzuD88VD2bP3Dwcg8=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "3PI46J7tE5aEI0CPlsH2OdFDFzOG4hFo837r/RGyHHBAwpSQizr03A==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "oEXfC+r3oISk5iBp22Cnzg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.34.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:46:31 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuee12a1896/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>cb3d6091-d537-46cb-bfe6-f7385923e441</MessageId><InsertionTime>Fri,
        17 Feb 2017 00:46:31 GMT</InsertionTime><ExpirationTime>Fri, 24 Feb 2017 00:46:31
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAKrGtR7eI0gE=</PopReceipt><TimeNextVisible>Fri,
        17 Feb 2017 00:46:31 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:46:31 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuee12a1896/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>cb3d6091-d537-46cb-bfe6-f7385923e441</MessageId><InsertionTime>Fri,
        17 Feb 2017 00:46:31 GMT</InsertionTime><ExpirationTime>Fri, 24 Feb 2017 00:46:31
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"M/tl45Rz/22JWzgyYwKTMercisYzuD88VD2bP3Dwcg8=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"3PI46J7tE5aEI0CPlsH2OdFDFzOG4hFo837r/RGyHHBAwpSQizr03A==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"oEXfC+r3oISk5iBp22Cnzg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.34.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
