interactions:
- request:
    body: '{"PartitionKey": "pk63e810f7", "RowKey": "rk63e810f7", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "name": "John Doe", "married": true, "deceased":
      false, "optional": null, "evenratio": 3.0, "ratio": 3.1, "large": "933311100",
      "large@odata.type": "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type":
      "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime",
      "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid":
      "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 22 Aug 2017 22:09:06 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable63e810f7
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable63e810f7(PartitionKey=''pk63e810f7'',RowKey=''rk63e810f7'')']
      ETag: [W/"datetime'2017-08-22T22%3A09%3A06.2072028Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable63e810f7(PartitionKey=''pk63e810f7'',RowKey=''rk63e810f7'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: '{"PartitionKey": "pk63e810f7", "RowKey": "rk63e810f7", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "XfTS43qFrHqjQykc2Q8cyw==", "sex@odata.type": "Edm.Binary",
      "name": "John Doe", "married": true, "deceased": false, "optional": null, "evenratio":
      3.0, "ratio": 3.1, "large": "933311100", "large@odata.type": "Edm.Int64", "Birthday":
      "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type":
      "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid", "_ClientEncryptionMetadata2": "SPpS7Ipbvk51TIc2nRHQbg==",
      "_ClientEncryptionMetadata2@odata.type": "Edm.Binary", "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"BEgkFR04BzC3RlZywiv7Pmj0tG+3mnzpK0QrIEqO16Gwbave26ibrw==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"9JuhPvHaek5e/87Vnbu2bw==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.36.0\"}}"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: ['*']
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 22 Aug 2017 22:09:06 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.table.core.windows.net/uttable63e810f7(PartitionKey='pk63e810f7',RowKey='rk63e810f7')
  response:
    body: {string: ''}
    headers:
      ETag: [W/"datetime'2017-08-22T22%3A09%3A06.2082028Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 22 Aug 2017 22:09:06 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable63e810f7(PartitionKey='pk63e810f7',RowKey='rk63e810f7')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable63e810f7/@Element","odata.etag":"W/\"datetime''2017-08-22T22%3A09%3A06.2082028Z''\"","PartitionKey":"pk63e810f7","RowKey":"rk63e810f7","Timestamp":"2017-08-22T22:09:06.2082028Z","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"BEgkFR04BzC3RlZywiv7Pmj0tG+3mnzpK0QrIEqO16Gwbave26ibrw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"9JuhPvHaek5e/87Vnbu2bw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.36.0\"}}","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"SPpS7Ipbvk51TIc2nRHQbg==","age@odata.type":"Edm.Int64","age":"39","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","deceased":false,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","married":true,"name":"John
        Doe","other":20,"ratio":3.1,"sex@odata.type":"Edm.Binary","sex":"XfTS43qFrHqjQykc2Q8cyw=="}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-08-22T22%3A09%3A06.2082028Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
