interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:19:39 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuebf740c50
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:19:39 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuebf740c50/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c774f19e-6d7b-453f-8298-8addf5c5dba4</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:19:40 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:19:40 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAjpflxrs70wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 02 Oct 2017 20:19:40 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:19:39 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuebf740c50/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList\
        \ />"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
