interactions:
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 13 Sep 2017 00:55:36 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables('tabled7260d2c')
  response:
    body: {string: !!python/unicode '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:e867cc78-0002-00f9-5f2b-2c9e34000000\nTime:2017-09-13T00:55:36.8224048Z"}}}'}
    headers:
      content-type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 404, message: Not Found}
version: 1
