interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:46:05 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container75091165?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4CA1F6B6C3836"']
      Last-Modified: ['Thu, 13 Jul 2017 18:46:06 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 13 Jul 2017 18:46:06 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container75091165/bloba1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D4CA1F6B65A666"']
      Last-Modified: ['Thu, 13 Jul 2017 18:46:06 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 13 Jul 2017 18:46:06 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container75091165/blobb1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D4CA1F6B727A1C"']
      Last-Modified: ['Thu, 13 Jul 2017 18:46:06 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:46:06 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/container75091165?restype=container&comp=list&prefix=bloba
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"\
        container75091165\"><Prefix>bloba</Prefix><Blobs><Blob><Name>bloba1</Name><Properties><Last-Modified>Thu,\
        \ 13 Jul 2017 18:46:06 GMT</Last-Modified><Etag>0x8D4CA1F6B65A666</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>bloba2</Name><Properties><Last-Modified>Thu,\
        \ 13 Jul 2017 18:46:06 GMT</Last-Modified><Etag>0x8D4CA1F6B6B25B8</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
