interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:02 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue0509615f0
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>  mess\t\
      \ age1\n</MessageText></QueueMessage>"
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:03 GMT']
      x-ms-version: ['2017-07-29']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue0509615f0/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>723d8c13-87d8-4c4e-8f02-403dd9e0903f</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:31:02 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:31:02 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAfm3wYtme0wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 05 Feb 2018 23:31:02 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:03 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue0509615f0/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>723d8c13-87d8-4c4e-8f02-403dd9e0903f</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:31:02 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:31:02 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAPSjadNme0wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 05 Feb 2018 23:31:32 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>\
        \  mess\t age1\n</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
version: 1
