interactions:
- request:
    body: '{"birthday": "1970-10-04T00:00:00Z", "Birthday": "1973-10-04T00:00:00Z",
      "PartitionKey": "pk7e2c1154", "large@odata.type": "Edm.Int64", "sex": "male",
      "deceased": false, "birthday@odata.type": "Edm.DateTime", "optional": null,
      "large": "933311100", "other": 20, "age": "39", "married": true, "clsid@odata.type":
      "Edm.Guid", "Birthday@odata.type": "Edm.DateTime", "binary": "YmluYXJ5", "RowKey":
      "rk7e2c1154", "evenratio": 3.0, "ratio": 3.1, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "age@odata.type": "Edm.Int64", "binary@odata.type": "Edm.Binary"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 17 Feb 2017 00:51:40 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/table7e2c1154
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/table7e2c1154(PartitionKey=''pk7e2c1154'',RowKey=''rk7e2c1154'')']
      ETag: [W/"datetime'2017-02-17T00%3A51%3A40.7054598Z'"]
      Location: ['https://storagename.table.core.windows.net/table7e2c1154(PartitionKey=''pk7e2c1154'',RowKey=''rk7e2c1154'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: '--batch_3eafdad3-f4ab-11e6-9edb-64510640cc62

      Content-Type: multipart/mixed; boundary=changeset_3eafdad4-f4ab-11e6-b278-64510640cc62


      --changeset_3eafdad4-f4ab-11e6-b278-64510640cc62

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /table7e2c1154(PartitionKey=''pk7e2c1154'',RowKey=''rk7e2c1154'') HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      If-Match: W/"datetime''2017-02-17T00%3A51%3A40.7054598Z''"

      Accept: application/json;odata=minimalmetadata

      Content-Length: 180


      {"birthday": "1991-10-04T00:00:00Z", "age": "abc", "sex": "female", "RowKey":
      "rk7e2c1154", "sign": "aquarius", "PartitionKey": "pk7e2c1154", "birthday@odata.type":
      "Edm.DateTime"}


      --changeset_3eafdad4-f4ab-11e6-b278-64510640cc62--

      --batch_3eafdad3-f4ab-11e6-9edb-64510640cc62--'
    headers:
      Content-Type: [multipart/mixed; boundary=batch_3eafdad3-f4ab-11e6-9edb-64510640cc62]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 17 Feb 2017 00:51:40 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: "--batchresponse_fc912889-25ef-4514-a628-72892ca63c3e\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_e71e48a7-e1c4-4e68-8249-a56f1fa04981\r\n\r\n--changesetresponse_e71e48a7-e1c4-4e68-8249-a56f1fa04981\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:
        no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2017-02-17T00%3A51%3A40.7559071Z'\"\r\n\r\n\r\n--changesetresponse_e71e48a7-e1c4-4e68-8249-a56f1fa04981--\r\n--batchresponse_fc912889-25ef-4514-a628-72892ca63c3e--\r\n"}
    headers:
      Content-Type: [multipart/mixed; boundary=batchresponse_fc912889-25ef-4514-a628-72892ca63c3e]
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 17 Feb 2017 00:51:41 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/table7e2c1154(PartitionKey='pk7e2c1154',RowKey='rk7e2c1154')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table7e2c1154/@Element","odata.etag":"W/\"datetime''2017-02-17T00%3A51%3A40.7559071Z''\"","PartitionKey":"pk7e2c1154","RowKey":"rk7e2c1154","Timestamp":"2017-02-17T00:51:40.7559071Z","age":"abc","birthday@odata.type":"Edm.DateTime","birthday":"1991-10-04T00:00:00Z","sex":"female","sign":"aquarius"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-02-17T00%3A51%3A40.7559071Z'"]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
