interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:18:43 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere54813d5?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14AC214D216"']
      Last-Modified: ['Wed, 10 Aug 2016 18:18:41 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Wed, 10 Aug 2016 18:18:43 GMT']
      x-ms-meta-status: [original]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere54813d5/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D3C14AC24B283B"']
      Last-Modified: ['Wed, 10 Aug 2016 18:18:42 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://xclientdev.blob.core.windows.net/containere54813d5/blob1']
      x-ms-date: ['Wed, 10 Aug 2016 18:18:43 GMT']
      x-ms-meta-status: [copy]
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere54813d5/blob1copy
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14AC251B817"']
      Last-Modified: ['Wed, 10 Aug 2016 18:18:42 GMT']
      x-ms-copy-id: [deef2b16-0ee0-44e1-b27a-c7f00153a7cd]
      x-ms-copy-status: [success]
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:18:43 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.blob.core.windows.net/containere54813d5?comp=list&restype=container&include=copy
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"\
        containere54813d5\"><Blobs><Blob><Name>blob1</Name><Properties><Last-Modified>Wed,\
        \ 10 Aug 2016 18:18:42 GMT</Last-Modified><Etag>0x8D3C14AC24B283B</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Blob><Blob><Name>blob1copy</Name><Properties><Last-Modified>Wed,\
        \ 10 Aug 2016 18:18:42 GMT</Last-Modified><Etag>0x8D3C14AC251B817</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><CopyId>deef2b16-0ee0-44e1-b27a-c7f00153a7cd</CopyId><CopySource>https://storagename.blob.core.windows.net/containere54813d5/blob1</CopySource><CopyStatus>success</CopyStatus><CopyProgress>11/11</CopyProgress><CopyCompletionTime>Wed,\
        \ 10 Aug 2016 18:18:41 GMT</CopyCompletionTime></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
