interactions:
- request:
    body: null
    headers:
      x-ms-blob-content-length: ['8796093022209']
      x-ms-blob-type: [PageBlob]
      x-ms-date: ['Wed, 13 Sep 2017 00:49:28 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer2aa214c8/blob2aa214c8
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The\
        \ value for one of the HTTP headers is not in the correct format.\nRequestId:aa5244de-001e-010e-6b2a-2cfe8a000000\n\
        Time:2017-09-13T00:49:28.5412308Z</Message><HeaderName>x-ms-blob-content-length</HeaderName><HeaderValue>8796093022209</HeaderValue></Error>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 400, message: The value for one of the HTTP headers is not in the
        correct format.}
version: 1
