interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:39:32 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container39251586?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D456CD70DC6D57"']
      Last-Modified: ['Fri, 17 Feb 2017 00:39:32 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Fri, 17 Feb 2017 00:39:33 GMT']
      x-ms-meta-name: [bob]
      x-ms-meta-number: ['1']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container39251586/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D456CD70E8F8D5"']
      Last-Modified: ['Fri, 17 Feb 2017 00:39:32 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:39:33 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container39251586/blob1?comp=snapshot
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D456CD70E8F8D5"']
      Last-Modified: ['Fri, 17 Feb 2017 00:39:32 GMT']
      x-ms-snapshot: ['2017-02-17T00:39:33.0603360Z']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:39:33 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.blob.core.windows.net/container39251586?comp=list&include=snapshots%2Cmetadata&restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"container39251586\"><Blobs><Blob><Name>blob1</Name><Snapshot>2017-02-17T00:39:33.0603360Z</Snapshot><Properties><Last-Modified>Fri,
        17 Feb 2017 00:39:32 GMT</Last-Modified><Etag>0x8D456CD70E8F8D5</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><name>bob</name><number>1</number></Metadata></Blob><Blob><Name>blob1</Name><Properties><Last-Modified>Fri,
        17 Feb 2017 00:39:32 GMT</Last-Modified><Etag>0x8D456CD70E8F8D5</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><name>bob</name><number>1</number></Metadata></Blob><Blob><Name>blob2</Name><Properties><Last-Modified>Fri,
        17 Feb 2017 00:39:32 GMT</Last-Modified><Etag>0x8D456CD70F7C61B</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><name>car</name><number>2</number></Metadata></Blob></Blobs><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
