interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:29:59 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D5D63431AB6B64"']
      Last-Modified: ['Tue, 19 Jun 2018 22:30:00 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:30:00 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D5D63431B7009C"']
      Last-Modified: ['Tue, 19 Jun 2018 22:30:00 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Tue, 19 Jun 2018 22:30:00 GMT']
      x-ms-type: [file]
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/filea1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D5D63431C644AA"']
      Last-Modified: ['Tue, 19 Jun 2018 22:30:00 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Tue, 19 Jun 2018 22:30:00 GMT']
      x-ms-type: [file]
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.file.core.windows.net/shared84a1877/fileb1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D5D634320D87F7"']
      Last-Modified: ['Tue, 19 Jun 2018 22:30:00 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:30:01 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.file.core.windows.net/shared84a1877?restype=directory&comp=list&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"shared84a1877\"
        DirectoryPath=\"\"><MaxResults>2</MaxResults><Entries><Directory><Name>dir1</Name><Properties
        /></Directory><File><Name>filea1</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEy</NextMarker></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
