interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:28 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "rP1dq4KmVCKSe1OnRyfO7A==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "HrDWZWby3sAsaYb50CsSZSOK1w/uiLIR/sRoyr6YG1IQ0aCwUF7c+g==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "0YKXCCGiaYyIxA1iMJbsyA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.36.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:28 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>610f2163-02a5-426b-86c7-94445785db02</MessageId><InsertionTime>Tue,\
        \ 22 Aug 2017 22:07:28 GMT</InsertionTime><ExpirationTime>Tue, 29 Aug 2017\
        \ 22:07:28 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAANmo9C5Mb0wE=</PopReceipt><TimeNextVisible>Tue,\
        \ 22 Aug 2017 22:07:28 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:28 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>610f2163-02a5-426b-86c7-94445785db02</MessageId><InsertionTime>Tue,\
        \ 22 Aug 2017 22:07:28 GMT</InsertionTime><ExpirationTime>Tue, 29 Aug 2017\
        \ 22:07:28 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAxNokHZMb0wE=</PopReceipt><TimeNextVisible>Tue,\
        \ 22 Aug 2017 22:07:58 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"rP1dq4KmVCKSe1OnRyfO7A==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"HrDWZWby3sAsaYb50CsSZSOK1w/uiLIR/sRoyr6YG1IQ0aCwUF7c+g==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"0YKXCCGiaYyIxA1iMJbsyA==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.36.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "Ee084DT26fXnIeGhwS09gg==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "EEgAFUWmABwLAdNc+BTFd2kRjT9krLzO/fBDo5Zi3vrdxuhJ6I3P2w==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "1Ei8TcZb4/AJD5/9PZsCYA==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.36.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:28 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages/610f2163-02a5-426b-86c7-94445785db02?popreceipt=AgAAAAMAAAAAAAAAxNokHZMb0wE%3D&visibilitytimeout=0
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAJwVJC5Mb0wEBAAAA]
      x-ms-time-next-visible: ['Tue, 22 Aug 2017 22:07:28 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:28 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>610f2163-02a5-426b-86c7-94445785db02</MessageId><InsertionTime>Tue,\
        \ 22 Aug 2017 22:07:28 GMT</InsertionTime><ExpirationTime>Tue, 29 Aug 2017\
        \ 22:07:28 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAbk4wHZMb0wE=</PopReceipt><TimeNextVisible>Tue,\
        \ 22 Aug 2017 22:07:58 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"Ee084DT26fXnIeGhwS09gg==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"EEgAFUWmABwLAdNc+BTFd2kRjT9krLzO/fBDo5Zi3vrdxuhJ6I3P2w==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"1Ei8TcZb4/AJD5/9PZsCYA==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.36.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
