interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:46:06 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "Xa5+R+tcPM/12YOLIoIHCiMjY367ZvykXJbmr2pw/mg=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "QwSgF+NMsp9kwqcW+UPrY+neuZtzsN9bFPDW8ljTRZ3RzYrkzaS07g==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "SVbG84CuP01JXNghmYuH1g==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.34.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:46:06 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>059d505f-5e45-4a65-9ec3-e4e85e6e3056</MessageId><InsertionTime>Fri,
        17 Feb 2017 00:46:06 GMT</InsertionTime><ExpirationTime>Fri, 24 Feb 2017 00:46:06
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA5yQmObeI0gE=</PopReceipt><TimeNextVisible>Fri,
        17 Feb 2017 00:46:06 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:46:06 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>059d505f-5e45-4a65-9ec3-e4e85e6e3056</MessageId><InsertionTime>Fri,
        17 Feb 2017 00:46:06 GMT</InsertionTime><ExpirationTime>Fri, 24 Feb 2017 00:46:06
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAglgXS7eI0gE=</PopReceipt><TimeNextVisible>Fri,
        17 Feb 2017 00:46:36 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"Xa5+R+tcPM/12YOLIoIHCiMjY367ZvykXJbmr2pw/mg=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"QwSgF+NMsp9kwqcW+UPrY+neuZtzsN9bFPDW8ljTRZ3RzYrkzaS07g==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"SVbG84CuP01JXNghmYuH1g==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.34.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
