interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:18:24 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container8f051b31?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14AB7569801"']
      Last-Modified: ['Wed, 10 Aug 2016 18:18:23 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>empty</Id><AccessPolicy /></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:18:25 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container8f051b31?comp=acl&restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14AB7569802"']
      Last-Modified: ['Wed, 10 Aug 2016 18:18:23 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:18:25 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.blob.core.windows.net/container8f051b31?comp=acl&restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>empty</Id></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D3C14AB7569802"']
      Last-Modified: ['Wed, 10 Aug 2016 18:18:23 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
