interactions:
- request:
    body: !!python/unicode "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\x01\
      </MessageText></QueueMessage>"
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:08:59 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue093de171a/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML\
        \ specified is not syntactically valid.\nRequestId:fa31d009-0003-00ca-47a4-3cc719000000\n\
        Time:2017-10-04T00:08:59.5304607Z</Message><LineNumber>2</LineNumber><LinePosition>28</LinePosition><Reason>Error\
        \ parsing Xml content</Reason></Error>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 400, message: XML specified is not syntactically valid.}
version: 1
