interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:50:01 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue9d3c0b2f
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:50:02 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue9d3c0b2f/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>cfa5d97e-967b-4186-864f-e82f54e15a41</MessageId><InsertionTime>Thu,\
        \ 13 Jul 2017 18:50:01 GMT</InsertionTime><ExpirationTime>Thu, 20 Jul 2017\
        \ 18:50:01 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAyCOM1Qj80gE=</PopReceipt><TimeNextVisible>Thu,\
        \ 13 Jul 2017 18:50:01 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message4</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:50:02 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue9d3c0b2f/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6edc1c07-0959-44d4-ac60-e49d4d7577b2</MessageId><InsertionTime>Thu,\
        \ 13 Jul 2017 18:50:02 GMT</InsertionTime><ExpirationTime>Thu, 20 Jul 2017\
        \ 18:50:02 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA2Rad1Qj80gE=</PopReceipt><TimeNextVisible>Thu,\
        \ 13 Jul 2017 18:50:02 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
version: 1
