interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:34:32 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8b1c1b04?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D456CCBDB07670"']
      Last-Modified: ['Fri, 17 Feb 2017 00:34:32 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList />'
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:34:32 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8b1c1b04/blob1?comp=blocklist
  response:
    body: {string: ''}
    headers:
      Content-MD5: [NgbQHgw94OQ3P8fSkY5Pxg==]
      ETag: ['"0x8D456CCBDC6ED58"']
      Last-Modified: ['Fri, 17 Feb 2017 00:34:32 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: AAA
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:34:32 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8b1c1b04/blob1?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [4fr/s+YU5sL7p0KWliOGtw==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: BBB
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:34:32 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8b1c1b04/blob1?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [K7Il8LqaWJMHV6ho7VfZow==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: CCC
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:34:32 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8b1c1b04/blob1?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [3vuZ5pqfH24G8VAGsfFmrg==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      If-Match: ['0x111111111111111']
      x-ms-date: ['Fri, 17 Feb 2017 00:34:32 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer8b1c1b04/blob1?comp=blocklist
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The
        condition specified using HTTP conditional header(s) is not met.\nRequestId:ed9b765b-0001-0045-4db5-8847d8000000\nTime:2017-02-17T00:34:32.7098423Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 412, message: The condition specified using HTTP conditional header(s)
        is not met.}
version: 1
