interactions:
- request:
    body: '{"SpacesOnlyUnicode": "   ", "SpacesBeforeUnicode": "   Text", "PartitionKey":
      "pk66111670", "SpacesBeforeByte": "   Text", "EmptyByte": "", "SpacesBeforeAndAfterUnicode":
      "   Text   ", "SpacesAfterUnicode": "Text   ", "SpacesBeforeAndAfterByte": "   Text   ",
      "RowKey": "rk66111670", "SpacesOnlyByte": "   ", "SpacesAfterByte": "Text   ",
      "EmptyUnicode": ""}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 17 Feb 2017 00:52:25 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable66111670
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable66111670(PartitionKey=''pk66111670'',RowKey=''rk66111670'')']
      ETag: [W/"datetime'2017-02-17T00%3A52%3A25.5315184Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable66111670(PartitionKey=''pk66111670'',RowKey=''rk66111670'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 17 Feb 2017 00:52:25 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable66111670(PartitionKey='pk66111670',RowKey='rk66111670')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable66111670/@Element","odata.etag":"W/\"datetime''2017-02-17T00%3A52%3A25.5315184Z''\"","PartitionKey":"pk66111670","RowKey":"rk66111670","Timestamp":"2017-02-17T00:52:25.5315184Z","SpacesOnlyUnicode":"   ","SpacesBeforeUnicode":"   Text","SpacesBeforeByte":"   Text","EmptyByte":"","SpacesBeforeAndAfterUnicode":"   Text   ","SpacesAfterUnicode":"Text   ","SpacesBeforeAndAfterByte":"   Text   ","SpacesOnlyByte":"   ","SpacesAfterByte":"Text   ","EmptyUnicode":""}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-02-17T00%3A52%3A25.5315184Z'"]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
