interactions:
- request:
    body: !!python/unicode '--batch_bff3678a-846a-11e7-bb90-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_bff3685c-846a-11e7-b306-b8e8564491f6


      --changeset_bff3685c-846a-11e7-b306-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /tablef0c20dcc HTTP/1.1

      Content-ID: 1

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 255


      {"test3": "3", "test2": "value", "test5": "2017-08-18T23:12:47Z", "test4": "1234567890",
      "PartitionKey": "001", "test5@odata.type": "Edm.DateTime", "test3@odata.type":
      "Edm.Int64", "RowKey": "batch_insert", "test": "true", "test4@odata.type": "Edm.Int64"}


      --changeset_bff3685c-846a-11e7-b306-b8e8564491f6--

      --batch_bff3678a-846a-11e7-bb90-b8e8564491f6--'
    headers:
      Content-Type: [!!python/unicode 'multipart/mixed; boundary=batch_bff3678a-846a-11e7-bb90-b8e8564491f6']
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:12:47 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: !!python/unicode "--batchresponse_62ac0278-8380-4430-a03c-8b613279c599\r\
        \nContent-Type: multipart/mixed; boundary=changesetresponse_00d2f873-d0a7-4638-a332-d8daf8d7dba2\r\
        \n\r\n--changesetresponse_00d2f873-d0a7-4638-a332-d8daf8d7dba2\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nPreference-Applied: return-no-content\r\nDataServiceVersion:\
        \ 3.0;\r\nLocation: https://storagename.table.core.windows.net/tablef0c20dcc(PartitionKey='001',RowKey='batch_insert')\r\
        \nDataServiceId: https://storagename.table.core.windows.net/tablef0c20dcc(PartitionKey='001',RowKey='batch_insert')\r\
        \nETag: W/\"datetime'2017-08-18T23%3A12%3A47.9200983Z'\"\r\n\r\n\r\n--changesetresponse_00d2f873-d0a7-4638-a332-d8daf8d7dba2--\r\
        \n--batchresponse_62ac0278-8380-4430-a03c-8b613279c599--\r\n"}
    headers:
      content-type: [multipart/mixed; boundary=batchresponse_62ac0278-8380-4430-a03c-8b613279c599]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:12:48 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/tablef0c20dcc(PartitionKey='001',RowKey='batch_insert')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablef0c20dcc/@Element","odata.etag":"W/\"datetime''2017-08-18T23%3A12%3A47.9200983Z''\"","PartitionKey":"001","RowKey":"batch_insert","Timestamp":"2017-08-18T23:12:47.9200983Z","test3@odata.type":"Edm.Int64","test3":"3","test2":"value","test5@odata.type":"Edm.DateTime","test5":"2017-08-18T23:12:47Z","test4@odata.type":"Edm.Int64","test4":"1234567890","test":"true"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-08-18T23%3A12%3A47.9200983Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
