interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:29:42 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D56CF05526CB0E"']
      Last-Modified: ['Mon, 05 Feb 2018 23:29:41 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2018-02-05T23:28:42Z</Start><Expiry>2018-02-06T00:29:42Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:29:42 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D56CF0552EAB25"']
      Last-Modified: ['Mon, 05 Feb 2018 23:29:41 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:29:42 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2018-02-05T23:28:42.0000000Z</Start><Expiry>2018-02-06T00:29:42.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D56CF0552EAB25"']
      Last-Modified: ['Mon, 05 Feb 2018 23:29:41 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
version: 1
