interactions:
- request:
    body: '{"other": 20, "optional": null, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "age": "39", "binary": "YmluYXJ5", "married": true, "deceased": false, "Birthday":
      "1973-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z",
      "PartitionKey": "001", "clsid@odata.type": "Edm.Guid", "Birthday@odata.type":
      "Edm.DateTime", "evenratio": 3.0, "large@odata.type": "Edm.Int64", "large":
      "933311100", "ratio": 3.1, "RowKey": "batch_negative_1", "age@odata.type": "Edm.Int64",
      "sex": "male", "binary@odata.type": "Edm.Binary"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 10 Aug 2016 18:35:37 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/table32f119c5
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/table32f119c5(PartitionKey=''001'',RowKey=''batch_negative_1'')']
      ETag: [W/"datetime'2016-08-10T18%3A35%3A34.7074087Z'"]
      Location: ['https://storagename.table.core.windows.net/table32f119c5(PartitionKey=''001'',RowKey=''batch_negative_1'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
version: 1
