interactions:
- request:
    body: '{"RowKey": "rkf941967", "PartitionKey": "pkf941967"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 10 Aug 2016 18:31:07 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/uttablef941967
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttablef941967(PartitionKey=''pkf941967'',RowKey=''rkf941967'')']
      ETag: [W/"datetime'2016-08-10T18%3A31%3A05.1584151Z'"]
      Location: ['https://storagename.table.core.windows.net/uttablef941967(PartitionKey=''pkf941967'',RowKey=''rkf941967'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:31:08 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.table.core.windows.net/uttablef941967(PartitionKey='pkf941967',RowKey='rkf941967')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablef941967/@Element","odata.etag":"W/\"datetime''2016-08-10T18%3A31%3A05.1584151Z''\"","PartitionKey":"pkf941967","RowKey":"rkf941967","Timestamp":"2016-08-10T18:31:05.1584151Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2016-08-10T18%3A31%3A05.1584151Z'"]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
