interactions:
- request:
    body: !!python/unicode '{"test3": "3", "test2": "value", "test5": "2017-08-18T23:12:52Z",
      "test4": "1234567890", "PartitionKey": "001", "test5@odata.type": "Edm.DateTime",
      "test3@odata.type": "Edm.Int64", "RowKey": "batch_update", "test": "true", "test4@odata.type":
      "Edm.Int64"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 18 Aug 2017 23:12:52 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/tablef0c10dba
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/tablef0c10dba(PartitionKey=''001'',RowKey=''batch_update'')']
      etag: [W/"datetime'2017-08-18T23%3A12%3A52.2405343Z'"]
      location: ['https://storagename.table.core.windows.net/tablef0c10dba(PartitionKey=''001'',RowKey=''batch_update'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:12:52 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/tablef0c10dba(PartitionKey='001',RowKey='batch_update')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablef0c10dba/@Element","odata.etag":"W/\"datetime''2017-08-18T23%3A12%3A52.2405343Z''\"","PartitionKey":"001","RowKey":"batch_update","Timestamp":"2017-08-18T23:12:52.2405343Z","test3@odata.type":"Edm.Int64","test3":"3","test2":"value","test5@odata.type":"Edm.DateTime","test5":"2017-08-18T23:12:52Z","test4@odata.type":"Edm.Int64","test4":"1234567890","test":"true"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-08-18T23%3A12%3A52.2405343Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '--batch_c2d7390f-846a-11e7-8d4f-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_c2d739e1-846a-11e7-b0c0-b8e8564491f6


      --changeset_c2d739e1-846a-11e7-b0c0-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /tablef0c10dba(PartitionKey=''001'',RowKey=''batch_update'') HTTP/1.1

      Content-ID: 1

      Accept: application/json;odata=minimalmetadata

      If-Match: *

      Content-Type: application/json

      Content-Length: 393


      {"test3": "3", "test2": "value1", "test5": "2017-08-18T23:12:52Z", "test4":
      "1234567890", "Timestamp": "2017-08-18T23:12:52Z", "PartitionKey": "001", "test5@odata.type":
      "Edm.DateTime", "etag": "W/\"datetime''2017-08-18T23%3A12%3A52.2405343Z''\"",
      "test3@odata.type": "Edm.Int64", "RowKey": "batch_update", "test": "true", "test4@odata.type":
      "Edm.Int64", "Timestamp@odata.type": "Edm.DateTime"}


      --changeset_c2d739e1-846a-11e7-b0c0-b8e8564491f6--

      --batch_c2d7390f-846a-11e7-8d4f-b8e8564491f6--'
    headers:
      Content-Type: [!!python/unicode 'multipart/mixed; boundary=batch_c2d7390f-846a-11e7-8d4f-b8e8564491f6']
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:12:52 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: !!python/unicode "--batchresponse_e740b1a0-4aa8-4946-a68a-49989d2d7b2d\r\
        \nContent-Type: multipart/mixed; boundary=changesetresponse_50436e13-988d-4569-901a-2aecfc716adb\r\
        \n\r\n--changesetresponse_50436e13-988d-4569-901a-2aecfc716adb\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2017-08-18T23%3A12%3A52.3358004Z'\"\
        \r\n\r\n\r\n--changesetresponse_50436e13-988d-4569-901a-2aecfc716adb--\r\n\
        --batchresponse_e740b1a0-4aa8-4946-a68a-49989d2d7b2d--\r\n"}
    headers:
      content-type: [multipart/mixed; boundary=batchresponse_e740b1a0-4aa8-4946-a68a-49989d2d7b2d]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:12:52 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/tablef0c10dba(PartitionKey='001',RowKey='batch_update')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablef0c10dba/@Element","odata.etag":"W/\"datetime''2017-08-18T23%3A12%3A52.3358004Z''\"","PartitionKey":"001","RowKey":"batch_update","Timestamp":"2017-08-18T23:12:52.3358004Z","etag":"W/\"datetime''2017-08-18T23%3A12%3A52.2405343Z''\"","test":"true","test2":"value1","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-08-18T23:12:52Z"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-08-18T23%3A12%3A52.3358004Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
