interactions:
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><Logging><Version>1.0</Version><Delete>False</Delete><Read>False</Read><Write>False</Write><RetentionPolicy><Enabled>False</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>False</Enabled><RetentionPolicy><Enabled>False</Enabled></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>False</Enabled><RetentionPolicy><Enabled>False</Enabled></RetentionPolicy></MinuteMetrics><Cors
      /><DefaultServiceVersion>2014-02-14</DefaultServiceVersion></StorageServiceProperties>'
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:04:35 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/?comp=properties&restype=service
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:04:35 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=properties&restype=service
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors\
        \ /><DefaultServiceVersion>2014-02-14</DefaultServiceVersion></StorageServiceProperties>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
