interactions:
- request:
    body: '{"PartitionKey": "pk419d1e08", "RowKey": "rk419d1e08", "age": "abc", "sex":
      "female", "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 14 Jun 2017 06:25:23 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.table.core.windows.net/uttable419d1e08(PartitionKey='pk419d1e08',RowKey='rk419d1e08')
  response:
    body: {string: ''}
    headers:
      ETag: [W/"datetime'2017-06-14T06%3A25%3A23.4918487Z'"]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 14 Jun 2017 06:25:24 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable419d1e08(PartitionKey='pk419d1e08',RowKey='rk419d1e08')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable419d1e08/@Element","odata.etag":"W/\"datetime''2017-06-14T06%3A25%3A23.4918487Z''\"","PartitionKey":"pk419d1e08","RowKey":"rk419d1e08","Timestamp":"2017-06-14T06:25:23.4918487Z","age":"abc","birthday@odata.type":"Edm.DateTime","birthday":"1991-10-04T00:00:00Z","sex":"female","sign":"aquarius"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-06-14T06%3A25%3A23.4918487Z'"]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
