interactions:
- request:
    body: !!python/unicode '{"binary": "YmluYXJ5", "age@odata.type": "Edm.Int64",
      "PartitionKey": "pk3df0e7d", "ratio": 3.1, "large@odata.type": "Edm.Int64",
      "age": "39", "married": true, "Birthday@odata.type": "Edm.DateTime", "sex":
      "male", "large": "933311100", "birthday@odata.type": "Edm.DateTime", "birthday":
      "1970-10-04T00:00:00Z", "evenratio": 3.0, "RowKey": "rk3df0e7d", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "binary@odata.type": "Edm.Binary", "Birthday": "1973-10-04T00:00:00Z", "other":
      20, "optional": null, "clsid@odata.type": "Edm.Guid", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 18 Aug 2017 23:16:11 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable3df0e7d
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttable3df0e7d(PartitionKey=''pk3df0e7d'',RowKey=''rk3df0e7d'')']
      etag: [W/"datetime'2017-08-18T23%3A16%3A11.0749485Z'"]
      location: ['https://storagename.table.core.windows.net/uttable3df0e7d(PartitionKey=''pk3df0e7d'',RowKey=''rk3df0e7d'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: !!python/unicode '{"age": "abc", "birthday": "1991-10-04T00:00:00Z", "sex":
      "female", "birthday@odata.type": "Edm.DateTime", "PartitionKey": "pk3df0e7d",
      "RowKey": "rk3df0e7d", "sign": "aquarius"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: ['*']
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:16:11 GMT']
      x-ms-version: ['2017-04-17']
    method: MERGE
    uri: https://storagename.table.core.windows.net/uttable3df0e7d(PartitionKey='pk3df0e7d',RowKey='rk3df0e7d')
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: [W/"datetime'2017-08-18T23%3A16%3A11.0759485Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 18 Aug 2017 23:16:11 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable3df0e7d(PartitionKey='pk3df0e7d',RowKey='rk3df0e7d')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable3df0e7d/@Element","odata.etag":"W/\"datetime''2017-08-18T23%3A16%3A11.0759485Z''\"","PartitionKey":"pk3df0e7d","RowKey":"rk3df0e7d","Timestamp":"2017-08-18T23:16:11.0759485Z","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","age":"abc","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","birthday@odata.type":"Edm.DateTime","birthday":"1991-10-04T00:00:00Z","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","deceased":false,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","married":true,"other":20,"ratio":3.1,"sex":"female","sign":"aquarius"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-08-18T23%3A16%3A11.0759485Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
