interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 03 May 2016 20:08:50 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/listcontainer044a81a2f?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3738EBEBDD079"']
      Last-Modified: ['Tue, 03 May 2016 20:08:51 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 03 May 2016 20:08:51 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.blob.core.windows.net/?prefix=listcontainer&maxresults=2&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>listcontainer</Prefix><MaxResults>2</MaxResults><Containers><Container><Name>listcontainer044a81a2f</Name><Properties><Last-Modified>Tue,\
        \ 03 May 2016 20:08:51 GMT</Last-Modified><Etag>\"0x8D3738EBEBDD079\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container><Container><Name>listcontainer144a81a2f</Name><Properties><Last-Modified>Tue,\
        \ 03 May 2016 20:08:51 GMT</Last-Modified><Etag>\"0x8D3738EBEC3EB35\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container></Containers><NextMarker>/storagename/listcontainer244a81a2f</NextMarker></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 03 May 2016 20:08:51 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.blob.core.windows.net/?prefix=listcontainer&maxresults=2&comp=list&marker=%2Fstoragename%2Flistcontainer244a81a2f
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>listcontainer</Prefix><Marker>/storagename/listcontainer244a81a2f</Marker><MaxResults>2</MaxResults><Containers><Container><Name>listcontainer244a81a2f</Name><Properties><Last-Modified>Tue,\
        \ 03 May 2016 20:08:51 GMT</Last-Modified><Etag>\"0x8D3738EBECA2CF0\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container><Container><Name>listcontainer344a81a2f</Name><Properties><Last-Modified>Tue,\
        \ 03 May 2016 20:08:51 GMT</Last-Modified><Etag>\"0x8D3738EBEFE1015\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container></Containers><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
