interactions:
- request:
    body: '{"TableName": "listtable3f561007"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 14 Jun 2017 06:20:44 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''listtable3f561007'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''listtable3f561007'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: '{"TableName": "listtable3f561007"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 14 Jun 2017 06:20:45 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: '{"odata.error":{"code":"TableAlreadyExists","message":{"lang":"en-US","value":"The
        table specified already exists.\nRequestId:cf8b3451-0002-00e4-31d6-e447de000000\nTime:2017-06-14T06:20:45.0754654Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 409, message: Conflict}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 14 Jun 2017 06:20:45 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables?%24top=2
  response:
    body: {string: '{"value":[{"TableName":"CAPStable95217c74610847f795a116878ecde584"},{"TableName":"demotable"}]}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-continuation-NextTableName: [1!36!ZGVtb3RhYmxlNQEwMWQyOWQwMzYzMjlkYjVk]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 14 Jun 2017 06:20:45 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables?%24top=2&NextTableName=1%2136%21ZGVtb3RhYmxlNQEwMWQyOWQwMzYzMjlkYjVk
  response:
    body: {string: '{"value":[{"TableName":"demotable5"},{"TableName":"listtable3f561007"}]}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-continuation-NextTableName: [1!36!bmV3dGFibGUBMDFkMWVlMzQ3NWQyY2QwZg--]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
