interactions:
- request:
    body: !!python/unicode '{"sex": "fplQ9M3CSVaY2ML08f9xbg==", "birthday@odata.type":
      "Edm.DateTime", "evenratio": 3.0, "binary": "YmluYXJ5", "ratio": 3.1, "large@odata.type":
      "Edm.Int64", "Birthday@odata.type": "Edm.DateTime", "Birthday": "1973-10-04T00:00:00Z",
      "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "RowKey": "rk50ad15e7", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "name@odata.type": "Edm.Binary", "birthday": "1970-10-04T00:00:00Z",
      "binary@odata.type": "Edm.Binary", "optional": null, "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"kXb8dr3s4MYKZvWke6uayyH31msi4vjB2t2xbXQvHbVTrjcY89fKhw==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"nptyHBUpm6IEd9AzbZoIyg==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.37.0\"}}", "_ClientEncryptionMetadata2":
      "iHqACw4DrgUUeuvh/QWGCw==", "sex@odata.type": "Edm.Binary", "age@odata.type":
      "Edm.Int64", "name": "+/6u6T3wbcQxAYoj9NS44Q==", "clsid@odata.type": "Edm.Guid",
      "married": true, "large": "933311100", "PartitionKey": "pk50ad15e7", "other":
      20, "age": "39", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Mon, 02 Oct 2017 20:21:41 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable50ad15e7
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttable50ad15e7(PartitionKey=''pk50ad15e7'',RowKey=''rk50ad15e7'')']
      etag: [W/"datetime'2017-10-02T20%3A21%3A42.9924011Z'"]
      location: ['https://storagename.table.core.windows.net/uttable50ad15e7(PartitionKey=''pk50ad15e7'',RowKey=''rk50ad15e7'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Mon, 02 Oct 2017 20:21:41 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable50ad15e7(PartitionKey='pk50ad15e7',RowKey='rk50ad15e7')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable50ad15e7/@Element","odata.etag":"W/\"datetime''2017-10-02T20%3A21%3A42.9924011Z''\"","PartitionKey":"pk50ad15e7","RowKey":"rk50ad15e7","Timestamp":"2017-10-02T20:21:42.9924011Z","sex@odata.type":"Edm.Binary","sex":"fplQ9M3CSVaY2ML08f9xbg==","evenratio":3.0,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","ratio":3.1,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"kXb8dr3s4MYKZvWke6uayyH31msi4vjB2t2xbXQvHbVTrjcY89fKhw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"nptyHBUpm6IEd9AzbZoIyg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.37.0\"}}","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"iHqACw4DrgUUeuvh/QWGCw==","name@odata.type":"Edm.Binary","name":"+/6u6T3wbcQxAYoj9NS44Q==","married":true,"large@odata.type":"Edm.Int64","large":"933311100","other":20,"age@odata.type":"Edm.Int64","age":"39","deceased":false}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-10-02T20%3A21%3A42.9924011Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
