interactions:
- request:
    body: '{"age@odata.type": "Edm.Int64", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"diGR0oRCcca2vIs3tem4b05A6c1ySHTM0+Wef9X3HMAxkJWweWoQnw==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"uetg50Nd1XS5tvvW7fDrpg==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.33.0\"}}", "sex": "4YQ//oWTZ/9FpYkDq+U+7Q==",
      "PartitionKey": "pk50ad15e7", "evenratio": 3.0, "large@odata.type": "Edm.Int64",
      "married": true, "deceased": false, "ratio": 3.1, "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "clsid@odata.type": "Edm.Guid", "age": "39", "_ClientEncryptionMetadata2":
      "FKXX0RAM6JgZWleqSQ57+w==", "name@odata.type": "Edm.Binary", "sex@odata.type":
      "Edm.Binary", "binary": "YmluYXJ5", "other": 20, "Birthday@odata.type": "Edm.DateTime",
      "large": "933311100", "optional": null, "name": "XaJt0kW3p+5/9wiL5WePPg==",
      "RowKey": "rk50ad15e7", "Birthday": "1973-10-04T00:00:00Z", "binary@odata.type":
      "Edm.Binary"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 10 Aug 2016 18:30:49 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable50ad15e7
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable50ad15e7(PartitionKey=''pk50ad15e7'',RowKey=''rk50ad15e7'')']
      ETag: [W/"datetime'2016-08-10T18%3A30%3A47.1603666Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable50ad15e7(PartitionKey=''pk50ad15e7'',RowKey=''rk50ad15e7'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:30:49 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable50ad15e7(PartitionKey='pk50ad15e7',RowKey='rk50ad15e7')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable50ad15e7/@Element","odata.etag":"W/\"datetime''2016-08-10T18%3A30%3A47.1603666Z''\"","PartitionKey":"pk50ad15e7","RowKey":"rk50ad15e7","Timestamp":"2016-08-10T18:30:47.1603666Z","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"diGR0oRCcca2vIs3tem4b05A6c1ySHTM0+Wef9X3HMAxkJWweWoQnw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"uetg50Nd1XS5tvvW7fDrpg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.33.0\"}}","sex@odata.type":"Edm.Binary","sex":"4YQ//oWTZ/9FpYkDq+U+7Q==","evenratio":3.0,"married":true,"deceased":false,"ratio":3.1,"age@odata.type":"Edm.Int64","age":"39","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"FKXX0RAM6JgZWleqSQ57+w==","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"large@odata.type":"Edm.Int64","large":"933311100","name@odata.type":"Edm.Binary","name":"XaJt0kW3p+5/9wiL5WePPg==","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2016-08-10T18%3A30%3A47.1603666Z'"]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
