interactions:
- request:
    body: AAA
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:16:03 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer32b01530/blob32b01530?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [4fr/s+YU5sL7p0KWliOGtw==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: BBB
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:16:03 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer32b01530/blob32b01530?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [K7Il8LqaWJMHV6ho7VfZow==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: CCC
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:16:03 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer32b01530/blob32b01530?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [3vuZ5pqfH24G8VAGsfFmrg==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>NA==</Latest></BlockList>'
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:16:03 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer32b01530/blob32b01530?comp=blocklist
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidBlockList</Code><Message>The\
        \ specified block list is invalid.\nRequestId:39d22056-001e-0055-35d7-9ebfa3000000\n\
        Time:2018-02-05T23:16:03.6190273Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [InvalidBlockList]
      x-ms-version: ['2017-07-29']
    status: {code: 400, message: The specified block list is invalid.}
version: 1
