interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:34:58 GMT']
      x-ms-version: ['2017-11-09']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue223e14de
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-11-09']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:34:58 GMT']
      x-ms-version: ['2017-11-09']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue223e14de/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a3acf7e8-91ac-4e8b-ae93-adba45b5ddf4</MessageId><InsertionTime>Tue,
        22 May 2018 23:34:58 GMT</InsertionTime><ExpirationTime>Tue, 29 May 2018 23:34:58
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVLRtfyXy0wE=</PopReceipt><TimeNextVisible>Tue,
        22 May 2018 23:34:58 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:34:58 GMT']
      x-ms-version: ['2017-11-09']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue223e14de/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a3acf7e8-91ac-4e8b-ae93-adba45b5ddf4</MessageId><InsertionTime>Tue,
        22 May 2018 23:34:58 GMT</InsertionTime><ExpirationTime>Tue, 29 May 2018 23:34:58
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAh9ZUkSXy0wE=</PopReceipt><TimeNextVisible>Tue,
        22 May 2018 23:35:28 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-11-09']
    status: {code: 200, message: OK}
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage>"
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:34:58 GMT']
      x-ms-version: ['2017-11-09']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue223e14de/messages/a3acf7e8-91ac-4e8b-ae93-adba45b5ddf4?popreceipt=AgAAAAMAAAAAAAAAh9ZUkSXy0wE%3D&visibilitytimeout=0
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAA2Nl4fyXy0wEBAAAA]
      x-ms-time-next-visible: ['Tue, 22 May 2018 23:34:59 GMT']
      x-ms-version: ['2017-11-09']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:34:59 GMT']
      x-ms-version: ['2017-11-09']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue223e14de/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a3acf7e8-91ac-4e8b-ae93-adba45b5ddf4</MessageId><InsertionTime>Tue,
        22 May 2018 23:34:58 GMT</InsertionTime><ExpirationTime>Tue, 29 May 2018 23:34:58
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA4q1fkSXy0wE=</PopReceipt><TimeNextVisible>Tue,
        22 May 2018 23:35:29 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>\u554A\u9F44\u4E02\u72DB\u72DC</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-11-09']
    status: {code: 200, message: OK}
version: 1
