interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:22:29 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container39251586?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D5D633253270B1"']
      Last-Modified: ['Tue, 19 Jun 2018 22:22:29 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Tue, 19 Jun 2018 22:22:29 GMT']
      x-ms-meta-name: [bob]
      x-ms-meta-number: ['1']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container39251586/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D5D63325427CD7"']
      Last-Modified: ['Tue, 19 Jun 2018 22:22:29 GMT']
      x-ms-content-crc64: [vo7q9sPVKY0=]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:22:30 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container39251586/blob1?comp=snapshot
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D5D63325427CD7"']
      Last-Modified: ['Tue, 19 Jun 2018 22:22:29 GMT']
      x-ms-snapshot: ['2018-06-19T22:22:30.1644048Z']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:22:30 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.blob.core.windows.net/container39251586?restype=container&comp=list&include=snapshots%2Cmetadata
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"container39251586\"><Blobs><Blob><Name>blob1</Name><Snapshot>2018-06-19T22:22:30.1644048Z</Snapshot><Properties><Creation-Time>Tue,
        19 Jun 2018 22:22:29 GMT</Creation-Time><Last-Modified>Tue, 19 Jun 2018 22:22:29
        GMT</Last-Modified><Etag>0x8D5D63325427CD7</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><number>1</number><name>bob</name></Metadata></Blob><Blob><Name>blob1</Name><Properties><Creation-Time>Tue,
        19 Jun 2018 22:22:29 GMT</Creation-Time><Last-Modified>Tue, 19 Jun 2018 22:22:29
        GMT</Last-Modified><Etag>0x8D5D63325427CD7</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><number>1</number><name>bob</name></Metadata></Blob><Blob><Name>blob2</Name><Properties><Creation-Time>Tue,
        19 Jun 2018 22:22:30 GMT</Creation-Time><Last-Modified>Tue, 19 Jun 2018 22:22:30
        GMT</Last-Modified><Etag>0x8D5D63325520EBD</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><number>2</number><name>car</name></Metadata></Blob></Blobs><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
[...]
