interactions:
- request:
    body: !!python/unicode '{"SpacesBeforeByte": "   Text", "EmptyUnicode": "", "SpacesBeforeUnicode":
      "   Text", "SpacesBeforeAndAfterUnicode": "   Text   ", "SpacesBeforeAndAfterByte":
      "   Text   ", "EmptyByte": "", "PartitionKey": "pk66111670", "SpacesOnlyUnicode":
      "   ", "SpacesOnlyByte": "   ", "SpacesAfterByte": "Text   ", "SpacesAfterUnicode":
      "Text   ", "RowKey": "rk66111670"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 13 Sep 2017 00:56:04 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable66111670
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttable66111670(PartitionKey=''pk66111670'',RowKey=''rk66111670'')']
      etag: [W/"datetime'2017-09-13T00%3A56%3A04.6525825Z'"]
      location: ['https://storagename.table.core.windows.net/uttable66111670(PartitionKey=''pk66111670'',RowKey=''rk66111670'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 13 Sep 2017 00:56:04 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable66111670(PartitionKey='pk66111670',RowKey='rk66111670')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable66111670/@Element","odata.etag":"W/\"datetime''2017-09-13T00%3A56%3A04.6525825Z''\"","PartitionKey":"pk66111670","RowKey":"rk66111670","Timestamp":"2017-09-13T00:56:04.6525825Z","SpacesBeforeByte":"   Text","EmptyUnicode":"","SpacesBeforeUnicode":"   Text","SpacesBeforeAndAfterUnicode":"   Text   ","SpacesBeforeAndAfterByte":"   Text   ","EmptyByte":"","SpacesOnlyUnicode":"   ","SpacesOnlyByte":"   ","SpacesAfterByte":"Text   ","SpacesAfterUnicode":"Text   "}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-09-13T00%3A56%3A04.6525825Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
