interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Sep 2017 07:40:10 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/listshare07d2b16cf?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5018D27B00B6B"']
      last-modified: ['Fri, 22 Sep 2017 07:40:11 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Sep 2017 07:40:11 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&maxresults=2&prefix=listshare
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>listshare</Prefix><MaxResults>2</MaxResults><Shares><Share><Name>listshare07d2b16cf</Name><Properties><Last-Modified>Fri,\
        \ 22 Sep 2017 07:40:11 GMT</Last-Modified><Etag>\"0x8D5018D27B00B6B\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare17d2b16cf</Name><Properties><Last-Modified>Fri,\
        \ 22 Sep 2017 07:40:11 GMT</Last-Modified><Etag>\"0x8D5018D27BFC33B\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker>/storagename/listshare27d2b16cf</NextMarker></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Sep 2017 07:40:11 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&maxresults=2&prefix=listshare&marker=%2Fstoragename%2Flistshare27d2b16cf
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>listshare</Prefix><Marker>/storagename/listshare27d2b16cf</Marker><MaxResults>2</MaxResults><Shares><Share><Name>listshare27d2b16cf</Name><Properties><Last-Modified>Fri,\
        \ 22 Sep 2017 07:40:11 GMT</Last-Modified><Etag>\"0x8D5018D27CFA1D8\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare37d2b16cf</Name><Properties><Last-Modified>Fri,\
        \ 22 Sep 2017 07:40:11 GMT</Last-Modified><Etag>\"0x8D5018D27DF8086\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
