interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:30:06 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue0453d1525
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>xyz</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:30:06 GMT']
      x-ms-version: ['2017-07-29']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue0453d1525/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7b51d7bc-1059-4f4b-b101-aecfcd5a92a8</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:30:06 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:30:06 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAyssjQdme0wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 05 Feb 2018 23:30:06 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:30:06 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue0453d1525/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7b51d7bc-1059-4f4b-b101-aecfcd5a92a8</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:30:06 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:30:06 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>xyz</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:31:00 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue0453d1525/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7b51d7bc-1059-4f4b-b101-aecfcd5a92a8</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:30:06 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:30:06 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>xyz</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
version: 1
