interactions:
- request:
    body: null
    headers:
      x-ms-blob-content-length: ['8796093022209']
      x-ms-blob-type: [PageBlob]
      x-ms-date: ['Tue, 19 Jun 2018 22:24:25 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer2aa214c8/blob2aa214c8
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The
        value for one of the HTTP headers is not in the correct format.\nRequestId:844cec7b-301e-0040-141c-089503000000\nTime:2018-06-19T22:24:25.5635156Z</Message><HeaderName>x-ms-blob-content-length</HeaderName><HeaderValue>8796093022209</HeaderValue></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [InvalidHeaderValue]
      x-ms-version: ['2018-03-28']
    status: {code: 400, message: The value for one of the HTTP headers is not in the
        correct format.}
version: 1
