interactions:
- request:
    body: !!python/unicode '{"sex": "KzdEVHg6rQ4xHKl8vad4Uw==", "birthday@odata.type":
      "Edm.DateTime", "evenratio": 3.0, "binary": "YmluYXJ5", "ratio": 3.1, "large@odata.type":
      "Edm.Int64", "Birthday@odata.type": "Edm.DateTime", "Birthday": "1973-10-04T00:00:00Z",
      "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "RowKey": "rk95af1b7d", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "name@odata.type": "Edm.Binary", "birthday": "1970-10-04T00:00:00Z",
      "binary@odata.type": "Edm.Binary", "optional": null, "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"BXyKDVCuDOUM1EaqlMME9oVtgCkdVSKSIRA6f+u9d9Q7Q3yCjGyyQw==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"JUJ25ryw6kZasXMH//zgGg==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.37.0\"}}", "_ClientEncryptionMetadata2":
      "4vOgEto+HifXtyBsCmsIDw==", "sex@odata.type": "Edm.Binary", "age@odata.type":
      "Edm.Int64", "name": "qm1Io10HDdivVh5JEAgOvg==", "clsid@odata.type": "Edm.Guid",
      "married": true, "large": "933311100", "PartitionKey": "pk95af1b7d", "other":
      20, "age": "39", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Mon, 02 Oct 2017 20:21:40 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable95af1b7d
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttable95af1b7d(PartitionKey=''pk95af1b7d'',RowKey=''rk95af1b7d'')']
      etag: [W/"datetime'2017-10-02T20%3A21%3A42.2932431Z'"]
      location: ['https://storagename.table.core.windows.net/uttable95af1b7d(PartitionKey=''pk95af1b7d'',RowKey=''rk95af1b7d'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Mon, 02 Oct 2017 20:21:40 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable95af1b7d(PartitionKey='pk95af1b7d',RowKey='rk95af1b7d')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable95af1b7d/@Element","odata.etag":"W/\"datetime''2017-10-02T20%3A21%3A42.2932431Z''\"","PartitionKey":"pk95af1b7d","RowKey":"rk95af1b7d","Timestamp":"2017-10-02T20:21:42.2932431Z","sex@odata.type":"Edm.Binary","sex":"KzdEVHg6rQ4xHKl8vad4Uw==","evenratio":3.0,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","ratio":3.1,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"BXyKDVCuDOUM1EaqlMME9oVtgCkdVSKSIRA6f+u9d9Q7Q3yCjGyyQw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"JUJ25ryw6kZasXMH//zgGg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.37.0\"}}","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"4vOgEto+HifXtyBsCmsIDw==","name@odata.type":"Edm.Binary","name":"qm1Io10HDdivVh5JEAgOvg==","married":true,"large@odata.type":"Edm.Int64","large":"933311100","other":20,"age@odata.type":"Edm.Int64","age":"39","deceased":false}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-10-02T20%3A21%3A42.2932431Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
