interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:05:22 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuebf910c49
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:05:22 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuebf910c49/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8dad3f48-0267-4cde-b044-f785729424d7</MessageId><InsertionTime>Tue,\
        \ 22 Aug 2017 22:05:22 GMT</InsertionTime><ExpirationTime>Tue, 29 Aug 2017\
        \ 22:05:22 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAANZZRwJIb0wE=</PopReceipt><TimeNextVisible>Tue,\
        \ 22 Aug 2017 22:05:22 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:05:23 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuebf910c49/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8dad3f48-0267-4cde-b044-f785729424d7</MessageId><InsertionTime>Tue,\
        \ 22 Aug 2017 22:05:22 GMT</InsertionTime><ExpirationTime>Tue, 29 Aug 2017\
        \ 22:05:22 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAKL1K0pIb0wE=</PopReceipt><TimeNextVisible>Tue,\
        \ 22 Aug 2017 22:05:53 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:05:23 GMT']
      x-ms-version: ['2017-04-17']
    method: DELETE
    uri: https://storagename.queue.core.windows.net/queuebf910c49/messages/8dad3f48-0267-4cde-b044-f785729424d7?popreceipt=AgAAAAMAAAAAAAAAKL1K0pIb0wE%3D
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:05:23 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuebf910c49/messages?numofmessages=32
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>14e9565a-d994-4d2e-a4ef-e614deba3e9b</MessageId><InsertionTime>Tue,\
        \ 22 Aug 2017 22:05:22 GMT</InsertionTime><ExpirationTime>Tue, 29 [...]
