interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:33 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "k9aTeT5sE44+Hm8TY2lrm2ymco4W2IyzqmVD5w0md84=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "5Axe5hncxRGrcxvXdADm8GdsS5sE+moOhlkOWEGzv+cSTjkd7u9qLA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "eVnNhIzaidnqjX9DCoG8ZQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.3.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:34 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>14043d7e-f4f7-4093-8390-acc19c5d3b3a</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:32:34 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:32:34
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAw+YGax0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:32:34 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:34 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>14043d7e-f4f7-4093-8390-acc19c5d3b3a</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:32:34 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:32:34
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAkOb2fB0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:33:04 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"k9aTeT5sE44+Hm8TY2lrm2ymco4W2IyzqmVD5w0md84=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"5Axe5hncxRGrcxvXdADm8GdsS5sE+moOhlkOWEGzv+cSTjkd7u9qLA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"eVnNhIzaidnqjX9DCoG8ZQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.3.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
