interactions:
- request:
    body: '{"TableName": "table2e3140d5b"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Sat, 15 Jul 2017 00:44:19 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''table2e3140d5b'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''table2e3140d5b'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: '--batch_bcedb318-68f6-11e7-864a-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_bcedb3b8-68f6-11e7-9a4d-b8e8564491f6


      --changeset_bcedb3b8-68f6-11e7-9a4d-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /tablee3140d5b HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Length: 274


      {"PartitionKey": "003", "RowKey": "batch_all_operations_together-1", "test":
      "true", "test2": "value", "test3": "3", "test3@odata.type": "Edm.Int64", "test4":
      "1234567890", "test4@odata.type": "Edm.Int64", "test5": "2017-07-15T00:44:19Z",
      "test5@odata.type": "Edm.DateTime"}


      --changeset_bcedb3b8-68f6-11e7-9a4d-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /tablee3140d5b HTTP/1.1

      Content-ID: 2

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Length: 274


      {"PartitionKey": "003", "RowKey": "batch_all_operations_together-2", "test":
      "true", "test2": "value", "test3": "3", "test3[...]
[...]
- request:
    body: '--batch_bd02da0c-68f6-11e7-9ce7-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_bd02da90-68f6-11e7-87b9-b8e8564491f6


      --changeset_bd02da90-68f6-11e7-87b9-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /tablee3140d5b HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Length: 272


      {"PartitionKey": "003", "RowKey": "batch_all_operations_together", "test": "true",
      "test2": "value", "test3": "3", "test3@odata.type": "Edm.Int64", "test4": "1234567890",
      "test4@odata.type": "Edm.Int64", "test5": "2017-07-15T00:44:19Z", "test5@odata.type":
      "Edm.DateTime"}


      --changeset_bd02da90-68f6-11e7-87b9-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      DELETE /tablee3140d5b(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')
      HTTP/1.1

      Content-ID: 2

      Accept: application/json;odata=minimalmetadata

      If-Match: *


      --changeset_bd02da90-68f6-11e7-87b9-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /tablee3140d5b(PartitionKey=''003'',RowKey=''batch_all_operations_together-2'')
      HTTP/1.1

      Content-ID: 3

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      If-Match: *

      Content-Length: 275


      {"PartitionKey": "003", "RowKey": "batch_all_operations_together-2", "test":
      "tru[...]
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Sat, 15 Jul 2017 00:44:20 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/tablee3140d5b()?%24filter=PartitionKey+eq+%27003%27&%24select=
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablee3140d5b&$select=","value":[{"odata.etag":"W/\"datetime''2017-07-15T00%3A44%3A21.5650401Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together","Timestamp":"2017-07-15T00:44:21.5650401Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-07-15T00:44:19Z"},{"odata.etag":"W/\"datetime''2017-07-15T00%3A44%3A21.4299433Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together-2","Timestamp":"2017-07-15T00:44:21.4299433Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"10","test4@odata.type":"Edm.Int64"[...]
