interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:39:52 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container8f051b31?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D456CD7CF1E226"']
      Last-Modified: ['Fri, 17 Feb 2017 00:39:53 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>empty</Id><AccessPolicy /></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:39:53 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container8f051b31?comp=acl&restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D456CD7CFA6B5B"']
      Last-Modified: ['Fri, 17 Feb 2017 00:39:53 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:39:53 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.blob.core.windows.net/container8f051b31?comp=acl&restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>empty</Id></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D456CD7CFA6B5B"']
      Last-Modified: ['Fri, 17 Feb 2017 00:39:53 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
