interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:57:49 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerab171296?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D4195BA68BEF"']
      Last-Modified: ['Thu, 09 May 2019 00:57:49 GMT']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 09 May 2019 00:57:49 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerab171296/a/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D6D4195BAC38B9"']
      Last-Modified: ['Thu, 09 May 2019 00:57:49 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
[...]
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 09 May 2019 00:57:49 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerab171296/b/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D6D4195BB69B82"']
      Last-Modified: ['Thu, 09 May 2019 00:57:49 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 09 May 2019 00:57:49 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerab171296/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D6D4195BBBCCE8"']
      Last-Modified: ['Thu, 09 May 2019 00:57:49 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:57:49 GMT']
      x-ms-version: ['2018-11-09']
    method: GET
    uri: https://storagename.blob.core.windows.net/containerab171296?restype=container&comp=list&delimiter=%2F
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"\
        containerab171296\"><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>a/</Name></BlobPrefix><BlobPrefix><Name>b/</Name></BlobPrefix><Blob><Name>blob1</Name><Properties><Creation-Time>Thu,\
        \ 09 May 2019 00:57:49 GMT</Creation-Time><Last-Modified>Thu, 09 May 2019\
        \ 00:57:49 GMT</Last-Modified><Etag>0x8D6D4195BBBCCE8</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-11-09']
    status: {code: 200, message: OK}
version: 1
