interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:12:49 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "njtJigweuYgIBiZ/SGotOQzveK0OzE+v062a0E4NeKE=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "0Jn4oIYOW/Tr1jaAJikcMBL2y2tfXGm09GCKPKySvhdAiQRwcuWMqg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "PsFqoZCpF0nFOWABIEB8kg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.37.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:13:00 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b30823e0-802a-4855-8064-c8f69befb3d3</MessageId><InsertionTime>Wed,\
        \ 04 Oct 2017 00:12:59 GMT</InsertionTime><ExpirationTime>Wed, 11 Oct 2017\
        \ 00:12:59 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAvN+QiaU80wE=</PopReceipt><TimeNextVisible>Wed,\
        \ 04 Oct 2017 00:12:59 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:13:00 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue6a6e165f/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b30823e0-802a-4855-8064-c8f69befb3d3</MessageId><InsertionTime>Wed,\
        \ 04 Oct 2017 00:12:59 GMT</InsertionTime><ExpirationTime>Wed, 11 Oct 2017\
        \ 00:12:59 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"njtJigweuYgIBiZ/SGotOQzveK0OzE+v062a0E4NeKE=\"\
        , \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\"\
        : \"0Jn4oIYOW/Tr1jaAJikcMBL2y2tfXGm09GCKPKySvhdAiQRwcuWMqg==\", \"Algorithm\"\
        : \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\"\
        : \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"PsFqoZCpF0nFOWABIEB8kg==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.37.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
