interactions:
- request:
    body: !!python/unicode '{"sex": "r/nFyOaSqopXNpKN2xfaZw==", "birthday@odata.type":
      "Edm.DateTime", "evenratio": 3.0, "binary": "YmluYXJ5", "ratio": 3.1, "large@odata.type":
      "Edm.Int64", "Birthday@odata.type": "Edm.DateTime", "Birthday": "1973-10-04T00:00:00Z",
      "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "RowKey": "rkfdd194e", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "name@odata.type": "Edm.Binary", "birthday": "1970-10-04T00:00:00Z",
      "binary@odata.type": "Edm.Binary", "optional": null, "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"DresZW2DPup7orOvLW/8YCYW8l0DKaAdxrVxFKWvvyYdrjF1E1WZ4g==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"raJ4+J1hudkxKbVGTD0N/Q==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.36.0\"}}", "_ClientEncryptionMetadata2":
      "Ujli70dzNicavNTGh8TGxA==", "sex@odata.type": "Edm.Binary", "age@odata.type":
      "Edm.Int64", "name": "el7nUW6xAU3ZrtwbY8AYTQ==", "clsid@odata.type": "Edm.Guid",
      "married": true, "large": "933311100", "PartitionKey": "pkfdd194e", "other":
      20, "age": "39", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 13 Sep 2017 00:55:56 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttablefdd194e
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttablefdd194e(PartitionKey=''pkfdd194e'',RowKey=''rkfdd194e'')']
      etag: [W/"datetime'2017-09-13T00%3A55%3A56.101906Z'"]
      location: ['https://storagename.table.core.windows.net/uttablefdd194e(PartitionKey=''pkfdd194e'',RowKey=''rkfdd194e'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
version: 1
