interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:55 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuee12a1896
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "EeSAyoOgLSKoIKpM4IT3I9OJuViG6oDO1stBUSAhi0w=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "KK0JWW8EJDuD4IEY2tzh/1Aa7o2/SIcWHAyQXZHZn9hBsotLKIFa+w==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "z99ILwWsZ2QUIrOl8rgpYQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.3.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:55 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuee12a1896/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0b2c65b2-8b44-4b2a-b482-2cbf3e3f6769</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:32:55 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:32:55
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA7kHldx0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:32:55 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:55 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuee12a1896/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0b2c65b2-8b44-4b2a-b482-2cbf3e3f6769</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:32:55 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:32:55
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"EeSAyoOgLSKoIKpM4IT3I9OJuViG6oDO1stBUSAhi0w=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"KK0JWW8EJDuD4IEY2tzh/1Aa7o2/SIcWHAyQXZHZn9hBsotLKIFa+w==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"z99ILwWsZ2QUIrOl8rgpYQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.3.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 16 Jul 2018 22:50:52 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuee12a1896/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>93839fd2-b156-4a16-979b-9e2310b3212d</MessageId><InsertionTime>Mon,
        16 Jul 2018 22:50:52 GMT</InsertionTime><ExpirationTime>Mon, 23 Jul 2018 22:50:52
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"ek+lg7Q5uuw7oSq9oPEMIBkJ/9BZ3w8Ats0gTFF+tD0=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"DLUhzTLBzi7sLbGGvNWqTM11AT86j4HzOoP51s02FWF4Z4RVACfovw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"mAP4d3qeCULjQF4ihkYJ5w==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.3.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
