interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:51 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuebef712f8
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:51 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuebef712f8/messages?messagettl=1073741824
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c4fc0a93-eabb-4d9a-8f52-1083012221d1</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:19:51 GMT</InsertionTime><ExpirationTime>Sat, 17 May 2053\
        \ 14:56:55 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA6OYgTQUG1QE=</PopReceipt><TimeNextVisible>Thu,\
        \ 09 May 2019 01:19:51 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:51 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuebef712f8/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c4fc0a93-eabb-4d9a-8f52-1083012221d1</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:19:51 GMT</InsertionTime><ExpirationTime>Sat, 17 May 2053\
        \ 14:56:55 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
