interactions:
- request:
    body: !!python/unicode '{"sex": "PblQneuzdoRkaeEaUr6L6g==", "birthday@odata.type":
      "Edm.DateTime", "evenratio": 3.0, "binary": "YmluYXJ5", "ratio": 3.1, "large@odata.type":
      "Edm.Int64", "Birthday@odata.type": "Edm.DateTime", "Birthday": "1973-10-04T00:00:00Z",
      "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "RowKey": "rkafe31baf", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "name@odata.type": "Edm.Binary", "birthday": "1970-10-04T00:00:00Z",
      "binary@odata.type": "Edm.Binary", "optional": null, "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"/8CtvOn82+1t2+LxLq1BtjfujCEFmNXBI+R71YVcZs4jZ0U7p9C3EA==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"pZPlC4lAhyBLCnnoMcsvTw==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.36.0\"}}", "_ClientEncryptionMetadata2":
      "71gxNrh0+LFXhjlBaA8UYg==", "sex@odata.type": "Edm.Binary", "age@odata.type":
      "Edm.Int64", "name": "uA1wAc/mWpEowUOBjBXwsw==", "clsid@odata.type": "Edm.Guid",
      "married": true, "large": "933311100", "PartitionKey": "pkafe31baf", "other":
      20, "age": "39", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 18 Aug 2017 23:13:05 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttableafe31baf
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttableafe31baf(PartitionKey=''pkafe31baf'',RowKey=''rkafe31baf'')']
      etag: [W/"datetime'2017-08-18T23%3A13%3A05.2982832Z'"]
      location: ['https://storagename.table.core.windows.net/uttableafe31baf(PartitionKey=''pkafe31baf'',RowKey=''rkafe31baf'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
version: 1
