interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:52:03 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "2z51GVpGaJftEBreu5bYRg==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "kIaIyNzzlNev1mTpR2iveWQQLfBYEhjo4YlvK4tILoAyQ0Yiua+FKg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "37vNE96xN3E9haHr3TIRFQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.35.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:52:03 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d709072e-8c14-4984-9780-d5270137731b</MessageId><InsertionTime>Thu,\
        \ 13 Jul 2017 18:52:03 GMT</InsertionTime><ExpirationTime>Thu, 20 Jul 2017\
        \ 18:52:03 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAdTbDHQn80gE=</PopReceipt><TimeNextVisible>Thu,\
        \ 13 Jul 2017 18:52:03 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:52:03 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d709072e-8c14-4984-9780-d5270137731b</MessageId><InsertionTime>Thu,\
        \ 13 Jul 2017 18:52:03 GMT</InsertionTime><ExpirationTime>Thu, 20 Jul 2017\
        \ 18:52:03 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAoDGqLwn80gE=</PopReceipt><TimeNextVisible>Thu,\
        \ 13 Jul 2017 18:52:33 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"2z51GVpGaJftEBreu5bYRg==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"kIaIyNzzlNev1mTpR2iveWQQLfBYEhjo4YlvK4tILoAyQ0Yiua+FKg==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"37vNE96xN3E9haHr3TIRFQ==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.35.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "hP/rujB6i67737JLeEIwdA==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "CA6ZTjX+lcAvfAQWEWpCeP/Z2KfblVQcLAZFzPNUrqAT6JSrwa93Kg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "v/lq61j2bzpAXUK2at2mcQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.35.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:52:03 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages/d709072e-8c14-4984-9780-d5270137731b?popreceipt=AgAAAAMAAAAAAAAAoDGqLwn80gE%3D&visibilitytimeout=0
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAhR/PHQn80gEBAAAA]
      x-ms-time-next-visible: ['Thu, 13 Jul 2017 18:52:03 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:52:03 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d709072e-8c14-4984-9780-d5270137731b</MessageId><InsertionTime>Thu,\
        \ 13 Jul 2017 18:52:03 GMT</InsertionTime><ExpirationTime>Thu, 20 Jul 2017\
        \ 18:52:03 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAqsi3Lwn80gE=</PopReceipt><TimeNextVisible>Thu,\
        \ 13 Jul 2017 18:52:33 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"hP/rujB6i67737JLeEIwdA==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"CA6ZTjX+lcAvfAQWEWpCeP/Z2KfblVQcLAZFzPNUrqAT6JSrwa93Kg==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"v/lq61j2bzpAXUK2at2mcQ==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.35.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
