interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:27 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9ae1814
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "jvd8kWwxWqstFMLE0h5Em83BRz2sPhddcUpfLKjFMDCxZFj4GQSN32ny9OWZb+J0E438qb48QAp5nOHuvPfcy0biuSmx2M1wB5MJTGy06nPvA1W8R6AeKjXijH83+Hf2IcdZpDUpYARh1bZwd2sUIFa3gCif2rmMG+Fx5it3wunYmY3+YrsvfH5A4U3iuYT4",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "artqgW8lDL8kRBub+lymKtl7Uo9BdCWcBN9ezE41VYH2qSua+Vt19w==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "VPCk83wCiHuUF0q2s9uriQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.36.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:27 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9ae1814/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ab76bd1f-207d-4612-bd2f-7bef825eb8d1</MessageId><InsertionTime>Tue,\
        \ 22 Aug 2017 22:07:27 GMT</InsertionTime><ExpirationTime>Tue, 29 Aug 2017\
        \ 22:07:27 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA8yteCpMb0wE=</PopReceipt><TimeNextVisible>Tue,\
        \ 22 Aug 2017 22:07:27 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:27 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9ae1814/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ab76bd1f-207d-4612-bd2f-7bef825eb8d1</MessageId><InsertionTime>Tue,\
        \ 22 Aug 2017 22:07:27 GMT</InsertionTime><ExpirationTime>Tue, 29 Aug 2017\
        \ 22:07:27 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAArRFGHJMb0wE=</PopReceipt><TimeNextVisible>Tue,\
        \ 22 Aug 2017 22:07:57 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"jvd8kWwxWqstFMLE0h5Em83BRz2sPhddcUpfLKjFMDCxZFj4GQSN32ny9OWZb+J0E438qb48QAp5nOHuvPfcy0biuSmx2M1wB5MJTGy06nPvA1W8R6AeKjXijH83+Hf2IcdZpDUpYARh1bZwd2sUIFa3gCif2rmMG+Fx5it3wunYmY3+YrsvfH5A4U3iuYT4\"\
        , \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\"\
        : \"artqgW8lDL8kRBub+lymKtl7Uo9BdCWcBN9ezE41VYH2qSua+Vt19w==\", \"Algorithm\"\
        : \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\"\
        : \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"VPCk83wCiHuUF0q2s9uriQ==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.36.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "BvtQiXqPC63AQLRtS0s6VROwVhslpVBRcu5gNgigYqGJSrsRHXzYwXqTuXP3bJFsJvDmQ+GvmKXIpXegFcmC2nqVDL+16Zk/7HhIFXZ+SqpBAVTWmKj1rCBVGR0H9Q8XACC4c9efmP9mUzWEhmLHiS0cRjWNqW34jROgpPSriHfj+eGKG6THF0lnaq5Tw7K8",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "JIDuSdSbVBdakMQG8Yz0iOt2KAId9f/Ya0Apfc0PPxHaW1Z1nlemYw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "nU1hmHDZ6PQz+Q4floAChw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.36.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:27 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9ae1814/messages/ab76bd1f-207d-4612-bd2f-7bef825eb8d1?popreceipt=AgAAAAMAAAAAAAAArRFGHJMb0wE%3D&visibilitytimeout=0
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAHTxqCpMb0wEBAAAA]
      x-ms-time-next-visible: ['Tue, 22 Aug 2017 22:07:27 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
