interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:09:50 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue577f1613
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "pDlmDbiwM0TRIgPgTJ98TA==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "JYHFaOxENpIq3s6xfQgdKS+lQD6I6u8H12xpzV6NfnwgBFwjVjWcHA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "08GuXvG1E0Ie2lLpMNhSvg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.37.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:10:00 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue577f1613/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c0b935fa-1c06-45bd-8869-ab16c3ed8521</MessageId><InsertionTime>Wed,\
        \ 04 Oct 2017 00:10:00 GMT</InsertionTime><ExpirationTime>Wed, 11 Oct 2017\
        \ 00:10:00 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA9pHEHqU80wE=</PopReceipt><TimeNextVisible>Wed,\
        \ 04 Oct 2017 00:10:00 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:10:00 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue577f1613/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c0b935fa-1c06-45bd-8869-ab16c3ed8521</MessageId><InsertionTime>Wed,\
        \ 04 Oct 2017 00:10:00 GMT</InsertionTime><ExpirationTime>Wed, 11 Oct 2017\
        \ 00:10:00 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAApXesMKU80wE=</PopReceipt><TimeNextVisible>Wed,\
        \ 04 Oct 2017 00:10:30 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"pDlmDbiwM0TRIgPgTJ98TA==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"JYHFaOxENpIq3s6xfQgdKS+lQD6I6u8H12xpzV6NfnwgBFwjVjWcHA==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"08GuXvG1E0Ie2lLpMNhSvg==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.37.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
