interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:31:24 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D522E916FFB249"']
      Last-Modified: ['Fri, 03 Nov 2017 18:31:25 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Fri, 03 Nov 2017 18:31:24 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [1B2M2Y8AsgTpgAmY7PhCfg==]
      ETag: ['"0x8D522E916E3CDF4"']
      Last-Modified: ['Fri, 03 Nov 2017 18:31:24 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: AAA
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:31:24 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [4fr/s+YU5sL7p0KWliOGtw==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: BBB
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:31:24 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [K7Il8LqaWJMHV6ho7VfZow==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: CCC
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:31:24 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [3vuZ5pqfH24G8VAGsfFmrg==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:31:24 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [1B2M2Y8AsgTpgAmY7PhCfg==]
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D522E916E3CDF4"']
      Last-Modified: ['Fri, 03 Nov 2017 18:31:24 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      If-None-Match: ['"0x8D522E916E3CDF4"']
      x-ms-date: ['Fri, 03 Nov 2017 18:31:24 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19021d13/blob1?comp=blocklist
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The\
        \ condition specified using HTTP conditional header(s) is not met.\nRequestId:2a706e26-001e-0130-73d1-5448ab000000\n\
        Time:2017-11-03T18:31:25.3815194Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 412, message: The condition specified using HTTP conditional header(s)
        is not met.}
version: 1
