interactions:
- request:
    body: '{"TableName": "listtable3f561007"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 22 Aug 2017 22:08:38 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''listtable3f561007'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''listtable3f561007'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: '{"TableName": "listtable3f561007"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 22 Aug 2017 22:08:38 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: '{"odata.error":{"code":"TableAlreadyExists","message":{"lang":"en-US","value":"The
        table specified already exists.\nRequestId:b4da767f-0002-0099-6993-1bdb16000000\nTime:2017-08-22T22:08:38.7154275Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 409, message: Conflict}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 22 Aug 2017 22:08:38 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables?%24top=2
  response:
    body: {string: '{"value":[{"TableName":"CAPStable46fbe971b73747798598f01f3ab5c87c"},{"TableName":"CAPStable95217c74610847f795a116878ecde584"}]}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-continuation-NextTableName: [1!80!Y2Fwc3RhYmxlYTdkNTY0N2M5OTQ1NDAxN2EwYWNiMGQ5ZWJlMTQ5YzQBMDFkMzBkYzU3MDdkMzRlZQ--]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 22 Aug 2017 22:08:38 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables?%24top=2&NextTableName=1%2180%21Y2Fwc3RhYmxlYTdkNTY0N2M5OTQ1NDAxN2EwYWNiMGQ5ZWJlMTQ5YzQBMDFkMzBkYzU3MDdkMzRlZQ--
  response:
    body: {string: '{"value":[{"TableName":"CAPStablea7d5647c99454017a0acb0d9ebe149c4"},{"TableName":"CAPStableb683f205bc6f467d873e46cc8d86a37a"}]}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-continuation-NextTableName: [1!80!Y2Fwc3RhYmxlZDJiNDcwNTRmNWMyNDNkMzhhMDIzYjdmMTE4NGJkOTkBMDFkMzBkY2E2YmE1NjVkZQ--]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
