interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:30:13 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queueb3920bee
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:30:13 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.queue.core.windows.net/queueb3920bee/messages
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:30:13 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.queue.core.windows.net/queueb3920bee/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4c080f36-405f-4209-8e59-eb8ab6e8f0a5</MessageId><InsertionTime>Wed,\
        \ 10 Aug 2016 18:30:11 GMT</InsertionTime><ExpirationTime>Wed, 17 Aug 2016\
        \ 18:30:11 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
