interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><DefaultServiceVersion>2014-02-14</DefaultServiceVersion></StorageServiceProperties>'
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:20:31 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/?comp=properties&restype=service
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:20:32 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=properties&restype=service
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors\
        \ /><DefaultServiceVersion>2014-02-14</DefaultServiceVersion></StorageServiceProperties>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
