interactions:
- request:
    body: '{"TableName": "querytablefcf31465"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Thu, 13 Jul 2017 18:57:05 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''querytablefcf31465'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''querytablefcf31465'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: '--batch_106fb194-67fd-11e7-9bd0-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_106fb234-67fd-11e7-b6da-b8e8564491f6


      --changeset_106fb234-67fd-11e7-b6da-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytablefcf31465 HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Length: 556


      {"PartitionKey": "pkfcf31465", "RowKey": "rkfcf314651", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "optional":
      null, "ratio": 3.1, "evenratio": 3.0, "large": "933311100", "large@odata.type":
      "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime",
      "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime", "binary":
      "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}


      --changeset_106fb234-67fd-11e7-b6da-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytablefcf31465 HTTP/1.1

      Content-ID: 2

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Prefer: return-no-content

      Content-Length: 557


      {"PartitionKey": "pkfcf31465", "RowKey": "rkfcf3146512", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "marri[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 13 Jul 2017 18:57:05 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/querytablefcf31465()?%24select=age%2Csex
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytablefcf31465&$select=age,sex","value":[{"odata.etag":"W/\"datetime''2017-07-13T18%3A57%3A05.6533765Z''\"","age@odata.type":"Edm.Int64","age":"39","sex":"male"},{"odata.etag":"W/\"datetime''2017-07-13T18%3A57%3A05.6543773Z''\"","age@odata.type":"Edm.Int64","age":"39","sex":"male"}]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
