interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:01:23 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerc01c0c5d?restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D50ABB0D2447AA"']
      last-modified: ['Wed, 04 Oct 2017 00:01:23 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'hello world'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Wed, 04 Oct 2017 00:01:23 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerc01c0c5d/blob1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [XrY7u+Ae7tCTyyK7j1rNww==]
      etag: ['"0x8D50ABB0D376912"']
      last-modified: ['Wed, 04 Oct 2017 00:01:23 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:01:24 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/containerc01c0c5d?comp=list&restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"\
        containerc01c0c5d\"><Blobs><Blob><Name>blob1</Name><Properties><Last-Modified>Wed,\
        \ 04 Oct 2017 00:01:23 GMT</Last-Modified><Etag>0x8D50ABB0D376912</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob2</Name><Properties><Last-Modified>Wed,\
        \ 04 Oct 2017 00:01:24 GMT</Last-Modified><Etag>0x8D50ABB0D3F0B94</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
