interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:31:45 GMT']
      x-ms-version: ['2017-11-09']
    method: GET
    uri: https://storagename-secondary.blob.core.windows.net/?restype=service&comp=stats
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Tue,
        03 Apr 2018 20:42:32 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-11-09']
    status: {code: 200, message: OK}
version: 1
