interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:30:58 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queueb3920bee
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:30:58 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/queueb3920bee/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c9909763-c7ef-40ec-8f97-34e8968db6f9</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:30:58 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:30:58
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAKiIQMh0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:30:58 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:30:59 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/queueb3920bee/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c9909763-c7ef-40ec-8f97-34e8968db6f9</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:30:58 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:30:58
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 16 Jul 2018 22:49:00 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/queueb3920bee/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c617f988-56d5-46ca-8501-5ea665b5c00d</MessageId><InsertionTime>Mon,
        16 Jul 2018 22:48:59 GMT</InsertionTime><ExpirationTime>Mon, 23 Jul 2018 22:48:59
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
