interactions:
- request:
    body: '{"TableName": "tableded1139b"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 14 Jun 2017 06:20:42 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''tableded1139b'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''tableded1139b'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 14 Jun 2017 06:20:42 GMT']
      x-ms-version: ['2016-05-31']
    method: DELETE
    uri: https://storagename.table.core.windows.net/Tables('tableded1139b')
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 14 Jun 2017 06:20:42 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables('tableded1139b')
  response:
    body: {string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:4961f57d-0002-0021-03d6-e439e5000000\nTime:2017-06-14T06:20:42.8598726Z"}}}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-version: ['2016-05-31']
    status: {code: 404, message: Not Found}
version: 1
