interactions:
- request:
    body: !!python/unicode '{"TableName": "\u554a\u9f44\u4e02\u72db\u72dc"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 18 Aug 2017 23:12:45 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: !!python/unicode '{"odata.error":{"code":"InvalidResourceName","message":{"lang":"en-US","value":"The
        specifed resource name contains invalid characters.\nRequestId:c34a3817-0002-011e-2677-18c86c000000\nTime:2017-08-18T23:12:45.4937960Z"}}}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 400, message: Bad Request}
version: 1
