interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:57:48 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container73941128?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D4195B229C5E"']
      Last-Modified: ['Thu, 09 May 2019 00:57:48 GMT']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 09 May 2019 00:57:48 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container73941128/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D6D4195B2905CF"']
      Last-Modified: ['Thu, 09 May 2019 00:57:48 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:57:48 GMT']
      x-ms-lease-action: [acquire]
      x-ms-lease-duration: ['-1']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container73941128/blob1?comp=lease
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D4195B2905CF"']
      Last-Modified: ['Thu, 09 May 2019 00:57:48 GMT']
      x-ms-lease-id: [9e27f55c-c504-4775-b472-0cca49c92791]
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:57:48 GMT']
      x-ms-version: ['2018-11-09']
    method: GET
    uri: https://storagename.blob.core.windows.net/container73941128?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"\
        container73941128\"><Blobs><Blob><Name>blob1</Name><Properties><Creation-Time>Thu,\
        \ 09 May 2019 00:57:48 GMT</Creation-Time><Last-Modified>Thu, 09 May 2019\
        \ 00:57:48 GMT</Last-Modified><Etag>0x8D6D4195B2905CF</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>locked</LeaseStatus><LeaseState>leased</LeaseState><LeaseDuration>infinite</LeaseDuration><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-11-09']
    status: {code: 200, message: OK}
version: 1
