interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:49:20 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D456CECF6DD851"']
      Last-Modified: ['Fri, 17 Feb 2017 00:49:20 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:49:21 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D456CECF7966AB"']
      Last-Modified: ['Fri, 17 Feb 2017 00:49:21 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Fri, 17 Feb 2017 00:49:21 GMT']
      x-ms-type: [file]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1/filea1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D456CECF87E5C8"']
      Last-Modified: ['Fri, 17 Feb 2017 00:49:21 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Fri, 17 Feb 2017 00:49:21 GMT']
      x-ms-type: [file]
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1/fileb1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D456CECFB49C16"']
      Last-Modified: ['Fri, 17 Feb 2017 00:49:21 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:49:21 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1?maxresults=2&comp=list&restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"shareffa41cea\"
        DirectoryPath=\"dir1\"><MaxResults>2</MaxResults><Entries><File><Name>filea1</Name><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>filea2</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker>1!8!ZmlsZWEz</NextMarker></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:49:21 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.file.core.windows.net/shareffa41cea/dir1?marker=1%218%21ZmlsZWEz&maxresults=2&comp=list&restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"shareffa41cea\"
        DirectoryPath=\"dir1\"><Marker>filea3</Marker><MaxResults>2</MaxResults><Entries><File><Name>filea3</Name><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>fileb1</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
