interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:02:38 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://premiumstoragename.blob.core.windows.net/utpremiumcontainer6e171111?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D55EBF3009689A"']
      Last-Modified: ['Thu, 18 Jan 2018 22:02:38 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-content-length: ['1024']
      x-ms-blob-type: [PageBlob]
      x-ms-date: ['Thu, 18 Jan 2018 22:02:38 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://premiumstoragename.blob.core.windows.net/utpremiumcontainer6e171111/blob6e171111
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D55EBF300DC222"']
      Last-Modified: ['Thu, 18 Jan 2018 22:02:38 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:02:38 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://premiumstoragename.blob.core.windows.net/utpremiumcontainer6e171111/blob6e171111
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D55EBF300DC222"']
      Last-Modified: ['Thu, 18 Jan 2018 22:02:38 GMT']
      x-ms-access-tier: [P10]
      x-ms-access-tier-inferred: ['true']
      x-ms-blob-sequence-number: ['0']
      x-ms-blob-type: [PageBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:02:38 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://premiumstoragename.blob.core.windows.net/utpremiumcontainer6e171111?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<EnumerationResults
        ServiceEndpoint=\"https://premiumstoragename.blob.core.windows.net/\" ContainerName=\"utpremiumcontainer6e171111\"><Blobs><Blob><Name>blob6e171111</Name><Properties><Last-Modified>Thu,
        18 Jan 2018 22:02:38 GMT</Last-Modified><Etag>0x8D55EBF300DC222</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding/><Content-Language/><Content-MD5/><Cache-Control/><Content-Disposition/><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><AccessTier/><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker/></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-access-tier: [P50]
      x-ms-date: ['Thu, 18 Jan 2018 22:02:38 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://premiumstoragename.blob.core.windows.net/utpremiumcontainer6e171111/blob6e171111?comp=tier
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:02:38 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://premiumstoragename.blob.core.windows.net/utpremiumcontainer6e171111?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<EnumerationResults
        ServiceEndpoint=\"https://premiumstoragename.blob.core.windows.net/\" ContainerName=\"utpremiumcontainer6e171111\"><Blobs><Blob><Name>blob6e171111</Name><Properties><Last-Modified>Thu,
        18 Jan 2018 22:02:38 GMT</Last-Modified><Etag>0x8D55EBF300DC222</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding/><Content-Language/><Content-MD5/><Cache-Control/><Content-Disposition/><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><AccessTier>P50</AccessTier><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker/></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:02:38 GMT']
      x-ms-version: ['2017-04-17']
    method: DELETE
    uri: https://premiumstoragename.blob.core.windows.net/utpremiumcontainer6e171111?restype=container
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
version: 1
