interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:58:04 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container664b164b?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D41964B77E99"']
      Last-Modified: ['Thu, 09 May 2019 00:58:04 GMT']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-public-access: [blob]
      x-ms-date: ['Thu, 09 May 2019 00:58:04 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container664b164b?restype=container&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D41964BD5924"']
      Last-Modified: ['Thu, 09 May 2019 00:58:04 GMT']
      x-ms-version: ['2018-11-09']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 00:58:04 GMT']
      x-ms-version: ['2018-11-09']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&prefix=container664b164b
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>container664b164b</Prefix><Containers><Container><Name>container664b164b</Name><Properties><Last-Modified>Thu,\
        \ 09 May 2019 00:58:04 GMT</Last-Modified><Etag>\"0x8D6D41964BD5924\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-11-09']
    status: {code: 200, message: OK}
version: 1
