interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:07:14 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share72fe113c?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D50ABBDDF625B0"']
      last-modified: ['Wed, 04 Oct 2017 00:07:14 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:07:14 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share72fe113c/dir1?restype=directory
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D50ABBDE2A7335"']
      last-modified: ['Wed, 04 Oct 2017 00:07:14 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Wed, 04 Oct 2017 00:07:14 GMT']
      x-ms-type: [file]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share72fe113c/file1
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D50ABBDE371FC4"']
      last-modified: ['Wed, 04 Oct 2017 00:07:14 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-content-length: ['1025']
      x-ms-date: ['Wed, 04 Oct 2017 00:07:14 GMT']
      x-ms-type: [file]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share72fe113c/dir1/file2
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D50ABBDE3E4D07"']
      last-modified: ['Wed, 04 Oct 2017 00:07:14 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:07:14 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/share72fe113c?comp=list&restype=directory
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        share72fe113c\" DirectoryPath=\"\"><Entries><Directory><Name>dir1</Name><Properties\
        \ /></Directory><Directory><Name>dir2</Name><Properties /></Directory><File><Name>file1</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
