interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:08:27 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/listshare07d2b16cf?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4E9AA50E4E6E4"']
      Last-Modified: ['Tue, 22 Aug 2017 22:08:27 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:08:28 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&prefix=listshare&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>listshare</Prefix><MaxResults>2</MaxResults><Shares><Share><Name>listshare07d2b16cf</Name><Properties><Last-Modified>Tue,\
        \ 22 Aug 2017 22:08:27 GMT</Last-Modified><Etag>\"0x8D4E9AA50E4E6E4\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare17d2b16cf</Name><Properties><Last-Modified>Tue,\
        \ 22 Aug 2017 22:08:27 GMT</Last-Modified><Etag>\"0x8D4E9AA50EB0278\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker>/storagename/listshare27d2b16cf</NextMarker></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:08:28 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&prefix=listshare&marker=%2Fstoragename%2Flistshare27d2b16cf&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>listshare</Prefix><Marker>/storagename/listshare27d2b16cf</Marker><MaxResults>2</MaxResults><Shares><Share><Name>listshare27d2b16cf</Name><Properties><Last-Modified>Tue,\
        \ 22 Aug 2017 22:08:27 GMT</Last-Modified><Etag>\"0x8D4E9AA50F0CFE1\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare37d2b16cf</Name><Properties><Last-Modified>Tue,\
        \ 22 Aug 2017 22:08:27 GMT</Last-Modified><Etag>\"0x8D4E9AA50F6C462\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
