interactions:
- request:
    body: '{"RowKey": "batch_merge", "test2": "value", "test4": "1234567890", "test3":
      "3", "test3@odata.type": "Edm.Int64", "PartitionKey": "001", "test5@odata.type":
      "Edm.DateTime", "test5": "2017-02-17T00:50:08Z", "test4@odata.type": "Edm.Int64",
      "test": "true"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 17 Feb 2017 00:50:08 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/tablee2da0d47
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'')']
      ETag: [W/"datetime'2017-02-17T00%3A50%3A08.2252618Z'"]
      Location: ['https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 17 Feb 2017 00:50:08 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey='001',RowKey='batch_merge')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablee2da0d47/@Element","odata.etag":"W/\"datetime''2017-02-17T00%3A50%3A08.2252618Z''\"","PartitionKey":"001","RowKey":"batch_merge","Timestamp":"2017-02-17T00:50:08.2252618Z","test2":"value","test4@odata.type":"Edm.Int64","test4":"1234567890","test3@odata.type":"Edm.Int64","test3":"3","test5@odata.type":"Edm.DateTime","test5":"2017-02-17T00:50:08Z","test":"true"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-02-17T00%3A50%3A08.2252618Z'"]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
- request:
    body: '--batch_079921b9-f4ab-11e6-8bf8-64510640cc62

      Content-Type: multipart/mixed; boundary=changeset_079921ba-f4ab-11e6-963c-64510640cc62


      --changeset_079921ba-f4ab-11e6-963c-64510640cc62

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      MERGE /tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'') HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      If-Match: *

      Accept: application/json;odata=minimalmetadata

      Content-Length: 67


      {"RowKey": "batch_merge", "test2": "value1", "PartitionKey": "001"}


      --changeset_079921ba-f4ab-11e6-963c-64510640cc62--

      --batch_079921b9-f4ab-11e6-8bf8-64510640cc62--'
    headers:
      Content-Type: [multipart/mixed; boundary=batch_079921b9-f4ab-11e6-8bf8-64510640cc62]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 17 Feb 2017 00:50:08 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: "--batchresponse_ff6a2d79-998c-48b5-9de0-edc54b6702f7\r\nContent-Type:
        multipart/mixed; boundary=changesetresponse_4c1a469b-4fe3-4201-8f87-961bc4b17120\r\n\r\n--changesetresponse_4c1a469b-4fe3-4201-8f87-961bc4b17120\r\nContent-Type:
        application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204
        No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:
        no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2017-02-17T00%3A50%3A08.3321135Z'\"\r\n\r\n\r\n--changesetresponse_4c1a469b-4fe3-4201-8f87-961bc4b17120--\r\n--batchresponse_ff6a2d79-998c-48b5-9de0-edc54b6702f7--\r\n"}
    headers:
      Content-Type: [multipart/mixed; boundary=batchresponse_ff6a2d79-998c-48b5-9de0-edc54b6702f7]
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 17 Feb 2017 00:50:08 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey='001',RowKey='batch_merge')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablee2da0d47/@Element","odata.etag":"W/\"datetime''2017-02-17T00%3A50%3A08.3321135Z''\"","PartitionKey":"001","RowKey":"batch_merge","Timestamp":"2017-02-17T00:50:08.3321135Z","test":"true","test2":"value1","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-02-17T00:50:08Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-02-17T00%3A50%3A08.3321135Z'"]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
