interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:05:48 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container39251586?restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4E68DA9C72641"']
      last-modified: ['Fri, 18 Aug 2017 23:05:47 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'hello world'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Fri, 18 Aug 2017 23:05:48 GMT']
      x-ms-meta-name: [bob]
      x-ms-meta-number: ['1']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container39251586/blob1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [XrY7u+Ae7tCTyyK7j1rNww==]
      etag: ['"0x8D4E68DA9DE32DC"']
      last-modified: ['Fri, 18 Aug 2017 23:05:48 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:05:48 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container39251586/blob1?comp=snapshot
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4E68DA9DE32DC"']
      last-modified: ['Fri, 18 Aug 2017 23:05:48 GMT']
      x-ms-snapshot: ['2017-08-18T23:05:48.1751988Z']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:05:48 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/container39251586?comp=list&include=snapshots%2Cmetadata&restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"\
        container39251586\"><Blobs><Blob><Name>blob1</Name><Snapshot>2017-08-18T23:05:48.1751988Z</Snapshot><Properties><Last-Modified>Fri,\
        \ 18 Aug 2017 23:05:48 GMT</Last-Modified><Etag>0x8D4E68DA9DE32DC</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><number>1</number><name>bob</name></Metadata></Blob><Blob><Name>blob1</Name><Properties><Last-Modified>Fri,\
        \ 18 Aug 2017 23:05:48 GMT</Last-Modified><Etag>0x8D4E68DA9DE32DC</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><number>1</number><name>bob</name></Metadata></Blob><Blob><Name>blob2</Name><Properties><Last-Modified>Fri,\
        \ 18 Aug 2017 23:05:48 GMT</Last-Modified><Etag>0x8D4E68DA9E7352C</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><number>2</number><name>car</name></Metadata></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
