interactions:
- request:
    body: '{"PartitionKey": "pkf941967", "RowKey": "rkf941967"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Thu, 13 Jul 2017 18:53:40 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttablef941967
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttablef941967(PartitionKey=''pkf941967'',RowKey=''rkf941967'')']
      ETag: [W/"datetime'2017-07-13T18%3A53%3A40.5453121Z'"]
      Location: ['https://storagename.table.core.windows.net/uttablef941967(PartitionKey=''pkf941967'',RowKey=''rkf941967'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 13 Jul 2017 18:53:40 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttablef941967(PartitionKey='pkf941967',RowKey='rkf941967')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttablef941967/@Element","odata.etag":"W/\"datetime''2017-07-13T18%3A53%3A40.5453121Z''\"","PartitionKey":"pkf941967","RowKey":"rkf941967","Timestamp":"2017-07-13T18:53:40.5453121Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-07-13T18%3A53%3A40.5453121Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
