interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList />'
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:41:29 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer2cdf0f7f/blob2cdf0f7f?comp=blocklist
  response:
    body: {string: ''}
    headers:
      Content-MD5: [NgbQHgw94OQ3P8fSkY5Pxg==]
      ETag: ['"0x8D456CDB69E2B3B"']
      Last-Modified: ['Fri, 17 Feb 2017 00:41:29 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:41:30 GMT']
      x-ms-range: [bytes=0-32767]
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainer2cdf0f7f/blob2cdf0f7f
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidRange</Code><Message>The
        range specified is invalid for the current size of the resource.\nRequestId:3fd0245f-0001-002b-6bb6-8812f7000000\nTime:2017-02-17T00:41:29.9497419Z</Message></Error>"}
    headers:
      Content-Range: [bytes */0]
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 416, message: The range specified is invalid for the current size
        of the resource.}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:41:30 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainer2cdf0f7f/blob2cdf0f7f
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D456CDB69E2B3B"']
      Last-Modified: ['Fri, 17 Feb 2017 00:41:29 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
