interactions:
- request:
    body: '{"PartitionKey": "pk9727177d", "RowKey": "rk9727177d", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "optional":
      null, "evenratio": 3.0, "ratio": 3.1, "large": "933311100", "large@odata.type":
      "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime",
      "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime", "binary":
      "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Sat, 15 Jul 2017 00:44:51 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable9727177d
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable9727177d(PartitionKey=''pk9727177d'',RowKey=''rk9727177d'')']
      ETag: [W/"datetime'2017-07-15T00%3A44%3A53.0425734Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable9727177d(PartitionKey=''pk9727177d'',RowKey=''rk9727177d'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Sat, 15 Jul 2017 00:44:51 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable9727177d(PartitionKey='pk9727177d',RowKey='rk9727177d')
  response:
    body: {string: '{"PartitionKey":"pk9727177d","RowKey":"rk9727177d","Timestamp":"2017-07-15T00:44:53.0425734Z","age":"39","sex":"male","married":true,"deceased":false,"evenratio":3.0,"ratio":3.1,"large":"933311100","Birthday":"1973-10-04T00:00:00Z","birthday":"1970-10-04T00:00:00Z","binary":"YmluYXJ5","other":20,"clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-07-15T00%3A44%3A53.0425734Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
