interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:50 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue9d3c0b2f
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:50 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue9d3c0b2f/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>541ecaeb-7d33-4a83-9f86-1071f22a795a</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:19:50 GMT</InsertionTime><ExpirationTime>Thu, 16 May 2019\
        \ 01:19:50 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAEtmJTAUG1QE=</PopReceipt><TimeNextVisible>Thu,\
        \ 09 May 2019 01:19:50 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message4</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:50 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue9d3c0b2f/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>67faf9f4-81dc-44d8-ac0d-369bcad2aea0</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:19:50 GMT</InsertionTime><ExpirationTime>Thu, 16 May 2019\
        \ 01:19:50 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAApoKYTAUG1QE=</PopReceipt><TimeNextVisible>Thu,\
        \ 09 May 2019 01:19:50 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
version: 1
