interactions:
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-date: ['Tue, 23 Jun 2015 00:48:34 GMT']
      x-ms-version: ['2014-02-14']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerf31b2033?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D27B6578127016"']
      Last-Modified: ['Tue, 23 Jun 2015 00:48:34 GMT']
      x-ms-version: ['2014-02-14']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-date: ['Tue, 23 Jun 2015 00:48:35 GMT']
      x-ms-version: ['2014-02-14']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Containers><Container><Name>demo</Name><Properties><Last-Modified>Tue,\
        \ 03 Mar 2015 01:20:46 GMT</Last-Modified><Etag>\"0x8D22367690DF2DF\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container><Container><Name>demo2</Name><Properties><Last-Modified>Wed,\
        \ 11 Mar 2015 22:54:30 GMT</Last-Modified><Etag>\"0x8D22A6577F355FC\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container><Container><Name>huguesworker</Name><Properties><Last-Modified>Tue,\
        \ 09 Jun 2015 22:39:32 GMT</Last-Modified><Etag>\"0x8D2711C4A1B41D1\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</Le[...]
[...]
