interactions:
- request:
    body: null
    headers:
      x-ms-blob-content-length: ['8796093022209']
      x-ms-blob-type: [PageBlob]
      x-ms-date: ['Thu, 09 May 2019 00:59:31 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer2aa214c8/blob2aa214c8
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The\
        \ value for one of the HTTP headers is not in the correct format.\nRequestId:8423801f-b01e-0037-3702-066384000000\n\
        Time:2019-05-09T00:59:32.5467407Z</Message><HeaderName>x-ms-blob-content-length</HeaderName><HeaderValue>8796093022209</HeaderValue></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [InvalidHeaderValue]
      x-ms-version: ['2018-11-09']
    status: {code: 400, message: The value for one of the HTTP headers is not in the
        correct format.}
version: 1
