interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:46:10 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container8f051b31?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4CA1F6DD69779"']
      Last-Modified: ['Thu, 13 Jul 2017 18:46:10 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>empty</Id><AccessPolicy /></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:46:10 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container8f051b31?restype=container&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4CA1F6DD6977A"']
      Last-Modified: ['Thu, 13 Jul 2017 18:46:10 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:46:10 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/container8f051b31?restype=container&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>empty</Id></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D4CA1F6DD6977A"']
      Last-Modified: ['Thu, 13 Jul 2017 18:46:10 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
