interactions:
- request:
    body: !!python/unicode '--batch_4375d2b5-981e-11e7-a551-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_4375d391-981e-11e7-81f2-b8e8564491f6


      --changeset_4375d391-981e-11e7-81f2-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /table6dd31107(PartitionKey=''001'',RowKey=''batch_insert_replace'') HTTP/1.1

      Content-ID: 1

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 263


      {"test3": "3", "test2": "value", "test5": "2017-09-13T00:55:40Z", "test4": "1234567890",
      "PartitionKey": "001", "test5@odata.type": "Edm.DateTime", "test3@odata.type":
      "Edm.Int64", "RowKey": "batch_insert_replace", "test": "true", "test4@odata.type":
      "Edm.Int64"}


      --changeset_4375d391-981e-11e7-81f2-b8e8564491f6--

      --batch_4375d2b5-981e-11e7-a551-b8e8564491f6--'
    headers:
      Content-Type: [!!python/unicode 'multipart/mixed; boundary=batch_4375d2b5-981e-11e7-a551-b8e8564491f6']
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 13 Sep 2017 00:55:40 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: !!python/unicode "--batchresponse_03a80082-10a5-42af-86a4-92b8d4126ebd\r\
        \nContent-Type: multipart/mixed; boundary=changesetresponse_3431e3d0-675d-4352-8dc6-bc87afa7bd57\r\
        \n\r\n--changesetresponse_3431e3d0-675d-4352-8dc6-bc87afa7bd57\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2017-09-13T00%3A55%3A40.5398364Z'\"\
        \r\n\r\n\r\n--changesetresponse_3431e3d0-675d-4352-8dc6-bc87afa7bd57--\r\n\
        --batchresponse_03a80082-10a5-42af-86a4-92b8d4126ebd--\r\n"}
    headers:
      content-type: [multipart/mixed; boundary=batchresponse_03a80082-10a5-42af-86a4-92b8d4126ebd]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 13 Sep 2017 00:55:40 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/table6dd31107(PartitionKey='001',RowKey='batch_insert_replace')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table6dd31107/@Element","odata.etag":"W/\"datetime''2017-09-13T00%3A55%3A40.5398364Z''\"","PartitionKey":"001","RowKey":"batch_insert_replace","Timestamp":"2017-09-13T00:55:40.5398364Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-09-13T00:55:40Z"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-09-13T00%3A55%3A40.5398364Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
