interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:12:35 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueued9c213ac
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "iD5mdC4v3aTXineTZtAu6w==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "LSJYDbaTgFYk/U3MabqPA/i+S25Xp4RMwu9slsotGHoRYhnvicZGSQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "P1XHhUSMcxJ1JfizGA9CVw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.36.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:12:35 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueued9c213ac/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>49c2b89b-ac61-4689-936b-439b74e8b1ae</MessageId><InsertionTime>Fri,\
        \ 18 Aug 2017 23:12:35 GMT</InsertionTime><ExpirationTime>Fri, 25 Aug 2017\
        \ 23:12:35 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAkOM+encY0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 18 Aug 2017 23:12:35 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
version: 1
