interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:15:03 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D56CEE499EAFC3"']
      Last-Modified: ['Mon, 05 Feb 2018 23:15:03 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Mon, 05 Feb 2018 23:15:03 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [1B2M2Y8AsgTpgAmY7PhCfg==]
      ETag: ['"0x8D56CEE49A40B73"']
      Last-Modified: ['Mon, 05 Feb 2018 23:15:03 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: AAA
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:15:03 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [4fr/s+YU5sL7p0KWliOGtw==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: BBB
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:15:03 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [K7Il8LqaWJMHV6ho7VfZow==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: CCC
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:15:03 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [3vuZ5pqfH24G8VAGsfFmrg==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      If-Unmodified-Since: ['Mon, 05 Feb 2018 23:00:03 GMT']
      x-ms-date: ['Mon, 05 Feb 2018 23:15:03 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1?comp=blocklist
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The\
        \ condition specified using HTTP conditional header(s) is not met.\nRequestId:a5f11711-001e-0125-10d7-9e8a32000000\n\
        Time:2018-02-05T23:15:03.7877291Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [ConditionNotMet]
      x-ms-version: ['2017-07-29']
    status: {code: 412, message: The condition specified using HTTP conditional header(s)
        is not met.}
version: 1
