interactions:
- request:
    body: '{"TableName": "querytable801016e8"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 10 Aug 2016 18:31:43 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''querytable801016e8'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''querytable801016e8'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: '--batch_b03c65e1-5f28-11e6-8882-0050b66b38e2

      Content-Type: multipart/mixed; boundary=changeset_b03c7964-5f28-11e6-b8f1-0050b66b38e2


      --changeset_b03c7964-5f28-11e6-b8f1-0050b66b38e2

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytable801016e8 HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Length: 556


      {"birthday": "1970-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime",
      "age": "39", "RowKey": "rk801016e81", "birthday@odata.type": "Edm.DateTime",
      "binary": "YmluYXJ5", "optional": null, "other": 20, "age@odata.type": "Edm.Int64",
      "large@odata.type": "Edm.Int64", "ratio": 3.1, "PartitionKey": "pk801016e8",
      "evenratio": 3.0, "clsid@odata.type": "Edm.Guid", "deceased": false, "binary@odata.type":
      "Edm.Binary", "large": "933311100", "married": true, "Birthday": "1973-10-04T00:00:00Z",
      "sex": "male", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"}


      --changeset_b03c7964-5f28-11e6-b8f1-0050b66b38e2

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytable801016e8 HTTP/1.1

      Content-ID: 2

      Content-Type: application/json

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Length: 557


      {"birthday": "1970-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime",
      "age": "39", "RowK[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:31:44 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.table.core.windows.net/querytable801016e8()?%24top=2
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable801016e8","value":[{"odata.etag":"W/\"datetime''2016-08-10T18%3A31%3A42.8639611Z''\"","PartitionKey":"pk801016e8","RowKey":"rk801016e81","Timestamp":"2016-08-10T18:31:42.8639611Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","age@odata.type":"Edm.Int64","age":"39","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"ratio":3.1,"evenratio":3.0,"deceased":false,"large@odata.type":"Edm.Int64","large":"933311100","married":true,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","sex":"male","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"},{"odata.etag":"W/\"datetime''2016-08-10T18%3A31%3A42.8639611Z''\"","PartitionKey":"pk801016e8","RowKey":"rk801016e812","Timestamp":"2016-08-10T18:31:42.8639611Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","age@odata.type":"Edm.Int64","age":"39","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"ratio":3.1,"evenratio":3.0,"deceased":false,"large@odata.type":"Edm.Int64","large":"933311100","married":true,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","sex":"male","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-continuation-NextPartitionKey: [1!16!cGs4MDEwMTZlOA--]
      x-ms-continuation-NextRowKey: [1!20!cms4MDEwMTZlODEyMw--]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:31:44 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.table.core.windows.net/querytable801016e8()?NextPartitionKey=1%2116%21cGs4MDEwMTZlOA--&NextRowKey=1%2120%21cms4MDEwMTZlODEyMw--&%24top=2
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable8010[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:31:44 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.table.core.windows.net/querytable801016e8()?NextPartitionKey=1%2116%21cGs4MDEwMTZlOA--&NextRowKey=1%2120%21cms4MDEwMTZlODEyMzQ1&%24top=2
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytable801016e8","value":[{"odata.etag":"W/\"datetime''2016-08-10T18%3A31%3A42.8639611Z''\"","PartitionKey":"pk801016e8","RowKey":"rk801016e812345","Timestamp":"2016-08-10T18:31:42.8639611Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","age@odata.type":"Edm.Int64","age":"39","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"ratio":3.1,"evenratio":3.0,"deceased":false,"large@odata.type":"Edm.Int64","large":"933311100","married":true,"Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","sex":"male","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}]}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
