interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <StorageServiceProperties><Cors><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><MaxAgeInSeconds>0</MaxAgeInSeconds><ExposedHeaders
      /><AllowedHeaders /></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><MaxAgeInSeconds>0</MaxAgeInSeconds><ExposedHeaders
      /><AllowedHeaders /></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><MaxAgeInSeconds>0</MaxAgeInSeconds><ExposedHeaders
      /><AllowedHeaders /></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><MaxAgeInSeconds>0</MaxAgeInSeconds><ExposedHeaders
      /><AllowedHeaders /></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><MaxAgeInSeconds>0</MaxAgeInSeconds><ExposedHeaders
      /><AllowedHeaders /></CorsRule><CorsRule><AllowedOrigins>www.xyz.com</AllowedOrigins><AllowedMethods>GET</AllowedMethods><MaxAgeInSeconds>0</MaxAgeInSeconds><ExposedHeaders
      /><AllowedHeaders /></CorsRule></Cors></StorageServiceProperties>'
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:08:15 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/?restype=service&comp=properties
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML\
        \ specified is not syntactically valid.\nRequestId:f854709b-0001-0113-4f93-1b2760000000\n\
        Time:2017-08-22T22:08:15.8022578Z</Message><LineNumber>0</LineNumber><LinePosition>0</LinePosition><Reason\
        \ /></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 400, message: XML specified is not syntactically valid.}
version: 1
