interactions:
- request:
    body: '{"PartitionKey": "pk284b19b3", "RowKey": "rk284b19b3", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "BHTt5K/JKMVPN9a1tRZ4Vg==", "sex@odata.type": "Edm.Binary",
      "name": "ZzNLBRrWEw/YXY/gfeBQyQ==", "name@odata.type": "Edm.Binary", "married":
      true, "deceased": false, "optional": null, "evenratio": 3.0, "ratio": 3.1, "large":
      "933311100", "large@odata.type": "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid",
      "_ClientEncryptionMetadata2": "HXye9hbCOcx4drtYQisT8A==", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "_ClientEncryptionMetadata1": "{\"WrappedContentKey\": {\"KeyId\":
      \"key1\", \"EncryptedKey\": \"6YzoSLJLFziva4iXCpqtggglVBFeMJes4cGxVGMO2dRhpVvYA9V6Bw==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"6YWVTXBW+l95Bl1IQnkO3w==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.35.1\"}}"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Sat, 15 Jul 2017 00:44:31 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable284b19b3
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable284b19b3(PartitionKey=''pk284b19b3'',RowKey=''rk284b19b3'')']
      ETag: [W/"datetime'2017-07-15T00%3A44%3A32.0839036Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable284b19b3(PartitionKey=''pk284b19b3'',RowKey=''rk284b19b3'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Sat, 15 Jul 2017 00:44:31 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable284b19b3(PartitionKey='pk284b19b3',RowKey='rk284b19b3')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable284b19b3/@Element","odata.etag":"W/\"datetime''2017-07-15T00%3A44%3A32.0839036Z''\"","PartitionKey":"pk284b19b3","RowKey":"rk284b19b3","Timestamp":"2017-07-15T00:44:32.0839036Z","age@odata.type":"Edm.Int64","age":"39","sex@odata.type":"Edm.Binary","sex":"BHTt5K/JKMVPN9a1tRZ4Vg==","name@odata.type":"Edm.Binary","name":"ZzNLBRrWEw/YXY/gfeBQyQ==","married":true,"deceased":false,"evenratio":3.0,"ratio":3.1,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"HXye9hbCOcx4drtYQisT8A==","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"6YzoSLJLFziva4iXCpqtggglVBFeMJes4cGxVGMO2dRhpVvYA9V6Bw==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"6YWVTXBW+l95Bl1IQnkO3w==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.35.1\"}}"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-07-15T00%3A44%3A32.0839036Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
