interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:29:58 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuea7c20b89
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:29:59 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuea7c20b89/messages
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:29:59 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuea7c20b89/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>dca6ff1f-489b-4e18-8e72-055025a5064b</MessageId><InsertionTime>Wed,\
        \ 10 Aug 2016 18:29:57 GMT</InsertionTime><ExpirationTime>Wed, 17 Aug 2016\
        \ 18:29:57 GMT</ExpirationTime><DequeueCount>1</DequeueCount><PopReceipt>AgAAAAMAAAAAAAAACR5PRDXz0QE=</PopReceipt><TimeNextVisible>Wed,\
        \ 10 Aug 2016 18:30:27 GMT</TimeNextVisible><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
