interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:15:49 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14A5A9E5563"']
      Last-Modified: ['Wed, 10 Aug 2016 18:15:48 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2016-08-10T18:14:50Z</Start><Expiry>2016-08-10T19:15:50Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:15:50 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14A5AF24D34"']
      Last-Modified: ['Wed, 10 Aug 2016 18:15:48 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:15:50 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2016-08-10T18:14:50.0000000Z</Start><Expiry>2016-08-10T19:15:50.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D3C14A5AF24D34"']
      Last-Modified: ['Wed, 10 Aug 2016 18:15:48 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
