interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:10:36 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "EYbv/E0tj4+H5/Wtx8qUXHWKpqBdVEKl/xGb9rpk37Q=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "KdN2Mx+sY3OTbBhqtBjXVt0a1tmVg9tFXDO/oT1XUI9ZPLXdp7NQgA==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "U9cSjTUOXN37KhMdMrrzfQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.0.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:10:36 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>55757f87-213d-484b-9385-506062fe55dd</MessageId><InsertionTime>Thu,
        18 Jan 2018 22:10:37 GMT</InsertionTime><ExpirationTime>Thu, 25 Jan 2018 22:10:37
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA+R1XK6mQ0wE=</PopReceipt><TimeNextVisible>Thu,
        18 Jan 2018 22:10:37 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:10:36 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>55757f87-213d-484b-9385-506062fe55dd</MessageId><InsertionTime>Thu,
        18 Jan 2018 22:10:37 GMT</InsertionTime><ExpirationTime>Thu, 25 Jan 2018 22:10:37
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVmc+PamQ0wE=</PopReceipt><TimeNextVisible>Thu,
        18 Jan 2018 22:11:07 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"EYbv/E0tj4+H5/Wtx8qUXHWKpqBdVEKl/xGb9rpk37Q=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"KdN2Mx+sY3OTbBhqtBjXVt0a1tmVg9tFXDO/oT1XUI9ZPLXdp7NQgA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"U9cSjTUOXN37KhMdMrrzfQ==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.0.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "vVZv88gOfSBddRtfWTYs0yZ6VUvfjQqUYdjpdqp3+a0=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "q5cW72E4IniHFL49ZtnOVHTLtdopQQv0XLzqyHB5n2e/mGVbgCiefg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "k8Mee5rUWY7oMR0PoHBMMg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 1.0.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:10:36 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749/messages/55757f87-213d-484b-9385-506062fe55dd?popreceipt=AgAAAAMAAAAAAAAAVmc%2BPamQ0wE%3D&visibilitytimeout=0
  response:
    body: {string: ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAe6NjK6mQ0wEBAAAA]
      x-ms-time-next-visible: ['Thu, 18 Jan 2018 22:10:37 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:10:36 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue9a7c1749/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>55757f87-213d-484b-9385-506062fe55dd</MessageId><InsertionTime>Thu,
        18 Jan 2018 22:10:37 GMT</InsertionTime><ExpirationTime>Thu, 25 Jan 2018 22:10:37
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAFDtLPamQ0wE=</PopReceipt><TimeNextVisible>Thu,
        18 Jan 2018 22:11:07 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"EncryptedMessageContents\":
        \"vVZv88gOfSBddRtfWTYs0yZ6VUvfjQqUYdjpdqp3+a0=\", \"EncryptionData\": {\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"q5cW72E4IniHFL49ZtnOVHTLtdopQQv0XLzqyHB5n2e/mGVbgCiefg==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"k8Mee5rUWY7oMR0PoHBMMg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 1.0.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
