interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:34:43 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.file.core.windows.net/share6348110b?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D41E8346E630"']
      Last-Modified: ['Thu, 09 May 2019 01:34:43 GMT']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:34:43 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.file.core.windows.net/share6348110b?restype=share&comp=snapshot
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D41E8346E630"']
      Last-Modified: ['Thu, 09 May 2019 01:34:43 GMT']
      x-ms-snapshot: ['2019-05-09T01:34:43.0000000Z']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:34:43 GMT']
      x-ms-version: ['2018-11-09']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&include=snapshots
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>godirgetpropertiesnegative1120501316000</Name><Properties><Last-Modified>Thu,\
        \ 04 Apr 2019 19:11:20 GMT</Last-Modified><Etag>\"0x8D6B93152518710\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share6348110b</Name><Snapshot>2019-05-09T01:34:43.0000000Z</Snapshot><Properties><Last-Modified>Thu,\
        \ 09 May 2019 01:34:43 GMT</Last-Modified><Etag>\"0x8D6D41E8346E630\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share6348110b</Name><Snapshot>2019-05-09T01:34:44.0000000Z</Snapshot><Properties><Last-Modified>Thu,\
        \ 09 May 2019 01:34:43 GMT</Last-Modified><Etag>\"0x8D6D41E8346E630\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share6348110b</Name><Properties><Last-Modified>Thu,\[...]
