interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:35:36 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container664b164b?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D522E9ACCC5351"']
      Last-Modified: ['Fri, 03 Nov 2017 18:35:36 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-public-access: [blob]
      x-ms-date: ['Fri, 03 Nov 2017 18:35:36 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container664b164b?restype=container&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D522E9ACCC5352"']
      Last-Modified: ['Fri, 03 Nov 2017 18:35:36 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:35:36 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&prefix=container664b164b
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>container664b164b</Prefix><Containers><Container><Name>container664b164b</Name><Properties><Last-Modified>Fri,\
        \ 03 Nov 2017 18:35:36 GMT</Last-Modified><Etag>\"0x8D522E9ACCC5352\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess></Properties></Container></Containers><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
