interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 03 May 2016 20:10:16 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerabb4177f?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3738EF2492F00"']
      Last-Modified: ['Tue, 03 May 2016 20:10:17 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 03 May 2016 20:10:17 GMT']
      x-ms-meta-hello: [world]
      x-ms-meta-number: ['42']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerabb4177f?comp=metadata&restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3738EF2492F01"']
      Last-Modified: ['Tue, 03 May 2016 20:10:17 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 03 May 2016 20:10:17 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&prefix=containerabb4177f&include=metadata
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>containerabb4177f</Prefix><Containers><Container><Name>containerabb4177f</Name><Properties><Last-Modified>Tue,\
        \ 03 May 2016 20:10:17 GMT</Last-Modified><Etag>\"0x8D3738EF2492F01\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties><Metadata><number>42</number><hello>world</hello></Metadata></Container></Containers><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
