interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:36 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue577f1613
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "/Hl8eb16SzHSUbFsrzWUGA==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "zO9DI0R4ZpemhYeZwqRsw4lcsIxM3m+vA5Jb0wbrzBknTLOlggPtXQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "/3eR7mwsaMlg2PNAuiA+Aw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.35.1"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:36 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue577f1613/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>438e073d-6bf6-4b55-8d14-3a4db0fe20c4</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:42:37 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:42:37 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAaXC0QQP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:42:37 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:36 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue577f1613/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>438e073d-6bf6-4b55-8d14-3a4db0fe20c4</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:42:37 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:42:37 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA0bWdUwP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:43:07 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"/Hl8eb16SzHSUbFsrzWUGA==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"zO9DI0R4ZpemhYeZwqRsw4lcsIxM3m+vA5Jb0wbrzBknTLOlggPtXQ==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"/3eR7mwsaMlg2PNAuiA+Aw==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.35.1\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
