interactions:
- request:
    body: !!python/unicode '{"test3": "3", "test2": "value", "test5": "2017-10-02T20:21:26Z",
      "test4": "1234567890", "PartitionKey": "003", "test5@odata.type": "Edm.DateTime",
      "test3@odata.type": "Edm.Int64", "RowKey": "batch_all_operations_together-1",
      "test": "true", "test4@odata.type": "Edm.Int64"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Mon, 02 Oct 2017 20:21:26 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/table9ed31b72
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/table9ed31b72(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')']
      etag: [W/"datetime'2017-10-02T20%3A21%3A27.0411158Z'"]
      location: ['https://storagename.table.core.windows.net/table9ed31b72(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
[...]
- request:
    body: !!python/unicode '--batch_443da480-a7af-11e7-b985-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_443da514-a7af-11e7-8cc5-b8e8564491f6


      --changeset_443da514-a7af-11e7-8cc5-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /table9ed31b72 HTTP/1.1

      Content-ID: 1

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 272


      {"test3": "3", "test2": "value", "test5": "2017-10-02T20:21:26Z", "test4": "1234567890",
      "PartitionKey": "003", "test5@odata.type": "Edm.DateTime", "test3@odata.type":
      "Edm.Int64", "RowKey": "batch_all_operations_together", "test": "true", "test4@odata.type":
      "Edm.Int64"}


      --changeset_443da514-a7af-11e7-8cc5-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      DELETE /table9ed31b72(PartitionKey=''003'',RowKey=''batch_all_operations_together-1'')
      HTTP/1.1

      Content-ID: 2

      If-Match: *

      Accept: application/json;odata=minimalmetadata


      --changeset_443da514-a7af-11e7-8cc5-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /table9ed31b72(PartitionKey=''003'',RowKey=''batch_all_operations_together-2'')
      HTTP/1.1

      Content-ID: 3

      Accept: application/json;odata=minimalmetadata

      If-Match: *

      Content-Type: application/json

      Content-Length: 275


      {"test3": "10", "test2": "value",[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Mon, 02 Oct 2017 20:21:26 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/table9ed31b72()?%24filter=PartitionKey+eq+%27003%27&%24select=
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table9ed31b72&$select=","value":[{"odata.etag":"W/\"datetime''2017-10-02T20%3A21%3A27.2082362Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together","Timestamp":"2017-10-02T20:21:27.2082362Z","test3@odata.type":"Edm.Int64","test3":"3","test2":"value","test5@odata.type":"Edm.DateTime","test5":"2017-10-02T20:21:26Z","test4@odata.type":"Edm.Int64","test4":"1234567890","test":"true"},{"odata.etag":"W/\"datetime''2017-10-02T20%3A21%3A27.4458849Z''\"","PartitionKey":"003","RowKey":"batch_all_operations_together-2","Timestamp":"2017-10-02T20:21:27.4458849Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"10","test4@odata.type":"Edm.Int64"[...]
