interactions:
- request:
    body: '{"married": true, "age": "39", "sex": "male", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "binary@odata.type": "Edm.Binary", "Birthday": "1973-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "RowKey": "unencryptedunencrypted", "PartitionKey": "pk3cc81593",
      "ratio": 3.1, "large@odata.type": "Edm.Int64", "birthday": "1970-10-04T00:00:00Z",
      "deceased": false, "age@odata.type": "Edm.Int64", "clsid@odata.type": "Edm.Guid",
      "evenratio": 3.0, "optional": null, "other": 20, "binary": "YmluYXJ5", "name":
      "John Doe", "large": "933311100", "Birthday@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 10 Aug 2016 18:31:05 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable3cc81593
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable3cc81593(PartitionKey=''pk3cc81593'',RowKey=''unencryptedunencrypted'')']
      ETag: [W/"datetime'2016-08-10T18%3A31%3A04.0023152Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable3cc81593(PartitionKey=''pk3cc81593'',RowKey=''unencryptedunencrypted'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: '{"married": true, "_ClientEncryptionMetadata2@odata.type": "Edm.Binary",
      "_ClientEncryptionMetadata2": "f0cKhwnwRlV0eOcfU+5anQ==", "age": "39", "birthday":
      "1970-10-04T00:00:00Z", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "binary@odata.type":
      "Edm.Binary", "Birthday": "1973-10-04T00:00:00Z", "sex": "pkLwnYk6t+PuaNEh82SWew==",
      "birthday@odata.type": "Edm.DateTime", "RowKey": "rk3cc81593", "PartitionKey":
      "pk3cc81593", "_ClientEncryptionMetadata1": "{\"WrappedContentKey\": {\"KeyId\":
      \"key1\", \"EncryptedKey\": \"JMvOQXyETr7J53Dasa4ej6m0qlws8PwIUsC3tKKiJLfYXD56mYltXw==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"KOW6S7ZqWAIWiq8yP/HS4w==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.33.0\"}}", "large@odata.type": "Edm.Int64",
      "name@odata.type": "Edm.Binary", "ratio": 3.1, "deceased": false, "age@odata.type":
      "Edm.Int64", "clsid@odata.type": "Edm.Guid", "evenratio": 3.0, "sex@odata.type":
      "Edm.Binary", "optional": null, "other": 20, "binary": "YmluYXJ5", "name": "c5gY2C7mvjKyzwp6ZM4OiQ==",
      "large": "933311100", "Birthday@odata.type": "Edm.DateTime"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 10 Aug 2016 18:31:05 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable3cc81593
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable3cc81593(PartitionKey=''pk3cc81593'',RowKey=''rk3cc81593'')']
      ETag: [W/"datetime'2016-08-10T18%3A31%3A04.1303248Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable3cc81593(PartitionKey=''pk3cc81593'',RowKey=''rk3cc81593'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:31:05 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable3cc81593()
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable3cc81593","value":[{"odata.etag":"W/\"datetime''2016-08-10T18%3A31%3A04.1303248Z''\"","PartitionKey":"pk3cc81593","RowKey":"rk3cc81593","Timestamp":"2016-08-10T18:31:04.1303248Z","married":true,"_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"f0cKhwnwRlV0eOcfU+5anQ==","age@odata.type":"Edm.Int64","age":"39","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","sex@odata.type":"Edm.Binary","sex":"pkLwnYk6t+PuaNEh82SWew==","_ClientEncryptionMetad[...]
[...]
