interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:57 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "wEYMxXvhud730oH0rA4Xrw==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "Q90iypVxKJkUZGZ59EBYk6WVXYRAQMsacIXWovpCfKH8BnZlkJm5rQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "oKdRlSDi51SgvvKb2rRDow==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.35.1"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:57 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>34e90845-89ed-4ca8-ac0f-7a0ed1b0ff60</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:42:58 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:42:58 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAkJz3TQP90gE=</PopReceipt><TimeNextVisible>Sat,\
        \ 15 Jul 2017 00:42:58 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:57 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>34e90845-89ed-4ca8-ac0f-7a0ed1b0ff60</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:42:58 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:42:58 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"wEYMxXvhud730oH0rA4Xrw==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"Q90iypVxKJkUZGZ59EBYk6WVXYRAQMsacIXWovpCfKH8BnZlkJm5rQ==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"oKdRlSDi51SgvvKb2rRDow==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.35.1\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 15 Jul 2017 00:42:57 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueue847016ff/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>34e90845-89ed-4ca8-ac0f-7a0ed1b0ff60</MessageId><InsertionTime>Sat,\
        \ 15 Jul 2017 00:42:58 GMT</InsertionTime><ExpirationTime>Sat, 22 Jul 2017\
        \ 00:42:58 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"wEYMxXvhud730oH0rA4Xrw==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"Q90iypVxKJkUZGZ59EBYk6WVXYRAQMsacIXWovpCfKH8BnZlkJm5rQ==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"oKdRlSDi51SgvvKb2rRDow==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.35.1\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
