interactions:
- request:
    body: '{"PartitionKey": "pk3741440", "RowKey": "rk3741440", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "male", "married": true, "deceased": false, "optional":
      null, "ratio": 3.1, "evenratio": 3.0, "large": "933311100", "large@odata.type":
      "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z", "Birthday@odata.type": "Edm.DateTime",
      "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type": "Edm.DateTime", "binary":
      "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "clsid@odata.type": "Edm.Guid"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Thu, 13 Jul 2017 18:53:29 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/table3741440
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/table3741440(PartitionKey=''pk3741440'',RowKey=''rk3741440'')']
      ETag: [W/"datetime'2017-07-13T18%3A53%3A29.738559Z'"]
      Location: ['https://storagename.table.core.windows.net/table3741440(PartitionKey=''pk3741440'',RowKey=''rk3741440'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: '--batch_8faa2c62-67fc-11e7-bfe1-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_8faa2d00-67fc-11e7-b44d-b8e8564491f6


      --changeset_8faa2d00-67fc-11e7-b44d-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /table3741440(PartitionKey=''pk3741440'',RowKey=''rk3741440'') HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      If-Match: W/"datetime''2012-06-15T22%3A51%3A44.9662825Z''"

      Content-Length: 178


      {"PartitionKey": "pk3741440", "RowKey": "rk3741440", "age": "abc", "sex": "female",
      "sign": "aquarius", "birthday": "1991-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime"}


      --changeset_8faa2d00-67fc-11e7-b44d-b8e8564491f6--

      --batch_8faa2c62-67fc-11e7-bfe1-b8e8564491f6--'
    headers:
      Content-Type: [multipart/mixed; boundary=batch_8faa2c62-67fc-11e7-bfe1-b8e8564491f6]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 13 Jul 2017 18:53:29 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: "--batchresponse_8d50a0db-6a15-4553-9c75-6728a93e3222\r\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_2666aa65-909f-430c-adb7-6350248e2746\r\
        \n\r\n--changesetresponse_2666aa65-909f-430c-adb7-6350248e2746\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 412\
        \ Precondition Failed\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\
        \nCache-Control: no-cache\r\nDataServiceVersion: 3.0;\r\nContent-Type: application/json;odata=minimalmetadata;streaming=true;charset=utf-8\r\
        \n\r\n{\"odata.error\":{\"code\":\"UpdateConditionNotSatisfied\",\"message\"\
        :{\"lang\":\"en-US\",\"value\":\"The update condition specified in the request\
        \ was not satisfied.\\nRequestId:f2440b5f-0002-00c3-7c09-fcdd97000000\\nTime:2017-07-13T18:53:29.8226200Z\"\
        }}}\r\n--changesetresponse_2666aa65-909f-430c-adb7-6350248e2746--\r\n--batchresponse_8d50a0db-6a15-4553-9c75-6728a93e3222--\r\
        \n"}
    headers:
      Content-Type: [multipart/mixed; boundary=batchresponse_8d50a0db-6a15-4553-9c75-6728a93e3222]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Thu, 13 Jul 2017 18:53:31 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/table3741440(PartitionKey='pk3741440',RowKey='rk3741440')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table3741440/@Element","odata.etag":"W/\"datetime''2017-07-13T18%3A53%3A29.738559Z''\"","PartitionKey":"pk3741440","RowKey":"rk3741440","Timestamp":"2017-07-13T18:53:29.738559Z","age@odata.type":"Edm.Int64","age":"39","sex":"male","married":true,"deceased":false,"ratio":3.1,"evenratio":3.0,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-07-13T18%3A53%3A29.738559Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
