interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:43 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuea7c20b89
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:44 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuea7c20b89/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>84cf0d9e-7b04-44b7-8157-fec16b161f77</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:19:44 GMT</InsertionTime><ExpirationTime>Thu, 16 May 2019\
        \ 01:19:44 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAADXazSAUG1QE=</PopReceipt><TimeNextVisible>Thu,\
        \ 09 May 2019 01:19:44 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:19:44 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuea7c20b89/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>84cf0d9e-7b04-44b7-8157-fec16b161f77</MessageId><InsertionTime>Thu,\
        \ 09 May 2019 01:19:44 GMT</InsertionTime><ExpirationTime>Thu, 16 May 2019\
        \ 01:19:44 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAugWqWgUG1QE=</PopReceipt><TimeNextVisible>Thu,\
        \ 09 May 2019 01:20:14 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
