interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:29:58 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queueb3920bee
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:29:58 GMT']
      x-ms-version: ['2017-07-29']
    method: POST
    uri: https://storagename.queue.core.windows.net/queueb3920bee/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2204f9b5-9d99-470d-8f70-fb70803bffa6</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:29:58 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:29:58 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAc/p4PNme0wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 05 Feb 2018 23:29:58 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:29:58 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.queue.core.windows.net/queueb3920bee/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2204f9b5-9d99-470d-8f70-fb70803bffa6</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:29:58 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:29:58 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
version: 1
