interactions:
- request:
    body: !!python/unicode '{"TableName": "tablef3d21ca0"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 13 Sep 2017 00:55:30 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/Tables(''tablef3d21ca0'')']
      location: ['https://storagename.table.core.windows.net/Tables(''tablef3d21ca0'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: !!python/unicode '{"TableName": "tablef3d21ca0"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 13 Sep 2017 00:55:30 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: !!python/unicode '{"odata.error":{"code":"TableAlreadyExists","message":{"lang":"en-US","value":"The
        table specified already exists.\nRequestId:a99a4960-0002-001a-132a-2c7bbb000000\nTime:2017-09-13T00:55:30.2373262Z"}}}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 409, message: Conflict}
version: 1
