interactions:
- request:
    body: !!python/unicode '{"TableName": "querytablefcf31465"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 13 Sep 2017 00:59:20 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/Tables(''querytablefcf31465'')']
      location: ['https://storagename.table.core.windows.net/Tables(''querytablefcf31465'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: !!python/unicode '--batch_c69a4f3a-981e-11e7-976f-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_c69a4fdc-981e-11e7-a0ee-b8e8564491f6


      --changeset_c69a4fdc-981e-11e7-a0ee-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytablefcf31465 HTTP/1.1

      Content-ID: 1

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 556


      {"binary": "YmluYXJ5", "age@odata.type": "Edm.Int64", "PartitionKey": "pkfcf31465",
      "ratio": 3.1, "large@odata.type": "Edm.Int64", "age": "39", "married": true,
      "Birthday@odata.type": "Edm.DateTime", "sex": "male", "large": "933311100",
      "birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "evenratio":
      3.0, "RowKey": "rkfcf314651", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "binary@odata.type": "Edm.Binary", "Birthday": "1973-10-04T00:00:00Z", "other":
      20, "optional": null, "clsid@odata.type": "Edm.Guid", "deceased": false}


      --changeset_c69a4fdc-981e-11e7-a0ee-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      POST /querytablefcf31465 HTTP/1.1

      Content-ID: 2

      Prefer: return-no-content

      Accept: application/json;odata=minimalmetadata

      Content-Type: application/json

      Content-Length: 557


      {"binary": "YmluYXJ5", "age@odata.type": "Edm.Int64", "PartitionKey": "pkfcf31465",
      "ratio": 3.1, "large@odata.type": "Edm.Int6[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 13 Sep 2017 00:59:20 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/querytablefcf31465()?%24select=age%2Csex
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#querytablefcf31465&$select=age,sex","value":[{"odata.etag":"W/\"datetime''2017-09-13T00%3A59%3A20.4891025Z''\"","age@odata.type":"Edm.Int64","age":"39","sex":"male"},{"odata.etag":"W/\"datetime''2017-09-13T00%3A59%3A20.4891025Z''\"","age@odata.type":"Edm.Int64","age":"39","sex":"male"}]}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
