interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Jan 2016 21:30:15 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue560410cb
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-04-05']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Jan 2016 21:30:16 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://storagename.queue.core.windows.net/?comp=list&prefix=queue&maxresults=3
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.queue.core.windows.net/\"><Prefix>queue</Prefix><MaxResults>3</MaxResults><Queues><Queue><Name>queue560410cb</Name></Queue><Queue><Name>queue5d6d15d1fc2b49909df3a33f57248b9b</Name></Queue><Queue><Name>queueb3cd0be5</Name></Queue></Queues><NextMarker>/storagename/queuef69d0e02</NextMarker></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Jan 2016 21:30:16 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://storagename.queue.core.windows.net/?comp=list&prefix=queue&marker=%2Fstoragename%2Fqueuef69d0e02&include=metadata
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.queue.core.windows.net/\"><Prefix>queue</Prefix><Marker>/storagename/queuef69d0e02</Marker><Queues\
        \ /><NextMarker /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Jan 2016 21:32:38 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://storagename.queue.core.windows.net/?comp=list&prefix=queue&include=metadata
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.queue.core.windows.net/\"><Prefix>queue</Prefix><Queues><Queue><Name>queue560410cb</Name><Metadata\
        \ /></Queue><Queue><Name>queue5d6d15d1fc2b49909df3a33f57248b9b</Name><Metadata\
        \ /></Queue><Queue><Name>queueb3cd0be5</Name><Metadata /></Queue></Queues><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Jan 2016 22:01:40 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://storagename.queue.core.windows.net/listqueue0560410cb
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-04-05']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Jan 2016 22:01:40 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://storagename.queue.core.windows.net/?comp=list&prefix=listqueue&maxresults=3
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.queue.core.windows.net/\"><Prefix>listqueue</Prefix><MaxResults>3</MaxResults><Queues><Queue><Name>listqueue0560410cb</Name></Queue><Queue><Name>listqueue1560410cb</Name></Queue><Queue><Name>listqueue2560410cb</Name></Queue></Queues><NextMarker>/storagename/listqueue3560410cb</NextMarker></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 25 Jan 2016 22:01:40 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://storagename.queue.core.windows.net/?comp=list&prefix=queue&marker=%2Fstoragename%2Flistqueue3560410cb&include=metadata
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.queue.core.windows.net/\"><Prefix>queue</Prefix><Marker>/storagename/listqueue3560410cb</Marker><Queues><Queue><Name>queue5d6d15d1fc2b49909df3a33f57248b9b</Name><Metadata\
        \ /></Queue><Queue><Name>queueb3cd0be5</Name><Metadata /></Queue></Queues><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
version: 1
