interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:29 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue0509615f0
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>  mess\t
      age1\n</MessageText></QueueMessage>"
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:30 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue0509615f0/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>062d8a02-d48b-471c-b465-cd65b016a636</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:32:30 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:32:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA5ZeQaB0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:32:30 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:32:30 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue0509615f0/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>062d8a02-d48b-471c-b465-cd65b016a636</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:32:30 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:32:30
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAeXCAeh0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:33:00 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>
        \ mess\t age1\n</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 16 Jul 2018 22:50:25 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue0509615f0/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c33acfe2-5fae-46c8-9246-748de53d770d</MessageId><InsertionTime>Mon,
        16 Jul 2018 22:50:25 GMT</InsertionTime><ExpirationTime>Mon, 23 Jul 2018 22:50:25
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA1PtRdFcd1AE=</PopReceipt><TimeNextVisible>Mon,
        16 Jul 2018 22:50:55 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>
        \ mess\t age1\n</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
