interactions:
- request:
    body: '{"TableName": "table967e1246"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 14 Jun 2017 06:20:45 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''table967e1246'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''table967e1246'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: '{"TableName": "table967e1246"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 14 Jun 2017 06:20:45 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: '{"odata.error":{"code":"TableAlreadyExists","message":{"lang":"en-US","value":"The
        table specified already exists.\nRequestId:683c9acc-0002-00bf-64d6-e440a2000000\nTime:2017-06-14T06:20:45.5678187Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 409, message: Conflict}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 14 Jun 2017 06:20:45 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables?%24top=3
  response:
    body: {string: '{"value":[{"TableName":"CAPStable95217c74610847f795a116878ecde584"},{"TableName":"demotable"},{"TableName":"demotable5"}]}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-continuation-NextTableName: [1!48!bGlzdHRhYmxlM2Y1NjEwMDcBMDFkMmU0ZDY1YWMyMTE0YQ--]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
