interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:30:18 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuef853140e
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>message1\u3688\
      </MessageText></QueueMessage>"
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:30:19 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuef853140e/messages
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:30:19 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuef853140e/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>554ae409-d2d3-40cf-9e8e-0e6815cb5fc1</MessageId><InsertionTime>Wed,\
        \ 10 Aug 2016 18:30:17 GMT</InsertionTime><ExpirationTime>Wed, 17 Aug 2016\
        \ 18:30:17 GMT</ExpirationTime><DequeueCount>1</DequeueCount><PopReceipt>AgAAAAMAAAAAAAAAGUdOUDXz0QE=</PopReceipt><TimeNextVisible>Wed,\
        \ 10 Aug 2016 18:30:47 GMT</TimeNextVisible><MessageText>message1\u3688</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
