interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:15:35 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.file.core.windows.net/listshare07d2b16cf?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14A5274C975"']
      Last-Modified: ['Wed, 10 Aug 2016 18:15:34 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:15:35 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&prefix=listshare&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>listshare</Prefix><MaxResults>2</MaxResults><Shares><Share><Name>listshare07d2b16cf</Name><Properties><Last-Modified>Wed,\
        \ 10 Aug 2016 18:15:34 GMT</Last-Modified><Etag>\"0x8D3C14A5274C975\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare17d2b16cf</Name><Properties><Last-Modified>Wed,\
        \ 10 Aug 2016 18:15:34 GMT</Last-Modified><Etag>\"0x8D3C14A527A47F8\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker>/storagename/listshare27d2b16cf</NextMarker></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:15:35 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&marker=%2Fstoragename%2Flistshare27d2b16cf&prefix=listshare&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>listshare</Prefix><Marker>/storagename/listshare27d2b16cf</Marker><MaxResults>2</MaxResults><Shares><Share><Name>listshare27d2b16cf</Name><Properties><Last-Modified>Wed,\
        \ 10 Aug 2016 18:15:34 GMT</Last-Modified><Etag>\"0x8D3C14A5280B0B0\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare37d2b16cf</Name><Properties><Last-Modified>Wed,\
        \ 10 Aug 2016 18:15:34 GMT</Last-Modified><Etag>\"0x8D3C14A5285E0D4\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
