interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 17 Feb 2016 20:04:13 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerabb4177f?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D337D58246C17F"']
      Last-Modified: ['Wed, 17 Feb 2016 20:04:14 GMT']
      x-ms-version: ['2015-04-05']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 17 Feb 2016 20:04:14 GMT']
      x-ms-meta-hello: [world]
      x-ms-meta-number: ['42']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerabb4177f?restype=container&comp=metadata
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D337D5829CA14B"']
      Last-Modified: ['Wed, 17 Feb 2016 20:04:14 GMT']
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 17 Feb 2016 20:04:14 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&prefix=containerabb4177f&include=metadata
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>containerabb4177f</Prefix><Containers><Container><Name>containerabb4177f</Name><Properties><Last-Modified>Wed,\
        \ 17 Feb 2016 20:04:14 GMT</Last-Modified><Etag>\"0x8D337D5829CA14B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties><Metadata><hello>world</hello><number>42</number></Metadata></Container></Containers><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
version: 1
