interactions:
- request:
    body: '{"TableName": "table898d16dd"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 22 Aug 2017 22:08:35 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/Tables(''table898d16dd'')']
      Location: ['https://storagename.table.core.windows.net/Tables(''table898d16dd'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: '{"TableName": "table898d16dd"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 22 Aug 2017 22:08:35 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: '{"odata.error":{"code":"TableAlreadyExists","message":{"lang":"en-US","value":"The
        table specified already exists.\nRequestId:b22eae5c-0002-0040-3993-1b7d3a000000\nTime:2017-08-22T22:08:35.8243983Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 409, message: Conflict}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 22 Aug 2017 22:08:35 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables('table898d16dd')
  response:
    body: {string: '{"TableName":"table898d16dd"}'}
    headers:
      Content-Type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
