interactions:
- request:
    body: '{"sex": "3CDjhCXwZSCyBxHqo6iOug==", "birthday": "1970-10-04T00:00:00Z",
      "other": 20, "binary": "YmluYXJ5", "deceased": false, "_ClientEncryptionMetadata2":
      "dolFrQcUtiwWVV8pOzv2ZA==", "married": true, "age": "39", "RowKey": "rkabdc128f",
      "Birthday": "1973-10-04T00:00:00Z", "optional": null, "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"FEqdV85jtVbr2e8ruMbsLEEBEExg5gZyb7yYWqlld97GPpPsYH5LlA==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"RIE0J/S11G91P00fx2ju7A==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.33.0\"}}", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "birthday@odata.type": "Edm.DateTime", "clsid@odata.type": "Edm.Guid", "PartitionKey":
      "pkabdc128f", "sex@odata.type": "Edm.Binary", "Birthday@odata.type": "Edm.DateTime",
      "large": "933311100", "large@odata.type": "Edm.Int64", "ratio": 3.1, "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "binary@odata.type": "Edm.Binary", "evenratio": 3.0, "name": "John
      Doe", "age@odata.type": "Edm.Int64"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 10 Aug 2016 18:30:50 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/uttableabdc128f
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttableabdc128f(PartitionKey=''pkabdc128f'',RowKey=''rkabdc128f'')']
      ETag: [W/"datetime'2016-08-10T18%3A30%3A47.933818Z'"]
      Location: ['https://storagename.table.core.windows.net/uttableabdc128f(PartitionKey=''pkabdc128f'',RowKey=''rkabdc128f'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:30:50 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.table.core.windows.net/uttableabdc128f(PartitionKey='pkabdc128f',RowKey='rkabdc128f')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableabdc128f/@Element","odata.etag":"W/\"datetime''2016-08-10T18%3A30%3A47.933818Z''\"","PartitionKey":"pkabdc128f","RowKey":"rkabdc128f","Timestamp":"2016-08-10T18:30:47.933818Z","sex@odata.type":"Edm.Binary","sex":"3CDjhCXwZSCyBxHqo6iOug==","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","other":20,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","deceased":false,"_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"dolFrQcUtiwWVV8pOzv2ZA==","married":true,"age@odata.type":"Edm.Int64","age":"39","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"FEqdV85jtVbr2e8ruMbsLEEBEExg5gZyb7yYWqlld97GPpPsYH5LlA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"RIE0J/S11G91P00fx2ju7A==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.33.0\"}}","clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","large@odata.type":"Edm.Int64","large":"933311100","ratio":3.1,"evenratio":3.0,"name":"John
        Doe"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2016-08-10T18%3A30%3A47.933818Z'"]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
