interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:01:56 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerab171296?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D55EBF179D8B26"']
      Last-Modified: ['Thu, 18 Jan 2018 22:01:57 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 18 Jan 2018 22:01:57 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerab171296/a/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D55EBF173E07BB"']
      Last-Modified: ['Thu, 18 Jan 2018 22:01:56 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 18 Jan 2018 22:01:57 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerab171296/b/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D55EBF17511DEB"']
      Last-Modified: ['Thu, 18 Jan 2018 22:01:56 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 18 Jan 2018 22:01:57 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containerab171296/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D55EBF17582404"']
      Last-Modified: ['Thu, 18 Jan 2018 22:01:56 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:01:57 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/containerab171296?restype=container&comp=list&delimiter=%2F
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"containerab171296\"><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>a/</Name></BlobPrefix><BlobPrefix><Name>b/</Name></BlobPrefix><Blob><Name>blob1</Name><Properties><Last-Modified>Thu,
        18 Jan 2018 22:01:56 GMT</Last-Modified><Etag>0x8D55EBF17582404</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
