interactions:
- request:
    body: '{"test": "true", "test3@odata.type": "Edm.Int64", "test5@odata.type": "Edm.DateTime",
      "test3": "3", "test2": "value", "RowKey": "batch_merge", "PartitionKey": "001",
      "test4": "1234567890", "test5": "2016-08-10T18:35:23Z", "test4@odata.type":
      "Edm.Int64"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 10 Aug 2016 18:35:23 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/tablee2da0d47
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'')']
      ETag: [W/"datetime'2016-08-10T18%3A35%3A22.0858603Z'"]
      Location: ['https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:35:23 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey='001',RowKey='batch_merge')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablee2da0d47/@Element","odata.etag":"W/\"datetime''2016-08-10T18%3A35%3A22.0858603Z''\"","PartitionKey":"001","RowKey":"batch_merge","Timestamp":"2016-08-10T18:35:22.0858603Z","test":"true","test3@odata.type":"Edm.Int64","test3":"3","test2":"value","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2016-08-10T18:35:23Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2016-08-10T18%3A35%3A22.0858603Z'"]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
- request:
    body: '--batch_333eb4f1-5f29-11e6-9e7e-0050b66b38e2

      Content-Type: multipart/mixed; boundary=changeset_333eb4f2-5f29-11e6-88db-0050b66b38e2


      --changeset_333eb4f2-5f29-11e6-88db-0050b66b38e2

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      MERGE /tablee2da0d47(PartitionKey=''001'',RowKey=''batch_merge'') HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      If-Match: *

      Content-Length: 67


      {"test2": "value1", "PartitionKey": "001", "RowKey": "batch_merge"}


      --changeset_333eb4f2-5f29-11e6-88db-0050b66b38e2--

      --batch_333eb4f1-5f29-11e6-9e7e-0050b66b38e2--'
    headers:
      Content-Type: [multipart/mixed; boundary=batch_333eb4f1-5f29-11e6-9e7e-0050b66b38e2]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:35:23 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: "--batchresponse_3f808028-79fe-4c9b-8c47-ddd21af75ab7\r\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_c9a8f5f2-9792-416f-8330-5b810eeb5dd1\r\
        \n\r\n--changesetresponse_c9a8f5f2-9792-416f-8330-5b810eeb5dd1\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2016-08-10T18%3A35%3A22.0868603Z'\"\
        \r\n\r\n\r\n--changesetresponse_c9a8f5f2-9792-416f-8330-5b810eeb5dd1--\r\n\
        --batchresponse_3f808028-79fe-4c9b-8c47-ddd21af75ab7--\r\n"}
    headers:
      Content-Type: [multipart/mixed; boundary=batchresponse_3f808028-79fe-4c9b-8c47-ddd21af75ab7]
      x-ms-version: ['2015-07-08']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:35:23 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.table.core.windows.net/tablee2da0d47(PartitionKey='001',RowKey='batch_merge')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablee2da0d47/@Element","odata.etag":"W/\"datetime''2016-08-10T18%3A35%3A22.0868603Z''\"","PartitionKey":"001","RowKey":"batch_merge","Timestamp":"2016-08-10T18:35:22.0868603Z","test":"true","test2":"value1","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2016-08-10T18:35:23Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2016-08-10T18%3A35%3A22.0868603Z'"]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
