interactions:
- request:
    body: '{"married": true, "age@odata.type": "Edm.Int64", "RowKey": "rkafe31baf",
      "other": 20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "Birthday": "1973-10-04T00:00:00Z",
      "name@odata.type": "Edm.Binary", "evenratio": 3.0, "binary@odata.type": "Edm.Binary",
      "_ClientEncryptionMetadata2@odata.type": "Edm.Binary", "birthday": "1970-10-04T00:00:00Z",
      "large@odata.type": "Edm.Int64", "_ClientEncryptionMetadata2": "gH3Q+GrPUl2pQqMFVdBL6A==",
      "binary": "YmluYXJ5", "PartitionKey": "pkafe31baf", "clsid@odata.type": "Edm.Guid",
      "sex": "OJVPajJCXBKanSehC0lrNQ==", "ratio": 3.1, "sex@odata.type": "Edm.Binary",
      "age": "39", "birthday@odata.type": "Edm.DateTime", "optional": null, "name":
      "muIsNlpByJpusCI9hji+uA==", "deceased": false, "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"4hmHFvElG2rEzcJrHcX4ONCPeZQqHgqpam0GFhxmf6itwl5am6D+Kw==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"+h5STxGA/TH21wN+tm9xaw==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.33.0\"}}", "Birthday@odata.type": "Edm.DateTime",
      "large": "933311100"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 10 Aug 2016 18:30:46 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/uttableafe31baf
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttableafe31baf(PartitionKey=''pkafe31baf'',RowKey=''rkafe31baf'')']
      ETag: [W/"datetime'2016-08-10T18%3A30%3A44.2101548Z'"]
      Location: ['https://storagename.table.core.windows.net/uttableafe31baf(PartitionKey=''pkafe31baf'',RowKey=''rkafe31baf'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
version: 1
