interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:30:46 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue6405110f
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:30:46 GMT']
      x-ms-version: ['2018-03-28']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue6405110f/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c3ebaa94-4bae-46cc-a478-54f1606a9677</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:30:47 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:30:47
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAbwEUKx0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:30:47 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:30:47 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue6405110f/messages?numofmessages=4&visibilitytimeout=20
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c3ebaa94-4bae-46cc-a478-54f1606a9677</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:30:47 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:30:47
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAEd06Nx0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:31:07 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>5ad27c66-8224-4209-b8ac-1e7c92b70edb</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:30:47 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:30:47
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAEd06Nx0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:31:07 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>03cf6fbb-5a93-47e3-90d9-61826cc38e46</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:30:47 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:30:47
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAEd06Nx0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:31:07 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>2589a928-3701-41f1-bc5d-4db36af9ddab</MessageId><InsertionTime>Tue,
        19 Jun 2018 22:30:47 GMT</InsertionTime><ExpirationTime>Tue, 26 Jun 2018 22:30:47
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAEd06Nx0I1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Jun 2018 22:31:07 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
