interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:26 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueued9c213ac
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "9bIcTbiWlaB3gxzDMmG6Kw==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "ELR2JDFuyeiB8u9Sj1w/zorUGvhvRujb1AKRC3g/+doR1LniBTQdEQ==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "qL7zc+JAH9N4Q2zQKj0gcQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.36.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 22 Aug 2017 22:07:26 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueued9c213ac/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3e74c4c9-6802-48e3-beef-5f68d8d4f69d</MessageId><InsertionTime>Tue,\
        \ 22 Aug 2017 22:07:26 GMT</InsertionTime><ExpirationTime>Tue, 29 Aug 2017\
        \ 22:07:26 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAASbooCpMb0wE=</PopReceipt><TimeNextVisible>Tue,\
        \ 22 Aug 2017 22:07:26 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
version: 1
