interactions:
- request:
    body: '{"PartitionKey": "pkb1a21c03", "RowKey": "rkb1a21c03", "age": "39", "age@odata.type":
      "Edm.Int64", "sex": "LJ5R4y7gvxM6aOM/XWdMvg==", "sex@odata.type": "Edm.Binary",
      "name": "Jq+69z/xW/GvA/WZ8VIVXA==", "name@odata.type": "Edm.Binary", "married":
      true, "deceased": false, "optional": null, "evenratio": 3.0, "ratio": 3.1, "large":
      "933311100", "large@odata.type": "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z",
      "Birthday@odata.type": "Edm.DateTime", "birthday": "1970-10-04T00:00:00Z", "birthday@odata.type":
      "Edm.DateTime", "binary": "YmluYXJ5", "binary@odata.type": "Edm.Binary", "other":
      20, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833", "clsid@odata.type": "Edm.Guid",
      "_ClientEncryptionMetadata2": "HFGvHDc/qIUGJElnIMGGXw==", "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "_ClientEncryptionMetadata1": "{\"WrappedContentKey\": {\"KeyId\":
      \"key1\", \"EncryptedKey\": \"hgT23K+kAt/MK93oqRcIK8oGgxhwNkbsZJMNC+2xKtLzu40DFWV5JA==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"PcnKDcVk67VcYoSfGgUMqg==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.36.0\"}}"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Tue, 22 Aug 2017 22:08:56 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttableb1a21c03
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttableb1a21c03(PartitionKey=''pkb1a21c03'',RowKey=''rkb1a21c03'')']
      ETag: [W/"datetime'2017-08-22T22%3A08%3A56.1557173Z'"]
      Location: ['https://storagename.table.core.windows.net/uttableb1a21c03(PartitionKey=''pkb1a21c03'',RowKey=''rkb1a21c03'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 22 Aug 2017 22:08:56 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/uttableb1a21c03(PartitionKey='pkb1a21c03',RowKey='rkb1a21c03')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttableb1a21c03/@Element","odata.etag":"W/\"datetime''2017-08-22T22%3A08%3A56.1557173Z''\"","PartitionKey":"pkb1a21c03","RowKey":"rkb1a21c03","Timestamp":"2017-08-22T22:08:56.1557173Z","age@odata.type":"Edm.Int64","age":"39","sex@odata.type":"Edm.Binary","sex":"LJ5R4y7gvxM6aOM/XWdMvg==","name@odata.type":"Edm.Binary","name":"Jq+69z/xW/GvA/WZ8VIVXA==","married":true,"deceased":false,"evenratio":3.0,"ratio":3.1,"large@odata.type":"Edm.Int64","large":"933311100","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","other":20,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"HFGvHDc/qIUGJElnIMGGXw==","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"hgT23K+kAt/MK93oqRcIK8oGgxhwNkbsZJMNC+2xKtLzu40DFWV5JA==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"PcnKDcVk67VcYoSfGgUMqg==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.36.0\"}}"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-08-22T22%3A08%3A56.1557173Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
