interactions:
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 18 Jan 2018 21:59:15 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainerf9461458/rehydration_test_blob_1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D55EBEB7C4B661"']
      Last-Modified: ['Thu, 18 Jan 2018 21:59:16 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-access-tier: [Archive]
      x-ms-date: ['Thu, 18 Jan 2018 21:59:16 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainerf9461458/rehydration_test_blob_1?comp=tier
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 21:59:16 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://blobstoragename.blob.core.windows.net/utcontainerf9461458/rehydration_test_blob_1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D55EBEB7C4B661"']
      Last-Modified: ['Thu, 18 Jan 2018 21:59:16 GMT']
      x-ms-access-tier: [Archive]
      x-ms-access-tier-change-time: ['Thu, 18 Jan 2018 21:59:16 GMT']
      x-ms-archive-status: [rehydrate-pending-to-cool]
      x-ms-blob-type: [BlockBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 21:59:16 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainerf9461458?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"utcontainerf9461458\"><Blobs><Blob><Name>rehydration_test_blob_1</Name><Properties><Last-Modified>Thu,
        18 Jan 2018 21:59:16 GMT</Last-Modified><Etag>0x8D55EBEB7C4B661</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Archive</AccessTier><ArchiveStatus>rehydrate-pending-to-cool</ArchiveStatus><AccessTierChangeTime>Thu,
        18 Jan 2018 21:59:16 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 21:59:16 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainerf9461458?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"utcontainerf9461458\"><Blobs><Blob><Name>rehydration_test_blob_2</Name><Properties><Last-Modified>Thu,
        18 Jan 2018 21:59:16 GMT</Last-Modified><Etag>0x8D55EBEB82250D6</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Archive</AccessTier><ArchiveStatus>rehydrate-pending-to-hot</ArchiveStatus><AccessTierChangeTime>Thu,
        18 Jan 2018 21:59:17 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
