interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 13 Sep 2017 00:53:35 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue32150fb3
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 13 Sep 2017 00:53:36 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue32150fb3/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>095da585-5184-4d74-b5c5-e1aa1e65a6a0</MessageId><InsertionTime>Wed,\
        \ 13 Sep 2017 00:53:35 GMT</InsertionTime><ExpirationTime>Wed, 20 Sep 2017\
        \ 00:53:35 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAQ1feuios0wE=</PopReceipt><TimeNextVisible>Wed,\
        \ 13 Sep 2017 00:53:35 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 13 Sep 2017 00:53:36 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue32150fb3/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>095da585-5184-4d74-b5c5-e1aa1e65a6a0</MessageId><InsertionTime>Wed,\
        \ 13 Sep 2017 00:53:35 GMT</InsertionTime><ExpirationTime>Wed, 20 Sep 2017\
        \ 00:53:35 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA/DzGzCos0wE=</PopReceipt><TimeNextVisible>Wed,\
        \ 13 Sep 2017 00:54:05 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new text</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 13 Sep 2017 00:53:36 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue32150fb3/messages/095da585-5184-4d74-b5c5-e1aa1e65a6a0?popreceipt=AgAAAAMAAAAAAAAA%2FDzGzCos0wE%3D&visibilitytimeout=0
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAAvLvxuios0wEBAAAA]
      x-ms-time-next-visible: ['Wed, 13 Sep 2017 00:53:36 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 13 Sep 2017 00:53:36 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue32150fb3/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>095da585-5184-4d74-b5c5-e1aa1e65a6a0</MessageId><InsertionTime>Wed,\
        \ 13 Sep 2017 00:53:35 GMT</InsertionTime><ExpirationTime>Wed, 20 Sep 2017\
        \ 00:53:35 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAKyzZzCos0wE=</PopReceipt><TimeNextVisible>Wed,\
        \ 13 Sep 2017 00:54:06 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>new\
        \ text</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
