interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:34:45 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.file.core.windows.net/sharebd7817d1?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D41E84BD1976"']
      Last-Modified: ['Thu, 09 May 2019 01:34:46 GMT']
      x-ms-version: ['2018-11-09']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>empty</Id><AccessPolicy /></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:34:46 GMT']
      x-ms-version: ['2018-11-09']
    method: PUT
    uri: https://storagename.file.core.windows.net/sharebd7817d1?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D6D41E84E9E9BC"']
      Last-Modified: ['Thu, 09 May 2019 01:34:46 GMT']
      x-ms-version: ['2018-11-09']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 09 May 2019 01:34:46 GMT']
      x-ms-version: ['2018-11-09']
    method: GET
    uri: https://storagename.file.core.windows.net/sharebd7817d1?restype=share&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>empty</Id></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D6D41E84E9E9BC"']
      Last-Modified: ['Thu, 09 May 2019 01:34:46 GMT']
      x-ms-version: ['2018-11-09']
    status: {code: 200, message: OK}
version: 1
