interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:18:54 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue0509615f0
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: "<?xml version='1.0' encoding='utf-8'?>\n<QueueMessage><MessageText>  mess\t\
      \ age1\n</MessageText></QueueMessage>"
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:18:55 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue0509615f0/messages
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:18:55 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue0509615f0/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a3bafa17-2304-40a0-a1d9-9427c6ca591d</MessageId><InsertionTime>Wed,\
        \ 10 Aug 2016 18:18:53 GMT</InsertionTime><ExpirationTime>Wed, 17 Aug 2016\
        \ 18:18:53 GMT</ExpirationTime><DequeueCount>1</DequeueCount><PopReceipt>AgAAAAMAAAAAAAAAcwaduDPz0QE=</PopReceipt><TimeNextVisible>Wed,\
        \ 10 Aug 2016 18:19:23 GMT</TimeNextVisible><MessageText>  mess\t age1\n</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
