interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:20:56 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "rTsVOaKrVMdDht9azQwU7rHrggDyoIQUf+wOhJIO7a0=",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "7lIOhnb+KaRpNGEvw/IkYuMQTeHHbIs85nTOmCQV7ukCup5Y+J1dXg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "2TufAMBFicp39Bxa/dcj/A==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.37.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:20:57 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>00a69b92-b6bc-458f-8853-e793d4d71e7d</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:20:58 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:20:58 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABLso9bs70wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 02 Oct 2017 20:20:58 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:20:57 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuec9311831/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>00a69b92-b6bc-458f-8853-e793d4d71e7d</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:20:58 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:20:58 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAK24WB7w70wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 02 Oct 2017 20:21:28 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"rTsVOaKrVMdDht9azQwU7rHrggDyoIQUf+wOhJIO7a0=\"\
        , \"EncryptionData\": {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\"\
        : \"7lIOhnb+KaRpNGEvw/IkYuMQTeHHbIs85nTOmCQV7ukCup5Y+J1dXg==\", \"Algorithm\"\
        : \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\"\
        : \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"2TufAMBFicp39Bxa/dcj/A==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.37.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
