interactions:
- request:
    body: '{"TableName": "\u554a\u9f44\u4e02\u72db\u72dc"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Thu, 13 Jul 2017 18:53:21 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: '{"odata.error":{"code":"InvalidResourceName","message":{"lang":"en-US","value":"The
        specifed resource name contains invalid characters.\nRequestId:b4d5d8b1-0002-00d0-7009-fce876000000\nTime:2017-07-13T18:53:21.6026977Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      Preference-Applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 400, message: Bad Request}
version: 1
