interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:05:46 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere54813d5?restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4E68DA9433ED3"']
      last-modified: ['Fri, 18 Aug 2017 23:05:47 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'hello world'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Fri, 18 Aug 2017 23:05:47 GMT']
      x-ms-meta-status: [original]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere54813d5/blob1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [XrY7u+Ae7tCTyyK7j1rNww==]
      etag: ['"0x8D4E68DA932B8BC"']
      last-modified: ['Fri, 18 Aug 2017 23:05:46 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://xclientdev3.blob.core.windows.net/containere54813d5/blob1']
      x-ms-date: ['Fri, 18 Aug 2017 23:05:47 GMT']
      x-ms-meta-status: [copy]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/containere54813d5/blob1copy
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4E68DA93AA96B"']
      last-modified: ['Fri, 18 Aug 2017 23:05:47 GMT']
      x-ms-copy-id: [afc5a805-7065-47f5-a523-655e49287eea]
      x-ms-copy-status: [success]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:05:47 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/containere54813d5?comp=list&include=copy&restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"\
        containere54813d5\"><Blobs><Blob><Name>blob1</Name><Properties><Last-Modified>Fri,\
        \ 18 Aug 2017 23:05:46 GMT</Last-Modified><Etag>0x8D4E68DA932B8BC</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>blob1copy</Name><Properties><Last-Modified>Fri,\
        \ 18 Aug 2017 23:05:47 GMT</Last-Modified><Etag>0x8D4E68DA93AA96B</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><CopyId>afc5a805-7065-47f5-a523-655e49287eea</CopyId><CopySource>https://storagename.blob.core.windows.net/containere54813d5/blob1</CopySource><CopyStatus>success</CopyStatus><CopyProgress>11/11</CopyProgress><CopyCompletionTime>Fri,\
        \ 18 Aug 2017 23:05:47 GMT</CopyCompletionTime><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
