interactions:
- request:
    body: null
    headers:
      x-ms-blob-content-length: ['8796093022209']
      x-ms-blob-type: [PageBlob]
      x-ms-date: ['Mon, 05 Feb 2018 23:24:40 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer2aa214c8/blob2aa214c8
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The\
        \ value for one of the HTTP headers is not in the correct format.\nRequestId:053d7b42-001e-00ca-31d8-9ec719000000\n\
        Time:2018-02-05T23:24:40.4262576Z</Message><HeaderName>x-ms-blob-content-length</HeaderName><HeaderValue>8796093022209</HeaderValue></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [InvalidHeaderValue]
      x-ms-version: ['2017-07-29']
    status: {code: 400, message: The value for one of the HTTP headers is not in the
        correct format.}
version: 1
