interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:34:36 GMT']
      x-ms-version: ['2017-11-09']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue74f61174
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-11-09']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:34:36 GMT']
      x-ms-version: ['2017-11-09']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue74f61174/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f9fefa1c-8e7a-457c-8f8c-b548b2dd9fdb</MessageId><InsertionTime>Tue,
        22 May 2018 23:34:36 GMT</InsertionTime><ExpirationTime>Tue, 29 May 2018 23:34:36
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAOAkiciXy0wE=</PopReceipt><TimeNextVisible>Tue,
        22 May 2018 23:34:36 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-11-09']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 22 May 2018 23:34:36 GMT']
      x-ms-version: ['2017-11-09']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue74f61174/messages?peekonly=true&numofmessages=4
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f9fefa1c-8e7a-457c-8f8c-b548b2dd9fdb</MessageId><InsertionTime>Tue,
        22 May 2018 23:34:36 GMT</InsertionTime><ExpirationTime>Tue, 29 May 2018 23:34:36
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>b400401e-2895-4590-b726-f0ed95559830</MessageId><InsertionTime>Tue,
        22 May 2018 23:34:36 GMT</InsertionTime><ExpirationTime>Tue, 29 May 2018 23:34:36
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>aeb101d2-578e-4d4c-a962-4bf1e03d0b9f</MessageId><InsertionTime>Tue,
        22 May 2018 23:34:36 GMT</InsertionTime><ExpirationTime>Tue, 29 May 2018 23:34:36
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>27056f05-4666-4e99-bed2-2030ee399c80</MessageId><InsertionTime>Tue,
        22 May 2018 23:34:36 GMT</InsertionTime><ExpirationTime>Tue, 29 May 2018 23:34:36
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-11-09']
    status: {code: 200, message: OK}
version: 1
