interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:53:09 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4CA2067D7F7D1"']
      Last-Modified: ['Thu, 13 Jul 2017 18:53:09 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2017-07-13T18:52:09Z</Start><Expiry>2017-07-13T19:53:09Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:53:09 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4CA2067DC1AC6"']
      Last-Modified: ['Thu, 13 Jul 2017 18:53:09 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:53:10 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/share492a15b6?restype=share&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2017-07-13T18:52:09.0000000Z</Start><Expiry>2017-07-13T19:53:09.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D4CA2067DC1AC6"']
      Last-Modified: ['Thu, 13 Jul 2017 18:53:09 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
