interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:30:20 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.file.core.windows.net/listshare07d2b16cf?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D5D6343DFF6BAD"']
      Last-Modified: ['Tue, 19 Jun 2018 22:30:20 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:30:21 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&prefix=listshare&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>listshare</Prefix><MaxResults>2</MaxResults><Shares><Share><Name>listshare07d2b16cf</Name><Properties><Last-Modified>Tue,
        19 Jun 2018 22:30:20 GMT</Last-Modified><Etag>\"0x8D5D6343DFF6BAD\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare17d2b16cf</Name><Properties><Last-Modified>Tue,
        19 Jun 2018 22:30:21 GMT</Last-Modified><Etag>\"0x8D5D6343E0FBF75\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker>/storagename/listshare27d2b16cf</NextMarker></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:30:21 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&prefix=listshare&marker=%2Fstoragename%2Flistshare27d2b16cf&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>listshare</Prefix><Marker>/storagename/listshare27d2b16cf</Marker><MaxResults>2</MaxResults><Shares><Share><Name>listshare27d2b16cf</Name><Properties><Last-Modified>Tue,
        19 Jun 2018 22:30:21 GMT</Last-Modified><Etag>\"0x8D5D6343E1F76F6\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare37d2b16cf</Name><Properties><Last-Modified>Tue,
        19 Jun 2018 22:30:21 GMT</Last-Modified><Etag>\"0x8D5D6343E2EB931\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 16 Jul 2018 22:48:23 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&prefix=listshare&marker=%2Fstoragename%2Flistshare27d2b16cf&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>listshare</Prefix><Marker>/storagename/listshare27d2b16cf</Marker><MaxResults>2</MaxResults><Shares><Share><Name>listshare27d2b16cf</Name><Properties><Last-Modified>Mon,
        16 Jul 2018 22:48:23 GMT</Last-Modified><Etag>\"0x8D5EB6E3C70DC2C\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>listshare37d2b16cf</Name><Properties><Last-Modified>Mon,
        16 Jul 2018 22:48:23 GMT</Last-Modified><Etag>\"0x8D5EB6E3C850053\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
version: 1
