interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:12:12 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:12:12 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>267cd4c2-73f3-4e23-ad3e-7c50a1b8867f</MessageId><InsertionTime>Fri,\
        \ 18 Aug 2017 23:12:12 GMT</InsertionTime><ExpirationTime>Fri, 25 Aug 2017\
        \ 23:12:12 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAFNhwbHcY0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 18 Aug 2017 23:12:12 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:12:12 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>267cd4c2-73f3-4e23-ad3e-7c50a1b8867f</MessageId><InsertionTime>Fri,\
        \ 18 Aug 2017 23:12:12 GMT</InsertionTime><ExpirationTime>Fri, 25 Aug 2017\
        \ 23:12:12 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAgkhYfncY0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 18 Aug 2017 23:12:42 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
