interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:04:05 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename-secondary.blob.core.windows.net/?restype=service&comp=stats
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Thu,
        18 Jan 2018 22:01:40 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
