interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:14:33 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "pJZ6lE6AW58M0gxickA2eg==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "3FAgTBtJEgKQTKfeTr49gebXOw8D3K4IH7Cmqsjr19kFy2wQuVy3Dg==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "Qh7u1EpcKbnBBgzKQWYxDQ==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.37.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:14:43 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>182f8f72-dfd8-48e8-80e4-afcd7c13b0c3</MessageId><InsertionTime>Wed,\
        \ 04 Oct 2017 00:14:43 GMT</InsertionTime><ExpirationTime>Wed, 11 Oct 2017\
        \ 00:14:43 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA1v0px6U80wE=</PopReceipt><TimeNextVisible>Wed,\
        \ 04 Oct 2017 00:14:43 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:14:43 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>182f8f72-dfd8-48e8-80e4-afcd7c13b0c3</MessageId><InsertionTime>Wed,\
        \ 04 Oct 2017 00:14:43 GMT</InsertionTime><ExpirationTime>Wed, 11 Oct 2017\
        \ 00:14:43 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAGiAR2aU80wE=</PopReceipt><TimeNextVisible>Wed,\
        \ 04 Oct 2017 00:15:13 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"pJZ6lE6AW58M0gxickA2eg==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"3FAgTBtJEgKQTKfeTr49gebXOw8D3K4IH7Cmqsjr19kFy2wQuVy3Dg==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"Qh7u1EpcKbnBBgzKQWYxDQ==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.37.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "bMDNuEOPIJ7GtlH4gAF2WA==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "4IUHwZkWAj0WQINI4Iyg0VVjWizeql1Y3Js/tVj1Z1NqM7GFXLsNSw==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "c3CA7T4pwjK/zWf8YUuttw==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.37.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:14:43 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages/182f8f72-dfd8-48e8-80e4-afcd7c13b0c3?popreceipt=AgAAAAMAAAAAAAAAGiAR2aU80wE%3D&visibilitytimeout=0
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-popreceipt: [AwAAAAMAAAAAAAAA3p48x6U80wEBAAAA]
      x-ms-time-next-visible: ['Wed, 04 Oct 2017 00:14:43 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:14:43 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuefc3a18fd/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>182f8f72-dfd8-48e8-80e4-afcd7c13b0c3</MessageId><InsertionTime>Wed,\
        \ 04 Oct 2017 00:14:43 GMT</InsertionTime><ExpirationTime>Wed, 11 Oct 2017\
        \ 00:14:43 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAH8Ej2aU80wE=</PopReceipt><TimeNextVisible>Wed,\
        \ 04 Oct 2017 00:15:13 GMT</TimeNextVisible><DequeueCount>2</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"bMDNuEOPIJ7GtlH4gAF2WA==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"4IUHwZkWAj0WQINI4Iyg0VVjWizeql1Y3Js/tVj1Z1NqM7GFXLsNSw==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"c3CA7T4pwjK/zWf8YUuttw==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.37.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
