interactions:
- request:
    body: '{"sex": "zw9KNZzY1Qh5EqCWIMmbXA==", "large@odata.type": "Edm.Int64", "deceased":
      false, "binary": "YmluYXJ5", "name@odata.type": "Edm.Binary", "birthday@odata.type":
      "Edm.DateTime", "clsid@odata.type": "Edm.Guid", "large": "933311100", "other":
      20, "age": "39", "married": true, "Birthday@odata.type": "Edm.DateTime", "sex@odata.type":
      "Edm.Binary", "RowKey": "rk15071980", "evenratio": 3.0, "_ClientEncryptionMetadata2@odata.type":
      "Edm.Binary", "age@odata.type": "Edm.Int64", "binary@odata.type": "Edm.Binary",
      "birthday": "1970-10-04T00:00:00Z", "Birthday": "1973-10-04T00:00:00Z", "PartitionKey":
      "pk15071980", "_ClientEncryptionMetadata2": "no255kQ+cTfknnZYfy9zfQ==", "_ClientEncryptionMetadata1":
      "{\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"AnfwlEBG9UaARdhlStw3TpVYknWNXLlNXR5ixYb8z6CjzyWkjjAr6A==\",
      \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
      \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"eg8E7M8QzPqu6pvnTjausw==\", \"KeyWrappingMetadata\":
      {\"EncryptionLibrary\": \"Python 0.34.0\"}}", "optional": null, "name": "MA77qpUtChWBssHVuwLS2A==",
      "ratio": 3.1, "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 17 Feb 2017 00:52:04 GMT']
      x-ms-version: ['2016-05-31']
    method: POST
    uri: https://storagename.table.core.windows.net/uttable15071980
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttable15071980(PartitionKey=''pk15071980'',RowKey=''rk15071980'')']
      ETag: [W/"datetime'2017-02-17T00%3A52%3A04.831361Z'"]
      Location: ['https://storagename.table.core.windows.net/uttable15071980(PartitionKey=''pk15071980'',RowKey=''rk15071980'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2016-05-31']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Fri, 17 Feb 2017 00:52:05 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.table.core.windows.net/uttable15071980(PartitionKey='pk15071980',RowKey='rk15071980')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#uttable15071980/@Element","odata.etag":"W/\"datetime''2017-02-17T00%3A52%3A04.831361Z''\"","PartitionKey":"pk15071980","RowKey":"rk15071980","Timestamp":"2017-02-17T00:52:04.831361Z","sex@odata.type":"Edm.Binary","sex":"zw9KNZzY1Qh5EqCWIMmbXA==","deceased":false,"binary@odata.type":"Edm.Binary","binary":"YmluYXJ5","large@odata.type":"Edm.Int64","large":"933311100","other":20,"age@odata.type":"Edm.Int64","age":"39","married":true,"evenratio":3.0,"birthday@odata.type":"Edm.DateTime","birthday":"1970-10-04T00:00:00Z","Birthday@odata.type":"Edm.DateTime","Birthday":"1973-10-04T00:00:00Z","_ClientEncryptionMetadata2@odata.type":"Edm.Binary","_ClientEncryptionMetadata2":"no255kQ+cTfknnZYfy9zfQ==","_ClientEncryptionMetadata1":"{\"WrappedContentKey\":
        {\"KeyId\": \"key1\", \"EncryptedKey\": \"AnfwlEBG9UaARdhlStw3TpVYknWNXLlNXR5ixYb8z6CjzyWkjjAr6A==\",
        \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\", \"EncryptionAlgorithm\":
        \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"eg8E7M8QzPqu6pvnTjausw==\", \"KeyWrappingMetadata\":
        {\"EncryptionLibrary\": \"Python 0.34.0\"}}","name@odata.type":"Edm.Binary","name":"MA77qpUtChWBssHVuwLS2A==","ratio":3.1,"clsid@odata.type":"Edm.Guid","clsid":"c9da6455-213d-42c9-9a79-3e9149a57833"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-02-17T00%3A52%3A04.831361Z'"]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
version: 1
