interactions:
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-date: ['Tue, 21 Jul 2015 20:09:45 GMT']
      x-ms-version: ['2014-02-14']
    method: PUT
    uri: https://storagename.file.core.windows.net/utshare7893169d?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D2920852B4CB99"']
      Last-Modified: ['Tue, 21 Jul 2015 20:09:45 GMT']
      x-ms-version: ['2014-02-14']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/octet-stream Charset=UTF-8]
      x-ms-date: ['Tue, 21 Jul 2015 20:09:45 GMT']
      x-ms-version: ['2014-02-14']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Shares><Share><Name>$logs</Name><Properties><Last-Modified>Mon,\
        \ 10 Nov 2014 22:36:26 GMT</Last-Modified><Etag>\"0x8D1CB4DE5B49FDE\"</Etag></Properties></Share><Share><Name>2780622b299649158475bc9d5bb09ab9</Name><Properties><Last-Modified>Thu,\
        \ 19 Jun 2014 17:46:18 GMT</Last-Modified><Etag>\"0x8D159FD8292D1E9\"</Etag></Properties></Share><Share><Name>2d3e030336734030b21aba91438b9027</Name><Properties><Last-Modified>Thu,\
        \ 06 Nov 2014 01:12:58 GMT</Last-Modified><Etag>\"0x8D1C775EFE96E34\"</Etag></Properties></Share><Share><Name>49279a13c7144d6095de87efd0738b9d</Name><Properties><Last-M[...]
[...]
