interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:01:41 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainera2741b59?restype=container
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4E68D1722DCA9"']
      last-modified: ['Fri, 18 Aug 2017 23:01:41 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-content-length: ['2048']
      x-ms-blob-type: [PageBlob]
      x-ms-date: ['Fri, 18 Aug 2017 23:01:42 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainera2741b59/blob1
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D4E68D17454B69"']
      last-modified: ['Fri, 18 Aug 2017 23:01:42 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'abcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnopabcdefghijklmnop'
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:01:42 GMT']
      x-ms-page-write: [update]
      x-ms-range: [bytes=0-511]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainera2741b59/blob1?comp=page
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-md5: [pTsTLZHyQ+et6NksJ1OHxg==]
      etag: ['"0x8D4E68D174B4002"']
      last-modified: ['Fri, 18 Aug 2017 23:01:42 GMT']
      x-ms-blob-sequence-number: ['0']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 18 Aug 2017 23:01:42 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://storagename.blob.core.windows.net/utcontainera2741b59/blob1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D4E68D17510D59"']
      last-modified: ['Fri, 18 Aug 2017 23:01:42 GMT']
      x-ms-blob-sequence-number: ['0']
      x-ms-blob-type: [PageBlob]
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      If-Match: ['"0x8D4E68D17510D59"']
      x-ms-date: ['Fri, 18 Aug 2017 23:01:42 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainera2741b59/blob1?comp=pagelist
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><PageRange><Start>0</Start><End>511</End></PageRange><PageRange><Start>1024</Start><End>1535</End></PageRange></PageList>"}
    headers:
      content-type: [application/xml]
      etag: ['"0x8D4E68D17510D59"']
      last-modified: ['Fri, 18 Aug 2017 23:01:42 GMT']
      x-ms-blob-content-length: ['2048']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
