interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Sep 2017 07:40:09 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/sharef877141f?restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5018D27503C49"']
      last-modified: ['Fri, 22 Sep 2017 07:40:10 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Sep 2017 07:40:10 GMT']
      x-ms-meta-hello: [world]
      x-ms-meta-number: ['42']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/sharef877141f?comp=metadata&restype=share
  response:
    body: {string: !!python/unicode ''}
    headers:
      etag: ['"0x8D5018D27503C4A"']
      last-modified: ['Fri, 22 Sep 2017 07:40:10 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 22 Sep 2017 07:40:10 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/?comp=list&prefix=sharef877141f&include=metadata
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\"><Prefix>sharef877141f</Prefix><Shares><Share><Name>sharef877141f</Name><Properties><Last-Modified>Fri,\
        \ 22 Sep 2017 07:40:10 GMT</Last-Modified><Etag>\"0x8D5018D27503C4A\"</Etag><Quota>5120</Quota></Properties><Metadata><hello>world</hello><number>42</number></Metadata></Share></Shares><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
