interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 17 Feb 2016 20:02:47 GMT']
      x-ms-version: ['2015-04-05']
    method: PUT
    uri: https://storagename.blob.core.windows.net/listcontainer044a81a2f?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D337D54E59D50C"']
      Last-Modified: ['Wed, 17 Feb 2016 20:02:47 GMT']
      x-ms-version: ['2015-04-05']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 17 Feb 2016 20:02:48 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&prefix=listcontainer&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>listcontainer</Prefix><MaxResults>2</MaxResults><Containers><Container><Name>listcontainer044a81a2f</Name><Properties><Last-Modified>Wed,\
        \ 17 Feb 2016 20:02:47 GMT</Last-Modified><Etag>\"0x8D337D54E59D50C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container><Container><Name>listcontainer144a81a2f</Name><Properties><Last-Modified>Wed,\
        \ 17 Feb 2016 20:02:47 GMT</Last-Modified><Etag>\"0x8D337D54E61283D\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container></Containers><NextMarker>/storagename/listcontainer244a81a2f</NextMarker></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 17 Feb 2016 20:02:48 GMT']
      x-ms-version: ['2015-04-05']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&prefix=listcontainer&marker=%2Fstoragename%2Flistcontainer244a81a2f&maxresults=2
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>listcontainer</Prefix><Marker>/storagename/listcontainer244a81a2f</Marker><MaxResults>2</MaxResults><Containers><Container><Name>listcontainer244a81a2f</Name><Properties><Last-Modified>Wed,\
        \ 17 Feb 2016 20:02:47 GMT</Last-Modified><Etag>\"0x8D337D54E6742E3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container><Container><Name>listcontainer344a81a2f</Name><Properties><Last-Modified>Wed,\
        \ 17 Feb 2016 20:02:47 GMT</Last-Modified><Etag>\"0x8D337D54E8293CE\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container></Containers><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-04-05']
    status: {code: 200, message: OK}
version: 1
