interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:10:08 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:10:09 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>eb735bd7-9420-4913-83c7-9624a2eef692</MessageId><InsertionTime>Thu,
        18 Jan 2018 22:10:10 GMT</InsertionTime><ExpirationTime>Thu, 25 Jan 2018 22:10:10
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAo44lG6mQ0wE=</PopReceipt><TimeNextVisible>Thu,
        18 Jan 2018 22:10:10 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 18 Jan 2018 22:10:09 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/mytestqueue075b91164/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>eb735bd7-9420-4913-83c7-9624a2eef692</MessageId><InsertionTime>Thu,
        18 Jan 2018 22:10:10 GMT</InsertionTime><ExpirationTime>Thu, 25 Jan 2018 22:10:10
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAxGwRLamQ0wE=</PopReceipt><TimeNextVisible>Thu,
        18 Jan 2018 22:10:40 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>&amp;lt;message1&amp;gt;</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
