interactions:
- request:
    body: null
    headers:
      x-ms-blob-content-length: ['8796093022209']
      x-ms-blob-type: [PageBlob]
      x-ms-date: ['Sat, 15 Jul 2017 00:40:36 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer2aa214c8/blob2aa214c8
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The\
        \ value for one of the HTTP headers is not in the correct format.\nRequestId:d6371f63-0001-0108-5a02-fd09f2000000\n\
        Time:2017-07-15T00:40:37.6859388Z</Message><HeaderName>x-ms-blob-content-length</HeaderName><HeaderValue>8796093022209</HeaderValue></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 400, message: The value for one of the HTTP headers is not in the
        correct format.}
version: 1
