interactions:
- request:
    body: !!python/unicode '{"test3": "3", "test2": "value", "test5": "2017-09-13T00:55:38Z",
      "test4": "1234567890", "PartitionKey": "001", "test5@odata.type": "Edm.DateTime",
      "test3@odata.type": "Edm.Int64", "RowKey": "batch_delete", "test": "true", "test4@odata.type":
      "Edm.Int64"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 13 Sep 2017 00:55:38 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/tablef0500daa
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/tablef0500daa(PartitionKey=''001'',RowKey=''batch_delete'')']
      etag: [W/"datetime'2017-09-13T00%3A55%3A38.767046Z'"]
      location: ['https://storagename.table.core.windows.net/tablef0500daa(PartitionKey=''001'',RowKey=''batch_delete'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 13 Sep 2017 00:55:38 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/tablef0500daa(PartitionKey='001',RowKey='batch_delete')
  response:
    body: {string: !!python/unicode '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#tablef0500daa/@Element","odata.etag":"W/\"datetime''2017-09-13T00%3A55%3A38.767046Z''\"","PartitionKey":"001","RowKey":"batch_delete","Timestamp":"2017-09-13T00:55:38.767046Z","test3@odata.type":"Edm.Int64","test3":"3","test2":"value","test5@odata.type":"Edm.DateTime","test5":"2017-09-13T00:55:38Z","test4@odata.type":"Edm.Int64","test4":"1234567890","test":"true"}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      etag: [W/"datetime'2017-09-13T00%3A55%3A38.767046Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '--batch_427e999c-981e-11e7-8eae-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_427e9a1e-981e-11e7-b0bb-b8e8564491f6


      --changeset_427e9a1e-981e-11e7-b0bb-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      DELETE /tablef0500daa(PartitionKey=''001'',RowKey=''batch_delete'') HTTP/1.1

      Content-ID: 1

      If-Match: *

      Accept: application/json;odata=minimalmetadata


      --changeset_427e9a1e-981e-11e7-b0bb-b8e8564491f6--

      --batch_427e999c-981e-11e7-8eae-b8e8564491f6--'
    headers:
      Content-Type: [!!python/unicode 'multipart/mixed; boundary=batch_427e999c-981e-11e7-8eae-b8e8564491f6']
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 13 Sep 2017 00:55:39 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: !!python/unicode "--batchresponse_d7f48bfe-0d31-4deb-a146-fee129bc5848\r\
        \nContent-Type: multipart/mixed; boundary=changesetresponse_a61c0f4e-1182-42ca-81f9-a711787861ac\r\
        \n\r\n--changesetresponse_a61c0f4e-1182-42ca-81f9-a711787861ac\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\n\r\n\r\n--changesetresponse_a61c0f4e-1182-42ca-81f9-a711787861ac--\r\
        \n--batchresponse_d7f48bfe-0d31-4deb-a146-fee129bc5848--\r\n"}
    headers:
      content-type: [multipart/mixed; boundary=batchresponse_d7f48bfe-0d31-4deb-a146-fee129bc5848]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
version: 1
