interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 03 May 2016 20:07:25 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename-secondary.blob.core.windows.net/?restype=service&comp=stats
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Tue,\
        \ 03 May 2016 20:03:21 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
