interactions:
- request:
    body: !!python/unicode '{"binary": "YmluYXJ5", "age@odata.type": "Edm.Int64",
      "PartitionKey": "pkabcb1791", "ratio": 3.1, "large@odata.type": "Edm.Int64",
      "age": "39", "married": true, "Birthday@odata.type": "Edm.DateTime", "sex":
      "male", "large": "933311100", "birthday@odata.type": "Edm.DateTime", "birthday":
      "1970-10-04T00:00:00Z", "evenratio": 3.0, "RowKey": "rkabcb1791", "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833",
      "binary@odata.type": "Edm.Binary", "Birthday": "1973-10-04T00:00:00Z", "other":
      20, "optional": null, "clsid@odata.type": "Edm.Guid", "deceased": false}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Mon, 02 Oct 2017 20:24:24 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/uttableabcb1791
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/uttableabcb1791(PartitionKey=''pkabcb1791'',RowKey=''rkabcb1791'')']
      etag: [W/"datetime'2017-10-02T20%3A24%3A25.9401967Z'"]
      location: ['https://storagename.table.core.windows.net/uttableabcb1791(PartitionKey=''pkabcb1791'',RowKey=''rkabcb1791'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: !!python/unicode '{"age": "abc", "birthday": "1991-10-04T00:00:00Z", "sex":
      "female", "birthday@odata.type": "Edm.DateTime", "PartitionKey": "pkabcb1791",
      "RowKey": "rkabcb1791", "sign": "aquarius"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: [W/"datetime'2012-06-15T22%3A51%3A44.9662825Z'"]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Mon, 02 Oct 2017 20:24:25 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.table.core.windows.net/uttableabcb1791(PartitionKey='pkabcb1791',RowKey='rkabcb1791')
  response:
    body: {string: !!python/unicode '{"odata.error":{"code":"UpdateConditionNotSatisfied","message":{"lang":"en-US","value":"The
        update condition specified in the request was not satisfied.\nRequestId:6ddc6bb1-0002-0087-31bc-3b01fb000000\nTime:2017-10-02T20:24:25.9842287Z"}}}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2017-04-17']
    status: {code: 412, message: Precondition Failed}
version: 1
