interactions:
- request:
    body: '{"age@odata.type": "Edm.Int64", "optional": null, "PartitionKey": "pkabcb1791",
      "binary": "YmluYXJ5", "Birthday@odata.type": "Edm.DateTime", "deceased": false,
      "evenratio": 3.0, "birthday@odata.type": "Edm.DateTime", "ratio": 3.1, "large":
      "933311100", "binary@odata.type": "Edm.Binary", "other": 20, "birthday": "1970-10-04T00:00:00Z",
      "large@odata.type": "Edm.Int64", "Birthday": "1973-10-04T00:00:00Z", "clsid@odata.type":
      "Edm.Guid", "RowKey": "rkabcb1791", "married": true, "sex": "male", "age": "39",
      "clsid": "c9da6455-213d-42c9-9a79-3e9149a57833"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 10 Aug 2016 18:33:31 GMT']
      x-ms-version: ['2015-07-08']
    method: POST
    uri: https://storagename.table.core.windows.net/uttableabcb1791
  response:
    body: {string: ''}
    headers:
      DataServiceId: ['https://storagename.table.core.windows.net/uttableabcb1791(PartitionKey=''pkabcb1791'',RowKey=''rkabcb1791'')']
      ETag: [W/"datetime'2016-08-10T18%3A33%3A29.5017326Z'"]
      Location: ['https://storagename.table.core.windows.net/uttableabcb1791(PartitionKey=''pkabcb1791'',RowKey=''rkabcb1791'')']
      Preference-Applied: [return-no-content]
      x-ms-version: ['2015-07-08']
    status: {code: 204, message: No Content}
- request:
    body: '{"birthday": "1991-10-04T00:00:00Z", "RowKey": "rkabcb1791", "birthday@odata.type":
      "Edm.DateTime", "PartitionKey": "pkabcb1791", "sex": "female", "age": "abc",
      "sign": "aquarius"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      If-Match: [W/"datetime'2012-06-15T22%3A51%3A44.9662825Z'"]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 10 Aug 2016 18:33:31 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.table.core.windows.net/uttableabcb1791(PartitionKey='pkabcb1791',RowKey='rkabcb1791')
  response:
    body: {string: '{"odata.error":{"code":"UpdateConditionNotSatisfied","message":{"lang":"en-US","value":"The
        update condition specified in the request was not satisfied.\nRequestId:24816f69-0002-006b-1135-f3a25c000000\nTime:2016-08-10T18:33:29.5397338Z"}}}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      x-ms-version: ['2015-07-08']
    status: {code: 412, message: Precondition Failed}
version: 1
