interactions:
- request:
    body: !!python/unicode '{"TableName": "tablef3d21ca0"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 18 Aug 2017 23:12:38 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/Tables(''tablef3d21ca0'')']
      location: ['https://storagename.table.core.windows.net/Tables(''tablef3d21ca0'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: !!python/unicode '{"TableName": "tablef3d21ca0"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Fri, 18 Aug 2017 23:12:39 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: !!python/unicode '{"odata.error":{"code":"TableAlreadyExists","message":{"lang":"en-US","value":"The
        table specified already exists.\nRequestId:cbea7390-0002-0105-3277-18e6fe000000\nTime:2017-08-18T23:12:38.8505700Z"}}}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 409, message: Conflict}
version: 1
