interactions:
- request:
    body: '--batch_77eef4a8-8786-11e7-8239-b8e8564491f6

      Content-Type: multipart/mixed; boundary=changeset_77eef552-8786-11e7-88bd-b8e8564491f6


      --changeset_77eef552-8786-11e7-88bd-b8e8564491f6

      Content-Type: application/http

      Content-Transfer-Encoding: binary


      PUT /table6dd31107(PartitionKey=''001'',RowKey=''batch_insert_replace'') HTTP/1.1

      Content-ID: 1

      Content-Type: application/json

      Accept: application/json;odata=minimalmetadata

      Content-Length: 263


      {"PartitionKey": "001", "RowKey": "batch_insert_replace", "test": "true", "test2":
      "value", "test3": "3", "test3@odata.type": "Edm.Int64", "test4": "1234567890",
      "test4@odata.type": "Edm.Int64", "test5": "2017-08-22T22:08:46Z", "test5@odata.type":
      "Edm.DateTime"}


      --changeset_77eef552-8786-11e7-88bd-b8e8564491f6--

      --batch_77eef4a8-8786-11e7-8239-b8e8564491f6--'
    headers:
      Content-Type: [multipart/mixed; boundary=batch_77eef4a8-8786-11e7-8239-b8e8564491f6]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 22 Aug 2017 22:08:46 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/$batch
  response:
    body: {string: "--batchresponse_466640bc-f18b-4752-be55-9ccb97f1a3cc\r\nContent-Type:\
        \ multipart/mixed; boundary=changesetresponse_18caeb9a-ade1-4e90-a52f-a58cc27a8979\r\
        \n\r\n--changesetresponse_18caeb9a-ade1-4e90-a52f-a58cc27a8979\r\nContent-Type:\
        \ application/http\r\nContent-Transfer-Encoding: binary\r\n\r\nHTTP/1.1 204\
        \ No Content\r\nContent-ID: 1\r\nX-Content-Type-Options: nosniff\r\nCache-Control:\
        \ no-cache\r\nDataServiceVersion: 1.0;\r\nETag: W/\"datetime'2017-08-22T22%3A08%3A46.2304978Z'\"\
        \r\n\r\n\r\n--changesetresponse_18caeb9a-ade1-4e90-a52f-a58cc27a8979--\r\n\
        --batchresponse_466640bc-f18b-4752-be55-9ccb97f1a3cc--\r\n"}
    headers:
      Content-Type: [multipart/mixed; boundary=batchresponse_466640bc-f18b-4752-be55-9ccb97f1a3cc]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Tue, 22 Aug 2017 22:08:46 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/table6dd31107(PartitionKey='001',RowKey='batch_insert_replace')
  response:
    body: {string: '{"odata.metadata":"https://storagename.table.core.windows.net/$metadata#table6dd31107/@Element","odata.etag":"W/\"datetime''2017-08-22T22%3A08%3A46.2304978Z''\"","PartitionKey":"001","RowKey":"batch_insert_replace","Timestamp":"2017-08-22T22:08:46.2304978Z","test":"true","test2":"value","test3@odata.type":"Edm.Int64","test3":"3","test4@odata.type":"Edm.Int64","test4":"1234567890","test5@odata.type":"Edm.DateTime","test5":"2017-08-22T22:08:46Z"}'}
    headers:
      Content-Type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      ETag: [W/"datetime'2017-08-22T22%3A08%3A46.2304978Z'"]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
