interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:21:16 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/encryptionqueuec34e1330
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>{"EncryptedMessageContents": "MPOxPV2+LEA5t1V63P4Hhw==",
      "EncryptionData": {"WrappedContentKey": {"KeyId": "key1", "EncryptedKey": "VI1n005SVnnqhkYyzuK+Z6hD4ksRn0ocOjs9RGnlmnwCItmAEOVg4w==",
      "Algorithm": "A256KW"}, "EncryptionAgent": {"Protocol": "1.0", "EncryptionAlgorithm":
      "AES_CBC_256"}, "ContentEncryptionIV": "a8IeWXrAx4vQO8Xe+08Afg==", "KeyWrappingMetadata":
      {"EncryptionLibrary": "Python 0.37.0"}}}</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:21:17 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/encryptionqueuec34e1330/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a96e7b7c-91a7-467b-9fda-fa7f882a7d81</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:21:18 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:21:18 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAseEXAbw70wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 02 Oct 2017 20:21:18 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 02 Oct 2017 20:21:17 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/encryptionqueuec34e1330/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a96e7b7c-91a7-467b-9fda-fa7f882a7d81</MessageId><InsertionTime>Mon,\
        \ 02 Oct 2017 20:21:18 GMT</InsertionTime><ExpirationTime>Mon, 09 Oct 2017\
        \ 20:21:18 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>{\"\
        EncryptedMessageContents\": \"MPOxPV2+LEA5t1V63P4Hhw==\", \"EncryptionData\"\
        : {\"WrappedContentKey\": {\"KeyId\": \"key1\", \"EncryptedKey\": \"VI1n005SVnnqhkYyzuK+Z6hD4ksRn0ocOjs9RGnlmnwCItmAEOVg4w==\"\
        , \"Algorithm\": \"A256KW\"}, \"EncryptionAgent\": {\"Protocol\": \"1.0\"\
        , \"EncryptionAlgorithm\": \"AES_CBC_256\"}, \"ContentEncryptionIV\": \"a8IeWXrAx4vQO8Xe+08Afg==\"\
        , \"KeyWrappingMetadata\": {\"EncryptionLibrary\": \"Python 0.37.0\"}}}</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
