interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 04 Oct 2017 00:04:40 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename-secondary.queue.core.windows.net/?comp=stats&restype=service
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>live</Status><LastSyncTime>Wed,\
        \ 04 Oct 2017 00:02:36 GMT</LastSyncTime></GeoReplication></StorageServiceStats>"}
    headers:
      content-type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
