interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:15:01 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D56CEE481E4A02"']
      Last-Modified: ['Mon, 05 Feb 2018 23:15:01 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Mon, 05 Feb 2018 23:15:01 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [1B2M2Y8AsgTpgAmY7PhCfg==]
      ETag: ['"0x8D56CEE4823B454"']
      Last-Modified: ['Mon, 05 Feb 2018 23:15:01 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: AAA
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:15:01 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [4fr/s+YU5sL7p0KWliOGtw==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: BBB
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:15:01 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [K7Il8LqaWJMHV6ho7VfZow==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: CCC
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:15:01 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [3vuZ5pqfH24G8VAGsfFmrg==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      If-Modified-Since: ['Mon, 05 Feb 2018 23:30:01 GMT']
      x-ms-date: ['Mon, 05 Feb 2018 23:15:01 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainerdebc1c38/blob1?comp=blocklist
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The\
        \ condition specified using HTTP conditional header(s) is not met.\nRequestId:88c6c900-001e-0064-32d7-9ee474000000\n\
        Time:2018-02-05T23:15:01.2675403Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [ConditionNotMet]
      x-ms-version: ['2017-07-29']
    status: {code: 412, message: The condition specified using HTTP conditional header(s)
        is not met.}
version: 1
