interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:48:30 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://storagename.blob.core.windows.net/retry7a5d119a?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D456CEB1373E3A"']
      Last-Modified: ['Fri, 17 Feb 2017 00:48:30 GMT']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:48:30 GMT']
      x-ms-version: ['2016-05-31']
    method: GET
    uri: https://storagename.blob.core.windows.net/?comp=list&prefix=retry
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://storagename.blob.core.windows.net/\"><Prefix>retry</Prefix><Containers><Container><Name>retry7a5d119a</Name><Properties><Last-Modified>Fri,
        17 Feb 2017 00:48:30 GMT</Last-Modified><Etag>\"0x8D456CEB1373E3A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Container></Containers><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2016-05-31']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 17 Feb 2017 00:48:48 GMT']
      x-ms-version: ['2016-05-31']
    method: DELETE
    uri: https://storagename.blob.core.windows.net/retry7a5d119a?restype=container
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2016-05-31']
    status: {code: 202, message: Accepted}
version: 1
