interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:24:03 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D56CEF8B1DACF1"']
      Last-Modified: ['Mon, 05 Feb 2018 23:24:02 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2018-02-05T23:23:03Z</Start><Expiry>2018-02-06T00:24:03Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:24:03 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container&comp=acl
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D56CEF8B249AD5"']
      Last-Modified: ['Mon, 05 Feb 2018 23:24:03 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:24:03 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.blob.core.windows.net/container9d71916?restype=container&comp=acl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers><SignedIdentifier><Id>testid</Id><AccessPolicy><Start>2018-02-05T23:23:03.0000000Z</Start><Expiry>2018-02-06T00:24:03.0000000Z</Expiry><Permission>r</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D56CEF8B249AD5"']
      Last-Modified: ['Mon, 05 Feb 2018 23:24:03 GMT']
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
version: 1
