interactions:
- request:
    body: AAA
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:42:19 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer3074153d/blob3074153d?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [4fr/s+YU5sL7p0KWliOGtw==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: BBB
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:42:19 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer3074153d/blob3074153d?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [K7Il8LqaWJMHV6ho7VfZow==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: CCC
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:42:20 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer3074153d/blob3074153d?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: ''}
    headers:
      Content-MD5: [3vuZ5pqfH24G8VAGsfFmrg==]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:42:20 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer3074153d/blob3074153d?comp=blocklist
  response:
    body: {string: ''}
    headers:
      Content-MD5: [GD5pABqdSyI51XhMKrkBRA==]
      ETag: ['"0x8D4CA1EE48450BE"']
      Last-Modified: ['Thu, 13 Jul 2017 18:42:19 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:42:20 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.blob.core.windows.net/utcontainer3074153d/blob3074153d?comp=blocklist&blocklisttype=committed
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>MQ==</Name><Size>3</Size></Block><Block><Name>Mg==</Name><Size>3</Size></Block><Block><Name>Mw==</Name><Size>3</Size></Block></CommittedBlocks></BlockList>"}
    headers:
      Content-Type: [application/xml]
      ETag: ['"0x8D4CA1EE48450BE"']
      Last-Modified: ['Thu, 13 Jul 2017 18:42:19 GMT']
      x-ms-blob-content-length: ['9']
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
