interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:14:16 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D5D631FF6B4AE0"']
      Last-Modified: ['Tue, 19 Jun 2018 22:14:16 GMT']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Tue, 19 Jun 2018 22:14:17 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [1B2M2Y8AsgTpgAmY7PhCfg==]
      ETag: ['"0x8D5D631FF7ACDA3"']
      Last-Modified: ['Tue, 19 Jun 2018 22:14:17 GMT']
      x-ms-content-crc64: [AAAAAAAAAAA=]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: AAA
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:14:17 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1?comp=block&blockid=MQ%3D%3D
  response:
    body: {string: ''}
    headers:
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: BBB
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:14:17 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1?comp=block&blockid=Mg%3D%3D
  response:
    body: {string: ''}
    headers:
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: CCC
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:14:17 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1?comp=block&blockid=Mw%3D%3D
  response:
    body: {string: ''}
    headers:
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <BlockList><Latest>MQ==</Latest><Latest>Mg==</Latest><Latest>Mw==</Latest></BlockList>'
    headers:
      If-Unmodified-Since: ['Tue, 19 Jun 2018 21:59:17 GMT']
      x-ms-date: ['Tue, 19 Jun 2018 22:14:17 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storagename.blob.core.windows.net/utcontainer19a21d1b/blob1?comp=blocklist
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The
        condition specified using HTTP conditional header(s) is not met.\nRequestId:0317bff0-401e-0007-4c1a-08fe58000000\nTime:2018-06-19T22:14:17.4826412Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [ConditionNotMet]
      x-ms-version: ['2018-03-28']
    status: {code: 412, message: The condition specified using HTTP conditional header(s)
        is not met.}
version: 1
