interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:15:33 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965?restype=container
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The
        specified container already exists.\nRequestId:99c1ed05-201e-001f-021b-08f1b3000000\nTime:2018-06-19T22:15:33.9537966Z</Message></Error>"}
    headers:
      Content-Type: [application/xml]
      x-ms-error-code: [ContainerAlreadyExists]
      x-ms-version: ['2018-03-28']
    status: {code: 409, message: The specified container already exists.}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Tue, 19 Jun 2018 22:15:34 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D5D6322D5B97FF"']
      Last-Modified: ['Tue, 19 Jun 2018 22:15:34 GMT']
      x-ms-content-crc64: [vo7q9sPVKY0=]
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:15:34 GMT']
      x-ms-version: ['2018-03-28']
    method: HEAD
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D5D6322D5B97FF"']
      Last-Modified: ['Tue, 19 Jun 2018 22:15:34 GMT']
      x-ms-access-tier: [Hot]
      x-ms-access-tier-inferred: ['true']
      x-ms-blob-type: [BlockBlob]
      x-ms-content-crc64: [vo7q9sPVKY0=]
      x-ms-creation-time: ['Tue, 19 Jun 2018 22:15:34 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:15:34 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"utcontainer21831965\"><Blobs><Blob><Name>blob21831965</Name><Properties><Creation-Time>Tue,
        19 Jun 2018 22:15:34 GMT</Creation-Time><Last-Modified>Tue, 19 Jun 2018 22:15:34
        GMT</Last-Modified><Etag>0x8D5D6322D5B97FF</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-access-tier: [Archive]
      x-ms-date: ['Tue, 19 Jun 2018 22:15:34 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965?comp=tier
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:15:34 GMT']
      x-ms-version: ['2018-03-28']
    method: HEAD
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      Content-Type: [application/octet-stream]
      ETag: ['"0x8D5D6322D5B97FF"']
      Last-Modified: ['Tue, 19 Jun 2018 22:15:34 GMT']
      x-ms-access-tier: [Archive]
      x-ms-access-tier-change-time: ['Tue, 19 Jun 2018 22:15:34 GMT']
      x-ms-blob-type: [BlockBlob]
      x-ms-content-crc64: [vo7q9sPVKY0=]
      x-ms-creation-time: ['Tue, 19 Jun 2018 22:15:34 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:15:34 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965?restype=container&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://blobstoragename.blob.core.windows.net/\" ContainerName=\"utcontainer21831965\"><Blobs><Blob><Name>blob21831965</Name><Properties><Creation-Time>Tue,
        19 Jun 2018 22:15:34 GMT</Creation-Time><Last-Modified>Tue, 19 Jun 2018 22:15:34
        GMT</Last-Modified><Etag>0x8D5D6322D5B97FF</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-CRC64>vo7q9sPVKY0=</Content-CRC64><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control
        /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Archive</AccessTier><AccessTierChangeTime>Tue,
        19 Jun 2018 22:15:34 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Tue, 19 Jun 2018 22:15:34 GMT']
      x-ms-version: ['2018-03-28']
    method: DELETE
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 16 Jul 2018 22:34:26 GMT']
      x-ms-version: ['2018-03-28']
    method: DELETE
    uri: https://blobstoragename.blob.core.windows.net/utcontainer21831965/blob21831965
  response:
    body: {string: ''}
    headers:
      x-ms-delete-type-permanent: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 202, message: Accepted}
version: 1
