interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:53:03 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share72fe113c?restype=share
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4CA20647E8B04"']
      Last-Modified: ['Thu, 13 Jul 2017 18:53:03 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:53:04 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share72fe113c/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4CA20645EAE54"']
      Last-Modified: ['Thu, 13 Jul 2017 18:53:03 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['1024']
      x-ms-date: ['Thu, 13 Jul 2017 18:53:04 GMT']
      x-ms-type: [file]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share72fe113c/file1
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4CA20646C1E49"']
      Last-Modified: ['Thu, 13 Jul 2017 18:53:03 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-content-length: ['1025']
      x-ms-date: ['Thu, 13 Jul 2017 18:53:04 GMT']
      x-ms-type: [file]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.file.core.windows.net/share72fe113c/dir1/file2
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D4CA206472D645"']
      Last-Modified: ['Thu, 13 Jul 2017 18:53:03 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 13 Jul 2017 18:53:04 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.file.core.windows.net/share72fe113c?restype=directory&comp=list
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.file.core.windows.net/\" ShareName=\"\
        share72fe113c\" DirectoryPath=\"\"><Entries><Directory><Name>dir1</Name><Properties\
        \ /></Directory><Directory><Name>dir2</Name><Properties /></Directory><File><Name>file1</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
