interactions:
- request:
    body: !!python/unicode '{"TableName": "table967e1246"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 13 Sep 2017 00:55:33 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: !!python/unicode ''}
    headers:
      dataserviceid: ['https://storagename.table.core.windows.net/Tables(''table967e1246'')']
      location: ['https://storagename.table.core.windows.net/Tables(''table967e1246'')']
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 204, message: No Content}
- request:
    body: !!python/unicode '{"TableName": "table967e1246"}'
    headers:
      Content-Type: [application/json]
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      Prefer: [return-no-content]
      x-ms-date: ['Wed, 13 Sep 2017 00:55:33 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.table.core.windows.net/Tables
  response:
    body: {string: !!python/unicode '{"odata.error":{"code":"TableAlreadyExists","message":{"lang":"en-US","value":"The
        table specified already exists.\nRequestId:201e3fb4-0002-00b8-0f2b-2cb627000000\nTime:2017-09-13T00:55:33.6547382Z"}}}'}
    headers:
      content-type: [application/json;odata=minimalmetadata;streaming=true;charset=utf-8]
      preference-applied: [return-no-content]
      x-ms-version: ['2017-04-17']
    status: {code: 409, message: Conflict}
[...]
- request:
    body: null
    headers:
      DataServiceVersion: [3.0;NetFx]
      MaxDataServiceVersion: ['3.0']
      x-ms-date: ['Wed, 13 Sep 2017 00:55:33 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.table.core.windows.net/Tables?%24top=3
  response:
    body: {string: !!python/unicode '{"value":[{"TableName":"CAPStable46fbe971b73747798598f01f3ab5c87c"},{"TableName":"CAPStable95217c74610847f795a116878ecde584"},{"TableName":"CAPStablea7d5647c99454017a0acb0d9ebe149c4"}]}'}
    headers:
      content-type: [application/json;odata=nometadata;streaming=true;charset=utf-8]
      x-ms-continuation-nexttablename: [1!80!Y2Fwc3RhYmxlYjY4M2YyMDViYzZmNDY3ZDg3M2U0NmNjOGQ4NmEzN2EBMDFkMzBjMDcxMmYzZDU3ZA--]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
