interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:43:42 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queue6405110f
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:43:42 GMT']
      x-ms-version: ['2017-04-17']
    method: POST
    uri: https://storagename.queue.core.windows.net/queue6405110f/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>67088baa-c7a8-46f0-b52b-79a4c4da593c</MessageId><InsertionTime>Fri,\
        \ 03 Nov 2017 18:43:47 GMT</InsertionTime><ExpirationTime>Fri, 10 Nov 2017\
        \ 18:43:47 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAzwLwrtNU0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 03 Nov 2017 18:43:47 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 03 Nov 2017 18:43:43 GMT']
      x-ms-version: ['2017-04-17']
    method: GET
    uri: https://storagename.queue.core.windows.net/queue6405110f/messages?numofmessages=4&visibilitytimeout=20
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>67088baa-c7a8-46f0-b52b-79a4c4da593c</MessageId><InsertionTime>Fri,\
        \ 03 Nov 2017 18:43:47 GMT</InsertionTime><ExpirationTime>Fri, 10 Nov 2017\
        \ 18:43:47 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAXYL0utNU0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 03 Nov 2017 18:44:07 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message1</MessageText></QueueMessage><QueueMessage><MessageId>6bcf14db-9cc5-4288-9f40-65ab7c6b0343</MessageId><InsertionTime>Fri,\
        \ 03 Nov 2017 18:43:47 GMT</InsertionTime><ExpirationTime>Fri, 10 Nov 2017\
        \ 18:43:47 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAXYL0utNU0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 03 Nov 2017 18:44:07 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message2</MessageText></QueueMessage><QueueMessage><MessageId>0c57ff83-9be2-4f33-b437-656fccd66125</MessageId><InsertionTime>Fri,\
        \ 03 Nov 2017 18:43:47 GMT</InsertionTime><ExpirationTime>Fri, 10 Nov 2017\
        \ 18:43:47 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAXYL0utNU0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 03 Nov 2017 18:44:07 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message3</MessageText></QueueMessage><QueueMessage><MessageId>2e9fda4e-9b74-47e2-a9c0-1f61e82833e0</MessageId><InsertionTime>Fri,\
        \ 03 Nov 2017 18:43:47 GMT</InsertionTime><ExpirationTime>Fri, 10 Nov 2017\
        \ 18:43:47 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAXYL0utNU0wE=</PopReceipt><TimeNextVisible>Fri,\
        \ 03 Nov 2017 18:44:07 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>message4</MessageText></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
version: 1
