interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:29:44 GMT']
      x-ms-version: ['2017-07-29']
    method: PUT
    uri: https://storagename.queue.core.windows.net/queuebf740c50
  response:
    body: {string: ''}
    headers:
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>message1</MessageText></QueueMessage>'
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:29:44 GMT']
      x-ms-version: ['2017-07-29']
    method: POST
    uri: https://storagename.queue.core.windows.net/queuebf740c50/messages
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>abbba321-7b89-4489-9184-f8225d0e8e6d</MessageId><InsertionTime>Mon,\
        \ 05 Feb 2018 23:29:44 GMT</InsertionTime><ExpirationTime>Mon, 12 Feb 2018\
        \ 23:29:44 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAccZiNNme0wE=</PopReceipt><TimeNextVisible>Mon,\
        \ 05 Feb 2018 23:29:44 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Mon, 05 Feb 2018 23:29:45 GMT']
      x-ms-version: ['2017-07-29']
    method: GET
    uri: https://storagename.queue.core.windows.net/queuebf740c50/messages?peekonly=true
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList\
        \ />"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2017-07-29']
    status: {code: 200, message: OK}
version: 1
