interactions:
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:18:37 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container4ef015fd?restype=container
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14ABE98BCAF"']
      Last-Modified: ['Wed, 10 Aug 2016 18:18:35 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: hello world
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Wed, 10 Aug 2016 18:18:38 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container4ef015fd/blob1
  response:
    body: {string: ''}
    headers:
      Content-MD5: [XrY7u+Ae7tCTyyK7j1rNww==]
      ETag: ['"0x8D3C14ABEF00B44"']
      Last-Modified: ['Wed, 10 Aug 2016 18:18:36 GMT']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:18:38 GMT']
      x-ms-version: ['2015-07-08']
    method: PUT
    uri: https://storagename.blob.core.windows.net/container4ef015fd/blob1?comp=snapshot
  response:
    body: {string: ''}
    headers:
      ETag: ['"0x8D3C14ABEF00B44"']
      Last-Modified: ['Wed, 10 Aug 2016 18:18:36 GMT']
      x-ms-snapshot: ['2016-08-10T18:18:36.5475181Z']
      x-ms-version: ['2015-07-08']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Wed, 10 Aug 2016 18:18:38 GMT']
      x-ms-version: ['2015-07-08']
    method: GET
    uri: https://storagename.blob.core.windows.net/container4ef015fd?comp=list&restype=container&include=snapshots
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://storagename.blob.core.windows.net/\" ContainerName=\"\
        container4ef015fd\"><Blobs><Blob><Name>blob1</Name><Snapshot>2016-08-10T18:18:36.5475181Z</Snapshot><Properties><Last-Modified>Wed,\
        \ 10 Aug 2016 18:18:36 GMT</Last-Modified><Etag>0x8D3C14ABEF00B44</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType></Properties></Blob><Blob><Name>blob1</Name><Properties><Last-Modified>Wed,\
        \ 10 Aug 2016 18:18:36 GMT</Last-Modified><Etag>0x8D3C14ABEF00B44</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Blob><Blob><Name>blob2</Name><Properties><Last-Modified>Wed,\
        \ 10 Aug 2016 18:18:36 GMT</Last-Modified><Etag>0x8D3C14ABEF7FA9A</Etag><Content-Length>11</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>XrY7u+Ae7tCTyyK7j1rNww==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"}
    headers:
      Content-Type: [application/xml]
      x-ms-version: ['2015-07-08']
    status: {code: 200, message: OK}
version: 1
